
h1 {
margin-top:25px !important;
margin-right:16px !important;
font-size:120%;
padding-bottom:10px;
border-bottom:solid 2px #e6e6e6;
}

.h1area {
padding-right:16px;
}

.btArea {
margin-top:20px;
}

.btArea .btbox {
float:left;
width:321px;
}
.btArea .btbox .notes {
margin-top:5px;
}

.borderarea .btbox div {
padding:15px 18px;
}

.borderarea {
margin-top:24px;
width:695px;
background:url(../images/move_bg_02.gif) repeat-y top left;
}
.borderarea .btInner {
background:url(../images/move_bg_01.gif) no-repeat top left;
}
.borderarea .btInner2 {
background:url(../images/move_bg_01.gif) no-repeat bottom left;
}

.leftbox {
margin-right:53px;
}

.btArea .btbox ul {
margin-top:13px;
margin-left:2.5em;
}
.btArea .btbox li {
line-height:1.2;
margin-bottom:5px;
}

.btArea .btbox dt {
font-weight:bold;
}