

#contents {
width:750px;
float:left;
margin-left:1px;
}

div#mainall div#contents {
width:920px;
margin-left:0;

float:left;
}

div#contents p, div#popHierarchical p {
font-size:80%;
line-height:1.6;
}


/* ---------------------------------------- */
/* 外部リンク　ポップアップ */
/* ---------------------------------------- */
#popscroll {
overflow:auto;
}
#outside {
padding:0 0 27px 0;
}
#outside p {
font-size:80%;
line-height:1.5;
text-align:left;
}
#outside h1 {
font-size:105%;
font-weight:bold;
margin:0;
margin-bottom:10px;
padding:14px 10px 10px 10px;
border-bottom:1px solid #e6e6e6;
}
#outside h2 {
font-size:90%;
margin:20px 0 8px 0;
text-align:left;
}

#outside .mainBlock {
margin:0 10px;
text-align:center;
}

#outside .mainBlock p.usageLink {
margin:4em 0 0 0;
text-align:center;
}
#outside .mainBlock .linkBox {
margin:18px auto 0;
width:400px;
}
#outside .mainBlock .linkBox p.next {
float:left;
}
#outside .mainBlock .linkBox p.close {
float:right;
}
/* ---------------------------------------- */

/* ---------------------------------------- */
/* block */
/* ---------------------------------------- */
div#contents h1 {
margin:0 0 0 16px;
}

div#contents p.h1read {
margin:25px 16px 0px 0px;
}
div#contents .mainContents p.h1read {
margin:25px 0px 0px;
}

div#contents h2 {
margin:30px 16px 20px 0;
padding:0 0 10px 0;
border-bottom:solid #e6e6e6 2px;
}
div#contents p.h2read {
margin-right:16px;
}

div#contents .mainContents h2 {
margin:25px 0 0 0;
padding:0;
border:none; 
}

.h2PlusButton {
position:relative;
}
.h2PlusButton p {
position:absolute;
top:0;
right:16px;
}


div#contents h3, div#contents h4 {
margin:25px 0 0 0;
}

div#contents h4, div#contents h3.imgoff {
padding:3px 2px 2px 5px;
color:#151515;
font-weight:bold;
font-size:80%;
line-height:1.5;
background-color:#eee;
}

div#contents h4.normal, div#contents h5.normal {
margin-top:20px;
padding:0;
background-color:transparent;
} 
div#popHierarchical h5 {
font-size:80%;
line-height:1.5;
} 

div#contents .borderBox h4, div#contents .borderBox p.boxtitle {
margin:0;
color:#151515;
background-color:#fff;
padding:2px 10px;
border-bottom:solid 1px #e6e6e6;
}

div#contents .div2leftBox h3, div#contents .div2rightBox h3 {
margin-top:0px;
padding:0px;
background-color:#fff;
}

div#contents h3.bg1 {
padding:3px 2px 2px 5px;
color:#fff;
font-weight:bold;
font-size:80%;
background-color:#8c8c8c;
}

div#contents h3.bg2 {
padding:3px 2px 2px 5px;
color:#fff;
font-weight:bold;
font-size:80%;
background-color:#8c8c8c;
}

div#contents ul {
font-size:80%;
list-style-type:disc;
}
div#contents ul.list {
margin-left:15px;
}

div#contents ul ul {
font-size:100%;
list-style-type:circle;
}

div#contents ul p {
font-size:100%;
}

div#contents ol {
font-size:80%;
}
div#contents ol ul,
div#contents ol ul li,
div#contents ol ol,
div#contents ol p {
font-size:100%;
}

div#contents dl {
font-size:80%;
}

div#contents dl dl,
div#contents dl p,
div#contents dl ul,
div#contents dl ol {
font-size:100%;
}

div#contents ul th p,
div#contents ul td p,
div#contents ol th p,
div#contents ol td p,
div#contents dd th p,
div#contents dd td p {
font-size:80%;
}

div#contents .linkBox p.boxGrayLinkPop {
margin-top:10px;
}

/* -------------------------- */
/* pankuzu */
/* -------------------------- */
#crumb {
margin:0;
padding:9px 0 9px 0;
text-align:right;
width:750px;
color:#151515;
clear:both;
}
#mainall #crumb {
width:920px;
}

div#contents #crumb p {
padding-right:16px;
font-size:70%;
line-height:1.4;
}

#crumb span.stay {
font-weight:bold;
}

#crumb a:link,
#crumb a:visited {
text-decoration:underline;
}
#crumb a:active,
#crumb a:hover {
color:#ef0041;
text-decoration:underline;
}
/* -------------------------- */

/* -------------------------- */
/* general */
/* -------------------------- */
div#contents div.notes,
div#contents p.notes,
div#contents span.notes  {
font-size:70%;
line-height:1.5;
}
div#popHierarchical div.notes,
div#popHierarchical p.notes,
div#popHierarchical span.notes  {
font-size:70%;
line-height:1.5;
}

div p sub, div li sub, div td sub, div h4 sub, div h5 sub {
vertical-align:-1%;
}
div p sup, div li sup, div td sup, div h4 sup, div h5 sup {
vertical-align:2px;
}

div#contents div.notes p, div#popHierarchical div.notes p {
font-size:100%;
}

/* area */
div#contents div.h1area {
clear:both;
margin:0 0 0 16px;
}

div#contents div.h2area {
margin:0;
}
div.h2area p {
margin-top:10px;
}

div.h2area .p_mgoff p {
margin-top:0;
}

div#contents .mainContents div.h2area {
margin:0 10px;
width:698px;
}

div#contents div.h3area {
margin:0 10px;
}
div#contents div.h4area {
margin-left:10px;
}

div.mainContents {
margin-right:15px;
width:718px;
}

#mainall div.mainContents {
margin-right:16px;
width:888px;
}

div#contents .div2leftBox {
float:left;
margin-right:15px;
width:351px;
}
div#contents .div2rightBox {
float:left;
width:351px;
}
div#contents .imgLeft {
margin-top:10px
}
div#contents .imgLeft p {
margin-top:0;
}
div#contents .imgLeft p.img {
float:left;
margin:0 15px 0 0;
width:211px;
}
div#contents .imgLeft div {
margin-left:226px;
}
div#contents .imgLeft div div {
margin-left:0;
}

/*  */
div#contents .imgLeft div.txtBox {
margin-left:226px;
}
/*  */

/* -------------------------- */
/* guideline */
/* -------------------------- */

div#contents .imgLeftBlock {
margin-top:10px;
width:698px;
}
div#contents .imgLeftBlock p {
margin-top:0;
}
div#contents .imgLeftBlock .imgBox {
float:left;
margin:0 15px 0 0;
width:211px;
}
div#contents .imgLeftBlock div {
}
div#contents .imgLeftBlock div div {
margin-left:0;
}
div#contents .imgLeftBlock div.txtBox {
float:left;
width:472px;
}

/* -------------------------- */


/* -------------------------- */
/* for category top */
/* -------------------------- */
/* h2なし */
div.divide {
margin:25px 0 0 0;
}
div.divide div.titleLinkList {
margin-top:0;
}
/*  --   */

div.titleLinkList {
margin:15px 0 0 0;
padding:0 0px 0 10px;
}
div.h2area div.titleLinkList {
margin:15px 0 0 0;
padding:0;
}
div.h2area div.divide div.titleLinkList {
margin:15px 0 0 0;
padding:0 0px 0 10px;
}

div#contents div.titleLinkList h3 {
margin:0
}

#general div.titleLinkList p {
margin:0;
}

div.titleLinkList div.textBlock {
padding:10px 0 10px 10px;
}

div.titleLinkList div.textBlock p{
margin-top:0;
}
div.titleLinkList div.textBlock p.pBottomon{
padding-bottom:10px;
}

div.titleLinkList div.left {
float:left;
width:341px;
margin-right:16px;
margin-bottom:10px;
}
div.titleLinkList div.right {
float:left;
width:341px;
}
div.titleLinkList div.rightBottom {
float:left;
width:276px;
margin-bottom:10px;
}

/*   */

div.threeColumn div.box {
float:left;
width:228px;
margin-right:17px;
}
div.threeColumn div.right {
margin-right:0px;
}


/* for category top w/img left */
div.titleLinkList div.withImg {
width:321px;
margin:10px 0 0 10px;
}

div.titleLinkList div.withImg p {
}

div.titleLinkList div.withImg div.leftIn {
float:left;
width:102px;
}

div.titleLinkList div.withImg div.rightIn {
float:left;
width:219px;
}
/* -------------------------- */

/*  */
.carNavigation {
width:610px;
height:32px;
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/car_bg_01.gif);
background-repeat:repeat-x;
}

/* car banner */
.carBannerArea {
clear:both;
width:610px;
margin:0;
padding:6px 0 0 10px;
}

div.carBannerArea a{
float:left;
width:192px;
margin-right:7px;
margin-bottom:4px;
}

div.carBannerArea a.lastLink{
margin:0;
}

/* division */


/* newsdate */
div.newsdate {
width:570px;
}

div.newsdate div.left {
float:left;
width:140px;
margin:0;
padding:0;
padding-right:15px;
}
div.newsdate div.right {
float:left;
width:410px;
margin:0;
padding:0;
}

/* topmessage */
div#contents div.topmessage div.left {
float:left;
width:300px;
margin:0;
}
div#contents div.topmessage div.right {
float:left;
width:150px;
margin:0;
padding:0;
}


/*whatsnew追加*/
div.h1area .h1txt {
margin-left:10px;
margin-top:30px;
}
div#special_newsArea, div#carlineup_newsArea {
margin-bottom:30px;
}
div#special_newsArea h2, div#carlineup_newsArea h2 {
margin-bottom:10px;
margin-top:20px;
}
div#news_txtArea {
width:580px;
height:6.1em;
overflow:auto;
}
div#carlineup_newsArea div#news_txtArea {
width:566px;
height:5em;
overflow:auto;
}
div#news_txtArea ul {
margin:0;
padding:0;
}
div#news_txtArea li {
margin-left:0;
margin-bottom:2px;
padding-left:1em;
list-style:none;
background-image:url(/share/images/arrow01.gif);
background-position:top left;
background-repeat:no-repeat;
}


/* topflash代替えエリア */
#noflash {
padding:170px 0;
width:780px;
text-align:center;
}

/* -------------------------- */
/*linkbox*/
/* -------------------------- */
.boxGrayLink {
background:#e6e6e6;
}
.boxGrayLink span {
padding:3px 5px;
}
span.boxGrayLinkPop {
background:#e6e6e6;
}
p.boxGrayLinkPop span, td.boxGrayLinkPop span {
padding:4px 4px 4px 12px;
background:#e6e6e6 url(/share/images/arrow05.gif) no-repeat 5px 0.6em;
}
div#contents p.boxGrayLinkPop {
margin-top:0px;
}
p.boxGrayLinkPop img {
margin:4px 0 4px 0;
vertical-align:middle;
}
p.boxGrayLinkPop > img {
margin:0;
}

span.boxGrayLinkPop img {
margin:0.25em 0;
vertical-align:middle;
}
span.boxGrayLinkPop > img {
margin:0;
}
/* -------------------------- */
/**/
.blankimg {
margin:0.25em 0;
vertical-align:middle;
}
p > .blankimg {
margin:0;
}
/*---------------------------------------------- */
/* アンカーリンク */
/* -------------------------- */

/*h2*/
.division_link_H2 {
margin:25px 0 0 0;
width:734px;
}
.division_link_H2 li {
list-style:none;
margin:0 10px 0.4em 0;

float:left;
width:229px;
list-style:none;
}
.division_link_H2 li img {
vertical-align:bottom;
}
.division_link_H2 li a {
background-image:url(/share/images/arrow03.gif);
background-position:left center;
background-repeat:no-repeat;
padding-left:12px;
}

/*h3*/
.division_link_H3 {
margin:25px 0 0 0;
width:734px;
}
.division_link_H3 li {
margin:0 10px 0.4em 0;
float:left;
width:229px;
list-style:none;
}
.division_link_H3 li img {
vertical-align:bottom;
}
.division_link_H3 li a {
background-image:url(/share/images/arrow03.gif);
background-position:0 0.25em;
background-repeat:no-repeat;
padding-left:12px;
}

/*---------------------------------------------- */
/* division_link guideline */
/*---------------------------------------------- */
.divisionLink {
margin:20px 0 0 0;
padding-bottom:10px;
width:734px;
}
.divisionLink li {
margin:0 10px 0.4em 0;
float:left;
width:229px;
list-style:none;
line-height:1.4;
}
.divisionLink li span {
display:block;
background-image:url(/share/images/arrow03.gif);
background-position:0 0.25em;
background-repeat:no-repeat;
padding-left:15px;
}
/*---------------------------------------------- */

.division_LinkNumber {
margin:25px 0 0 0;
}
.division_LinkNumber li {
margin:0 0 0.4em 10px;
list-style:none;
background:url(/share/images/arrow03.gif);
background-position:0 0.28em;
background-repeat:no-repeat;
padding:0 0 0 15px;
line-height:1.4;
}

/*---------------------------------------------- */

/*---------------------------------------------- */
/* outerLink */
/*---------------------------------------------- */
div#contents p.outerLink, div .popcontents p.outerLink {
margin-top:15px;
padding:0 0 0 14px;
background:url(/share/images/arrow04.gif) no-repeat left center;
}
div#contents p.outerLink2 {
margin-top:0;
padding:0 0 0 14px;
background:url(/share/images/arrow04.gif) no-repeat left center;
}
/**/
div#contents div.outerLink {
margin-top:15px;
}
div#contents div.outerLink p {
margin-top:3px;
}
div#contents div.outerLink p.stay {
padding:3px 3px 3px 11px;
}
div#contents div.outerLink p.stay span{
padding:3px;
background:#eee;
font-weight:bold;
}
div#contents div.outerLink p a {
padding-left:14px;
background:url(/share/images/arrow04.gif) no-repeat left center;
vertical-align:top;
line-height:1.1;
}
div#contents div.outerLink p a.prev {
padding:0 0 0 14px;
background:url(/share/images/arrow06.gif) no-repeat left center;
vertical-align:top;
line-height:1;
}
div#contents div.outerLink p img {
vertical-align:bottom;
}
/*---------------------------------------------- */

/*---------------------------------------------- */
/* outerLink guideline */
/*---------------------------------------------- */
div#contents p.linkStd, div.popcontents p.linkStd {
margin-top:15px;
padding:0 0 0 14px;
background:url(/share/images/arrow04.gif) no-repeat left center;
}
/*div#contents p.linkStd2 {
margin-top:0;
padding:0 0 0 14px;
background:url(/share/images/arrow04.gif) no-repeat left center;
}*/
/**/
div#contents div.linkStd, div.popcontents div.linkStd {
margin-top:15px;
}
div#contents div.linkStd p, div.popcontents div.linkStd p {
margin-top:3px;
}
div#contents div.linkStd p span, div.popcontents div.linkStd p span {
display:block;
padding-left:14px;
background:url(/share/images/arrow04.gif) no-repeat 0 0.25em;
}
div#contents div.linkStd p a, div.popcontents div.linkStd p a {
line-height:1.4;
}
div#contents div.linkStd p img, div.popcontents div.linkStd p img {
vertical-align:bottom;
}
img.pdficon {
vertical-align:bottom;
}
div#contents div.linkStd, div.popcontents div.linkStd {
margin-top:15px;
}
div#contents td.linkStd span, div.popcontents td.linkStd span {
display:block;
padding-left:14px;
background:url(/share/images/arrow04.gif) no-repeat 0 0.15em;
}
div#contents td.linkStd span.normal, div.popcontents td.linkStd span.normal {
display:inline;
padding-left:0;
background:none;
}
/*---------------------------------------------- */



#general .marginTopoff, #pop .marginTopoff {
margin-top:0;
}
#general .marginRightoff, #pop .marginTopoff {
margin-right:0;
}

/* boxgray */
.BoxGray {
padding:10px;
background:#eee;
}

/* リンク赤 */
a.color2:link {
color:#ef0041;
text-decoration:underline;
}

a.color2:visited {
color:#ef0041;
text-decoration:underline;
}

a.color2:active {
color:#ef0041;
text-decoration:underline;
}

a.color2:hover {
color:#ef0041;
text-decoration:underline;
}

/**/


.mainContents h2,
.mainContents h3,
.thirdHierarchical h2,
div#contents .fourthHierarchical_tab h4 {
font-size:100%;
background:url(/share/images/h3_bg_02.gif) repeat-y top left;
}

.mainContents h2 span,
.mainContents h3 span,
.thirdHierarchical h2 span,
.fourthHierarchical_tab h4 span {
display:block;
background:url(/share/images/h3_bg_01.gif) no-repeat top left;
}
.mainContents h2 span span,
.mainContents h3 span span,
.thirdHierarchical h2 span span,
.fourthHierarchical_tab h4 span span{
display:block;
padding:2px 0 0 10px;
line-height:30px;
background:url(/share/images/h3_bg_03.gif) no-repeat bottom left;
}
.mainContents h2 span > span,
.mainContents h3 span > span,
.thirdHierarchical h2 span > span,
.fourthHierarchical_tab h4 span > span{
padding:1px 0 0 10px;
}

.mainContents h2 span span sub,
.mainContents h3 span span sub,
.thirdHierarchical h2 span span sub,
.fourthHierarchical_tab h4 span span sub{
vertical-align:-1%;
}

.mainContents .cmTitle h3  {
background:#fff;
font-size:80%;
}