
dl,dt,dd,ul,ol,li {
margin:0;
padding:0;
border:0;
}

/* global navigation */


#global {
margin:0;
padding:0;
padding-top:1px;
padding-bottom:1px;
width:921px;
clear:both;
background-color:#fff;
background-image:url(/share/images/cmn_bg_02.gif);
background-repeat:repeat-y;
}

#global div.globalArea {
width:920px;
height:22px;
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/global_bg_01.gif);
background-repeat:repeat-x;
}

#global div.globalArea div.inner {
border-left:1px solid #D6D6D6;
margin-left:13px;
}

#global ul {
margin:0;
padding:0;
}

#global ul li {
float:left;
list-style-type:none;
}

#global ul li img {
vertical-align:top;
}


/* local navigation */

#localNav {
float:left;
margin:0;
padding:0;
width:169px;
}

.localNavArea {
margin:0;
margin-bottom:1em;
padding:0;
text-align:left;
width:169px;
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/localnv_im_01.gif);
background-repeat:repeat-y;
}

#localNav div.localNavArea ul li {
list-style-type:none;
}

#localNav div.localNavArea ul li a {
text-decoration:none;
}


#localNav div.localNavArea ul li a {
display:block;
margin:0;
padding:0;
width:169px;
/*height:29px;*/
text-decoration:none;
font-size:68%;
color:#151515;
}

#localNav div.localNavArea ul li a span {
display:block;
margin:0;
margin-left:6px;
padding:12px 5px 10px 16px;
}

#localNav div.localNavArea ul li.parent a span {
padding-bottom:3px !important;
}

/* sub navigation */
#localNav div.localNavArea ul li.child {
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/localnv_im_04.gif);
background-repeat:no-repeat;
background-position:24px 0;
}

#localNav div.localNavArea ul li.cBtm {
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/localnv_im_05.gif);
background-repeat:no-repeat;
background-position:24px 0;
}

#localNav div.localNavArea ul li.child a span {
display:block;
margin:0;
margin-left:6px;
padding:8px 5px 0 29px !important;
}

#localNav div.localNavArea ul li.cBtm a span {
padding-bottom:5px !important;
}


#localNav div.localNavArea ul li a:link {
text-decoration:none;
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/localnv_im_02.gif);
background-repeat:no-repeat;
}
#localNav div.localNavArea ul li a:visited {
text-decoration:none;
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/localnv_im_02.gif);
background-repeat:no-repeat;
}
#localNav div.localNavArea ul li a:active {
text-decoration:none;
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/localnv_im_02_a.gif);
background-repeat:no-repeat;
}
#localNav div.localNavArea ul li a:hover {
text-decoration:none;
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/localnv_im_02_a.gif);
background-repeat:no-repeat;
}

#localNav div.localNavArea ul li#lnav01 a:link,
#localNav div.localNavArea ul li.child a:link  {
text-decoration:none;
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/localnv_im_01.gif);
background-repeat:no-repeat;
}
#localNav div.localNavArea ul li#lnav01 a:visited,
#localNav div.localNavArea ul li.child a:visited {
text-decoration:none;
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/localnv_im_01.gif);
background-repeat:no-repeat;
}
#localNav div.localNavArea ul li#lnav01 a:active,
#localNav div.localNavArea ul li.child a:active {
text-decoration:none;
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/localnv_im_01_a.gif);
background-repeat:no-repeat;
}
#localNav div.localNavArea ul li#lnav01 a:hover,
#localNav div.localNavArea ul li.child a:hover {
text-decoration:none;
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/localnv_im_01_a.gif);
background-repeat:no-repeat;
}


/* sub navigation */

#localNav div.localNavArea ul li a.stay {
text-decoration:none;
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/localnv_im_02_a.gif);
background-repeat:no-repeat;
}

#localNav div.localNavArea ul li#lnav01 a.stay,
#localNav div.localNavArea ul li.child a.stay {
text-decoration:none;
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/localnv_im_01_a.gif) !important;
background-repeat:no-repeat;
}


/* related link */

.relatedLink {
margin:0;
padding:0 10px 0 9px;
}

div.relatedLink ul li {
margin:0;
padding:4px 9px 4px 9px;
list-style-type:none;
font-size:68%;
background-color:#edeced;
border-bottom:1px solid #fff;
}

div.relatedLink ul li li {
font-size:100%;
border-bottom:0 solid #fff;


}

div.relatedLink ul li a {
display:block;
width:100%;
text-decoration:none;
}

div.relatedLink ul li a:link,
div.relatedLink ul li a:visited {
color:#151515;
text-decoration:none;
}

div.relatedLink ul li a:hover,
div.relatedLink ul li a:active {
color:#ef0041;
text-decoration:none;
}


.relatedBanner {
margin:0;
margin-top:20px;
padding:0 10px 0 9px;
}

.relatedBanner p.firstbn {
margin-top:10px;
}

.relatedBanner p {
margin-bottom:5px;
}



/**/

#float0 {
display:none;
}

#float0,#float1,#float2,#float3,#float4,#float5,#float6,#float7 {
display:none;
position:absolute;
top:0;
left:0;
z-index:1000;
width:200px;
background-color:#fff;
border:solid #B2B2B2 1px;
}
#ifm {
width:198px;
display:none;
position:absolute;
top:0;
left:0;
z-index:990;
border:none;
}


#floatbase li {
display:block;
list-style:none;
}
#floatbase li a {
display:block;
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/global_bg_02.gif);
background-repeat:no-repeat;
background-position:left bottom;
margin:0;
padding:8px 4px 10px 12px;
font-size:12px;
line-height:1.2;
color:#151515;
text-decoration:none;
}
#floatbase li a:link {
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/global_bg_02.gif);
}
#floatbase li a:visited {
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/global_bg_02.gif);
}
#floatbase li a:active {
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/global_bg_03.gif);
}
#floatbase li a:hover {
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/global_bg_03.gif);

}
#floatbase li span {
display:block;
padding:3px;
font-weight:bold;
}

#floatbase {
position:absolute;
top:90px;
left:0;
z-index:190;
}
