
dl,dt,dd,ul,ol,li {
margin:0;
padding:0;
border:0;
}

/* global navigation */

#global {
/*box-sizing:border-box;
-moz-box-sizing:border-box;
border-right:1px solid #e6e5e5;*/
margin:0;
padding:0;
padding-top:1px;
padding-bottom:1px;
width:781px;
clear:both;
background-color:#fff;
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/cmn_bg_02.gif);
background-repeat:repeat-y;
}

#global div.globalArea {
width:780px;
height:22px;
/*margin-top:2px;
margin-bottom:1px;*/
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/global_bg_01.gif);
background-repeat:repeat-x;
box-sizing:border-box;
-moz-box-sizing:border-box;
}

#global div.globalArea div.inner {
border-left:1px solid #D6D6D6;
margin-left:13px;
}

#global ul {
margin:0;
padding:0;
}

#global ul li {
list-style-type:none;
float:left;
}

#global ul li img {
vertical-align:top;
}


/* local navigation */

#localNav {
float:left;
margin:0;
padding:0;
width:169px;
}

.localNavArea {
margin:0;
margin-bottom:1em;
padding:0;
text-align:left;
width:169px;
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/localnv_im_01.gif);
background-repeat:repeat-y;
}

#localNav div.localNavArea ul li {
list-style-type:none;
}

#localNav div.localNavArea ul li a {
text-decoration:none;
}


#localNav div.localNavArea ul li a {
display:block;
margin:0;
padding:0;
width:169px;
/*height:29px;*/
text-decoration:none;
font-size:68%;
color:#151515;
}

#localNav div.localNavArea ul li a span {
display:block;
margin:0;
margin-left:6px;
padding:12px 5px 10px 16px;
}

#localNav div.localNavArea ul li.parent a span {
padding-bottom:3px !important;
}

/* sub navigation */
#localNav div.localNavArea ul li.child {
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/localnv_im_04.gif);
background-repeat:no-repeat;
background-position:24px 0;
}

#localNav div.localNavArea ul li.cBtm {
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/localnv_im_05.gif);
background-repeat:no-repeat;
background-position:24px 0;
}

#localNav div.localNavArea ul li.child a span {
display:block;
margin:0;
margin-left:6px;
padding:8px 5px 0 29px !important;
}

#localNav div.localNavArea ul li.cBtm a span {
padding-bottom:5px !important;
}


#localNav div.localNavArea ul li a:link {
text-decoration:none;
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/localnv_im_02.gif);
background-repeat:no-repeat;
}
#localNav div.localNavArea ul li a:visited {
text-decoration:none;
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/localnv_im_02.gif);
background-repeat:no-repeat;
}
#localNav div.localNavArea ul li a:active {
text-decoration:none;
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/localnv_im_02_a.gif);
background-repeat:no-repeat;
}
#localNav div.localNavArea ul li a:hover {
text-decoration:none;
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/localnv_im_02_a.gif);
background-repeat:no-repeat;
}

#localNav div.localNavArea ul li#lnav01 a:link,
#localNav div.localNavArea ul li.child a:link  {
text-decoration:none;
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/localnv_im_01.gif);
background-repeat:no-repeat;
}
#localNav div.localNavArea ul li#lnav01 a:visited,
#localNav div.localNavArea ul li.child a:visited {
text-decoration:none;
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/localnv_im_01.gif);
background-repeat:no-repeat;
}
#localNav div.localNavArea ul li#lnav01 a:active,
#localNav div.localNavArea ul li.child a:active {
text-decoration:none;
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/localnv_im_01_a.gif);
background-repeat:no-repeat;
}
#localNav div.localNavArea ul li#lnav01 a:hover,
#localNav div.localNavArea ul li.child a:hover {
text-decoration:none;
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/localnv_im_01_a.gif);
background-repeat:no-repeat;
}


/* sub navigation */

#localNav div.localNavArea ul li a.stay {
text-decoration:none;
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/localnv_im_02_a.gif);
background-repeat:no-repeat;
}

#localNav div.localNavArea ul li#lnav01 a.stay,
#localNav div.localNavArea ul li.child a.stay {
text-decoration:none;
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/localnv_im_01_a.gif) !important;
background-repeat:no-repeat;
}


/* related link */

.relatedLink {
margin:0;
padding:0 10px 0 9px;
}

div.relatedLink ul li {
margin:0;
padding:4px 9px 4px 9px;
list-style-type:none;
font-size:68%;
background-color:#edeced;
border-bottom:1px solid #fff;
}

div.relatedLink ul li li {
font-size:100%;
border-bottom:0 solid #fff;


}

div.relatedLink ul li a {
display:block;
width:100%;
text-decoration:none;
}

div.relatedLink ul li a:link,
div.relatedLink ul li a:visited {
color:#151515;
text-decoration:none;
}

div.relatedLink ul li a:hover,
div.relatedLink ul li a:active {
color:#ef0041;
text-decoration:none;
}


.relatedBanner {
margin:0;
margin-top:20px;
padding:0 10px 0 9px;
}

.relatedBanner p.firstbn {
margin-top:10px;
}

.relatedBanner p {
margin-bottom:5px;
}

/* float menu */

.firstMenuBlock {
width:189px;
height:420px;
clear:both;
margin:0;
padding:0;
background-color:#fff;
font-size:10px;
border:solid #B2B2B2 1px;
vertical-align:top;
}

.secondMenuBlock {
width:189px;
height:420px;
clear:both;
margin:0;
padding:0;
background-color:#fff;
font-size:10px;
border:0 solid #B2B2B2;
border-top-width:1px;
border-bottom-width:1px;
border-right-width:1px;
vertical-align:top;
}

.thirdMenuBlock {
width:342px;
height:420px;
clear:both;
margin:0;
padding:0;
background-color:#fff;
font-size:10px;
border:0 solid #B2B2B2;
border-top-width:1px;
border-bottom-width:1px;
border-right-width:1px;
vertical-align:top;
}

.secondMenuBlockL {
width:342px;
height:420px;
clear:both;
margin:0;
padding:0;
background-color:#fff;
font-size:10px;
border:0 solid #B2B2B2;
border-top-width:1px;
border-bottom-width:1px;
border-left-width:1px;
vertical-align:top;
}

.firstMenuBlock ul li,
.secondMenuBlock ul li,
.thirdMenuBlock ul li {
list-style-type:none;
margin:0;
padding:0;
}


.firstMenuBlock ul li a {
display:block;
width:100%;
height:20px;
vertical-align:middle;
margin:0;
padding:0;
text-decoration:none;
}

.secondMenuBlock ul li a {
display:block;
width:100%;
height:20px;
vertical-align:middle;
margin:0;
padding:0;
text-decoration:none;
}

.firstMenuBlock ul li a:link,
.secondMenuBlock ul li a:link {
color:#666;
text-decoration:none;
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/localnv_im_06.gif);
background-repeat:repeat-y;
background-position:0% 100%;
}
.firstMenuBlock ul li a:visited,
.secondMenuBlock ul li a:visited {
color:#666;
text-decoration:none;
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/localnv_im_06.gif);
background-repeat:repeat-y;
background-position:0% 100%;
}
.firstMenuBlock ul li a:active,
.secondMenuBlock ul li a:active {
color:#666;
text-decoration:none;
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/localnv_im_06_a.gif);
background-repeat:repeat-y;
background-position:0% 100%;
}
.firstMenuBlock ul li a:hover,
.secondMenuBlock ul li a:hover {
color:#666;
text-decoration:none;
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/localnv_im_06_a.gif);
background-repeat:repeat-y;
background-position:0% 100%;
}

.firstMenuBlock ul li a.link:link,
.secondMenuBlock ul li a.link:link {
color:#666;
text-decoration:none;
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/localnv_im_07.gif);
background-repeat:repeat-y;
background-position:0% 100%;
}
.firstMenuBlock ul li a.link:visited,
.secondMenuBlock ul li a.link:visited {
color:#666;
text-decoration:none;
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/localnv_im_07.gif);
background-repeat:repeat-y;
background-position:0% 100%;
}
.firstMenuBlock ul li a.link:active,
.secondMenuBlock ul li a.link:active {
color:#666;
text-decoration:none;
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/localnv_im_07_a.gif);
background-repeat:repeat-y;
background-position:0% 100%;
}
.firstMenuBlock ul li a.link:hover,
.secondMenuBlock ul li a.link:hover {
color:#666;
text-decoration:none;
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/localnv_im_07_a.gif);
background-repeat:repeat-y;
background-position:0% 100%;
}

.firstMenuBlock ul li a span,
.secondMenuBlock ul li a span {
position:relative;
top:4px;
left:20px;
}

.firstMenuBlock ul li a span span,
.secondMenuBlock ul li a span span {
position:relative;
top:0;
left:1.5em;
}

#car1 {
visibility:hidden;
position:absolute;
top:91px;
left:60px;
}

#car21,
#car22,
#car23 {
visibility:hidden;
position:absolute;
top:91px;
left:249px;
}

#car311,
#car312,
#car313,
#car314,
#car315,
#car316,
#car317,
#car318,
#car319,
#car3110,
#car3111,
#car3112,
#car3113,
#car3114,
#car3115,
#car3116,
#car321,
#car322,
#car323,
#car324,
#car331,
#car332,
#car333,
#car334,
#car335,
#car336 {
visibility:hidden;
position:absolute;
top:91px;
left:438px;
}

#purchase1 {
visibility:hidden;
position:absolute;
top:91px;
left:148px;
}

#support1 {
visibility:hidden;
position:absolute;
top:91px;
left:244px;
}

#special1 {
visibility:hidden;
position:absolute;
top:91px;
left:485px;
}

#special1 {
visibility:hidden;
position:absolute;
top:91px;
left:485px;
}

#special2 {
visibility:hidden;
position:absolute;
top:91px;
left:143px;
}
#sp3 {
visibility:hidden;
position:absolute;
top:91px;
left:143px;
}

#corporate1 {
visibility:hidden;
position:absolute;
top:91px;
left:594px;
}

#social1 {
visibility:hidden;
position:absolute;
top:91px;
left:651px;
}



/* float menu new */
#gn {
display:none;
position:absolute;
left:60px;
top:91px;
}
#gn ul {
}
#gn li {
line-height:1.0;
list-style-type:none;
}
#gn li li {
}
#gn li a {
display:block;
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/global_bg_02.gif);
background-repeat:no-repeat;
background-position:left bottom;
margin:0;
padding:4px 4px 5px 12px;
font-size:10px;
line-height:1.1;
color:#666;
text-decoration:none;
}
#gn li.parent a {
padding:4px 4px 5px 24px;
}
#gn li.children a {
padding:4px 4px 5px 36px;
}
#gn li a:link {
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/global_bg_02.gif);
}
#gn li a:visited {
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/global_bg_02.gif);
}
#gn li a:active {
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/global_bg_03.gif);
}
#gn li a:hover {
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/global_bg_03.gif);
}

#gn li a span.right {
display:block;
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/global_im_03.gif);
background-repeat:no-repeat;
background-position:right center;
padding-right:9px;
}
#gn li a span.left {
display:block;
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/global_im_04.gif);
background-repeat:no-repeat;
background-position:left center;
padding-left:12px;
}

#gn11 {
display:none;
z-index:1;
position:absolute;
left:0;
background-color:#FFFFFF;
width:187px;
height:385px;
border:solid #B2B2B2 1px;
}
#gn12 {
display:none;
z-index:2;
position:absolute;
left:188px;
background-color:#FFFFFF;
width:187px;
height:385px;
border:solid #B2B2B2 1px;
}
#gn13 {
display:none;
z-index:3;
position:absolute;
left:376px;
background-color:#FFFFFF;
width:342px;
height:385px;
border:solid #B2B2B2 1px;
}

#gn21 {
display:none;
z-index:1;
position:absolute;
left:88px;
background-color:#FFFFFF;
width:187px;
height:385px;
border:solid #B2B2B2 1px;
}

#gn31 {
display:none;
z-index:1;
position:absolute;
left:184px;
background-color:#FFFFFF;
width:187px;
height:385px;
border:solid #B2B2B2 1px;
}

#gn41 {
display:none;
z-index:1;
position:absolute;
left:332px;
background-color:#FFFFFF;
width:187px;
height:385px;
border:solid #B2B2B2 1px;
}

#gn51 {
display:none;
z-index:3;
position:absolute;
left:425px;
background-color:#FFFFFF;
width:187px;
height:385px;
border:solid #B2B2B2 1px;
}

#gn52 {
display:none;
z-index:1;
position:absolute;
left:133px;
background-color:#FFFFFF;
width:295px;
height:385px;
border:solid #B2B2B2 1px;
}

#gn61 {
display:none;
z-index:1;
position:absolute;
left:532px;
background-color:#FFFFFF;
width:187px;
height:385px;
border:solid #B2B2B2 1px;
}

#gn71 {
display:none;
z-index:1;
position:absolute;
left:498px;
background-color:#FFFFFF;
width:187px;
height:385px;
border:solid #B2B2B2 1px;
}
#gn81 {
display:none;
z-index:2;
position:absolute;
left:237px;
background-color:#FFFFFF;
width:187px;
height:385px;
border:solid #B2B2B2 1px;
}
#gn82 {
display:none;
z-index:3;
position:absolute;
left:-60px;
background-color:#FFFFFF;
width:297px;
height:385px;
border:solid #B2B2B2 1px;
}


/**/

#float0 {
display:none;
}

#float0,#float1,#float2,#float3,#float4,#float5,#float6,#float7 {
display:none;
position:absolute;
top:0;
left:0;
width:200px;
background-color:#fff;
border:solid #B2B2B2 1px;
z-index:200;
}
#ifm {
width:198px;
display:none;
position:absolute;
top:0;
left:0;
z-index:101;
border:none;
}

#floatbase li {
display:block;
list-style:none;
}
#floatbase li a {
display:block;
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/global_bg_02.gif);
background-repeat:no-repeat;
background-position:left bottom;
margin:0;
padding:8px 4px 10px 12px;
font-size:12px;
line-height:1.2;
color:#151515;
text-decoration:none;
}
#floatbase li a:link {
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/global_bg_02.gif);
}
#floatbase li a:visited {
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/global_bg_02.gif);
}
#floatbase li a:active {
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/global_bg_03.gif);
}
#floatbase li a:hover {
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/global_bg_03.gif);
}
#floatbase li span {
display:block;
padding:3px;
font-weight:bold;
}
#floatbase li a:hover {
background-color:#eee;
}

#floatbase {
position:absolute;
top:90px;
left:0;
z-index:199;
}

