
body#general {
background:#fff none;
}

#contents , #car_contents{
margin:0;
}
#car_mainAera {
margin-right:0;
}

#car_localArea, #car_localArea_carTop {
width:781px;
}

#car_contents {
background-color:#fff;
}

#cmdetails {
width:auto;
}

/* download page */

#download_mainArea .printBox,#download_mainArea .bottomprintBox ,#download_mainArea .pagetopLink, #download_mainArea #linkArea {
display:none;
}

.HierarchicalsubNavi {
width:auto!important;
}

.mainContents {
width:auto!important;
margin-right:0 !important;
}

div.h2area {
width:auto !important;
}

div#contents .fourthHierarchical_tab div.h4area {
width:auto !important;
margin-right:0 !important;
}
div#contents .fourthHierarchical_tab div.h5area {
width:auto !important;
}