/* co.jp top header,footer CSS*/

/* header */
div#header div.right div.headerbox1 p{
float:right;
padding:15px 10px 0 0;
}
div#header div.right div.headerbox1 #shopsearch {
padding:10px 10px 0 0;
}

/*footer*/
#nfooter{
width:781px;
background-color:#fff;
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/cmn_bg_02.gif);
background-repeat:repeat-y;
}
#nfooter .ncopyrightArea {
background-color:#cac9ca;
margin:0;
padding:0;
border-top:1px solid #ef0041;
width:780px;
}
.ncopyrightArea p {
margin:0;
padding-bottom:5px;
padding-top:10px;
padding-left:10;
padding-right:10;
font-size:70%;
color:#151515;
vertical-align:middle;
}
#nfooter .left_ftblock{
padding:0;
width:400px;
float:left;
text-align:left;
}
#nfooter .right_ftblock{
float:right;
text-align:right;
}
#nfooter ul {
margin:0 0 0 12px;
}

#nfooter li {
float:left;
margin:0 12px 0 0;
list-style:none;
}
#nfooter li#ft_hs {
margin-top:3px;
}
#nfooter li#ft_usage,
#nfooter li#ft_privacy,
#nfooter li#ft_rec  {
margin-top:11px;
}

#nfooter li img{
vertical-align:top;
}

/**/
#indexPlusmov #baseArea {
text-align:center;
background:#fff url(/images/mov_bg_01.gif) repeat-x top left;
}
#indexPlusmov #flashcontent {
width:640px;
height:548px;
margin:0 auto;
background:#fff;
}
#indexPlusmov .noscript {
padding-top:100px;
}