<div id="summaryheader">
<p><img src="/lineup/common/images/summary_tx_01.gif" alt="スペック概要" width="109" height="46"></p>
</div>


<p><img src="/lineup/common/images/mes_bg_01.gif" alt="" width="800" height="3"></p>

<div id="summaryArea">

<div class="summaryTableArea">
<table border="0" cellpadding="0" cellspacing="0" summary="スペック概要">
<tr>
<th><span>駆動方式</span></th>
<td><span>2WD (後輪駆動)</span></td>
</tr>
<tr>
<th><span>全長×全幅×全高（mm）</span></th>
<td><span>3395×1475×1610</span></td>
</tr>
<tr>
<th><span>乗車定員（名）</span></th>
<td><span>4</span></td>
</tr>
<tr>
<th><span>総電力量（kWh）</span></th>
<td><span>X：16.0<br>
M：10.5</span></td>
</tr>
<tr>
<th><span>最高出力（kW[PS] / rpm）</span></th>
<td><span>X：47［64］<br>
M：30［41］</span></td>
</tr>
<tr>
<th><span>最大トルク（N・m[kgf・m] / rpm）</span></th>
<td><span>X：160［16.3］<br>
M：160［16.3］</span></td>
</tr>
<tr>
<th><span>JC08モード交流電力量消費率（Wh / km）<br>
（国土交通省審査値）</span><span class="notes_num">※1</span></th>
<td><span>110</span></td>
</tr>
<tr>
<th><span>JC08モード一充電走行距離（km）<br>
（国土交通省審査値）</span><span class="notes_num">※1 ※2</span></th>
<td><span>X：180<br>
M：120</span></td>
</tr>
<tr>
<th><span>最小回転半径（m）</span></th>
<td><span>4.5</span></td>
</tr>
</table>
<!-- /summaryTableArea --></div>

<div class="page_notesArea">
<p class="deco_cired">※1：JC08モードは定められた試験条件での値です。お客様の使用環境（気象、渋滞等）や運転方法（急発進、エアコン使用等）に応じて値は異なります。</p>
<p>※2：満充電の状態から走行可能な距離。</p>
<p>●kW（キロワット）、N・m（ニュートンメートル）、Wh（ワットアワー）はSI（国際単位系）に準拠した表示です。</p>
</div>
<!-- voiceArea --></div>
