/*
__________________________*/
.popcontents a:link,
.popcontents a:active,
.popcontents a:hover,
.popcontents a:visited {
	display: block;
	font-size:1px;
	line-height:1px;
	text-indent:-9999px;
	color: #000000;
	outline: none;
}
body {
	position: relative;
}
img {
	position: absolute;
	top: 0;
	left: 0;
}
body .popwrap img {
	position: static;
	top: auto;
	left: auto;
}
#pop div.popwrap {
	background-color: transport;
}
#headerpop {
	background: #FFFFFF;

}
#footerpop {
	height: 23px;
	margin: 0;
	padding: 0;
	line-height: normal;
}
#nebuta-contents {
	position: relative;
	background: #000000;
	visibility: hidden;
}

#background-im {
	background: #000000;
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: relative;
}

#background-im #background-im-image-timer{
	height: 10px;
	width: 10px;
}

#background-im #background-im-image{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
#background-cover{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: url("../images/index_pt_07.png");
}
#background-shadow{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
#background-light{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #FFFFFF;
}

/*__________________________*/

#log,
#social-link,
#corner-left-top,
#corner-left-bottom,
#corner-right-top,
#corner-right-bottom,
#link-bt
{
	position: absolute;
}

#log {
	width: 259px;
	height: 517px;
	left: 0;
	top: 0;
	background: url("../images/index_log_01.png") no-repeat;
	background-color: transport;
	z-index: 10;
}

#log a{
	display:block;
	width: 260px;
	height: 270px;
	outline: none;
}
#corner-left-top {
	width: 261px;
	height: 520px;
	left: 0;
	top: 0;
	background: url("../images/index_pt_09.png") no-repeat;
}
#corner-left-bottom {
	width: 164px;
	height: 162px;
	left: 0;
	bottom: 0;
	background: url("../images/index_pt_01.png") no-repeat;
}
#corner-right-top {
	width: 294px;
	height: 240px;
	right: 0;
	top: 0;
	background: url("../images/index_pt_02.png") no-repeat;
}
#corner-right-bottom {
	width: 128px;
	height: 164px;
	right: 0;
	bottom: 0;
	background: url("../images/index_pt_03.png") no-repeat;
}

/*__________________________*/
#social-link {
	right: 0;
	top: 10px;
	width: 246px;
	z-index: 5;
}
#social-link a{
	display: block;
}
#social-link li {
	float: left;
	margin-right: 12px;
}
#social-link #twitter a{
	width: 81px;
	height: 20px;
	background: url("../images/bt_01.gif") no-repeat;
}
#social-link #facebook a{
	width: 71px;
	height: 20px;
	background: url("../images/bt_02.gif") no-repeat;
}
#social-link #mixi a{
	width: 58px;
	height: 18px;
	background: url("../images/bt_03.png") no-repeat;
}
#social-link #google a{
	width: 32px;
	height: 20px;
	background: url("../images/bt_04.gif") no-repeat;
}
/*__________________________*/
#link-bt {
	bottom: 0;
	right: 0;
	background: url("../images/index_pt_12.png") no-repeat;
	width: 297px;
	height: 532px;
}
#link-bt-container {
	position: relative;
	width: 297px;
	height: 532px;
	overflow: hidden;
}
#link-bt-wraper {
	position: absolute;
	bottom: 33px;
	left: 19px;
}
#link-bt-title {
	position: absolute;
	bottom: 29px;
	left: 32px;
	width: 405px;
	height: 62px;
	z-index: 20;
}
#link-bt a {
	position: relative;
	display: block;
	
}
#link-bt span {
	display: block;
	position: absolute;
}

#link-bt a .over{
	width: 187px;
	height: 29px;
	background-position: 0 bottom;
	
	left: 0;
	bottom: 0;
}

#link-bt .background{
	width: 187px;
	height: 29px;
	background-position: 0 bottom;
	left: 0;
	bottom: 0;
}
#link-bt .message{
	left: 62px;
}

/*__________________________*/
#link-bt-about {
	width: 202px;
	height: 110px;
}
#link-bt-about .background{
	background: url("../images/index_bt_09.png") no-repeat;
	background-position: 0 bottom;
}
#link-bt-about .over{
	background: url("../images/index_bt_13.png") no-repeat;
	background-position: 0 bottom;
}
#link-bt-about .message{
	background: url("../images/index_bt_09.png") no-repeat;
	background-position: -62px 0;
	width: 140px;
	height: 39px;
	
	left: 62px;
}
/*__________________________*/
#link-bt-plan {
	width: 221px;
	height: 108px;
}
#link-bt-plan .background{
	background: url("../images/index_bt_10.png") no-repeat;
	background-position: 0 bottom;
}
#link-bt-plan .over{
	background: url("../images/index_bt_14.png") no-repeat;
	background-position: 0 bottom;
}
#link-bt-plan .message{
	background: url("../images/index_bt_10.png") no-repeat;
	background-position: -62px 0;
	width: 160px;
	height: 37px;
}
/*__________________________*/
#link-bt-report {
	width: 174px;
	height: 109px;
}
#link-bt-report .background{
	background: url("../images/index_bt_17.png") no-repeat;
	background-position: 0 bottom;
}
#link-bt-report .over{
	background: url("../images/index_bt_18.png") no-repeat;
	background-position: 0 bottom;
}
#link-bt-report .message{
	background: url("../images/index_bt_17.png") no-repeat;
	background-position: -60px 0;
	width: 195px;
	height: 60px;
}
/*__________________________*/
#link-bt-artist {
	width: 253px;
	height: 132px;
}
#link-bt-artist .background{
	background: url("../images/index_bt_11.png") no-repeat;
	background-position: 0 bottom;
}
#link-bt-artist .over{
	background: url("../images/index_bt_15.png") no-repeat;
	background-position: 0 bottom;
}
#link-bt-artist .message{
	background: url("../images/index_bt_11.png") no-repeat;
	background-position: -59px 0;
	width: 194px;
	height: 60px;
	left: 59px;
}
/*__________________________*/
#link-bt-system {
	width: 195px;
	height: 109px;

}
#link-bt-system .background{
	background: url("../images/index_bt_12.png") no-repeat;
	background-position: 0 bottom;
}
#link-bt-system .over{
	background: url("../images/index_bt_16.png") no-repeat;
	background-position: 0 bottom;
}
#link-bt-system .message{
	background: url("../images/index_bt_16.png") no-repeat;
	background-position: -60px 0;
	width: 136px;
	height: 38px;
	left: 60px;
}
/*__________________________*/
#link-bt-extramovie {
	width: 254px;
	height: 132px;

}
#link-bt-extramovie .background{
	background: url("../images/index_bt_19.png") no-repeat;
	background-position: 0 bottom;
}
#link-bt-extramovie .over{
	background: url("../images/index_bt_20.png") no-repeat;
	background-position: 0 bottom;
}
#link-bt-extramovie .message{
	background: url("../images/index_bt_20.png") no-repeat;
	background-position: -60px 0;
	width: 191px;
	height: 60px;
	left: 60px;
}


#report-special-bt {
	display: none;
	width: 620px;
	height: 167px;
	position: absolute;
	top: 50%;
	left: 50%;
	background: url("../images/index_bt_21.png") no-repeat;
	margin-left: -310px;
	margin-top: -83px;
}


/*
#popcontents-footer
__________________________*/
#pop #popcontents-footer {
	background: #000000;
	height: 38px;
	z-index: 16;
	visibility: hidden;
}
/*__________________________*/
#footer-left {
	float: left;
	padding-top: 8px;
	padding-left: 12px;
	width: 600px;
	position: relative;
}

.new-icon {
	position: absolute;
}

#report-new {
	position: absolute;
	top: -13px;
	left: 208px;
}

#extramovie-new {
	position: absolute;
	top: -13px;
	left: 471px;
}

#footer-left a{
	display: block;
}
#footer-left li {
	float: left;
	margin-right: 21px;
}

#footer-left #about,
#footer-left #plan,
#footer-left #report,
#footer-left #artist,
#footer-left #system,
#footer-left #extramovie{
	margin-top: 5px;
}

#footer-left a {
	position: relative;
}
#footer-left a span {
	position: absolute;
	top: 0;
	left: 10px;
}
/*____________*/
#footer-left li#top {
	margin-right: 18px;
	margin-top: 3px;
}
#footer-left #top a{
	width: 16px;
	height: 14px;
	background: url("../images/bg_01.gif") no-repeat;
}


/*____________*/
#footer-left #about a{
	width: 60px;
	height: 11px;
	background: url("../images/tx_01.gif") no-repeat;
}
#footer-left #about .footer-left-over{
	width: 60px;
	height: 11px;
	background: url("../images/pt_02.png") no-repeat 0 0;
}
#footer-left #about .footer-left-over-bg{
	width: 51px;
	height: 11px;
	background: url("../images/pt_08.gif") no-repeat -51px 0 #FFFFFF;
	display: block;
}
/*____________*/
#footer-left #plan a{
	width: 48px;
	height: 11px;
	background: url("../images/tx_02.gif") no-repeat;
}
#footer-left #plan .footer-left-over{
	width: 38px;
	height: 11px;
	background: url("../images/pt_03.png") no-repeat 0 0;
}
#footer-left #plan  .footer-left-over-bg{
	width: 38px;
	height: 11px;
	background: url("../images/pt_09.gif") no-repeat -38px 0 #FFFFFF;
}
/*____________*/
#footer-left #report a{
	width: 69px;
	height: 11px;
	background: url("../images/tx_03.gif") no-repeat;
}
#footer-left #report .footer-left-over{
	width: 60px;
	height: 11px;
	background: url("../images/pt_04.png") no-repeat 0 0;
}
#footer-left #report .footer-left-over-bg{
	width: 60px;
	height: 11px;
	background: url("../images/pt_10.gif") no-repeat -69px 0 #FFFFFF;
}
/*____________*/
#footer-left #artist a{
	width: 64px;
	height: 11px;
	background: url("../images/tx_04.gif") no-repeat;
}
#footer-left #artist .footer-left-over{
	width: 54px;
	height: 11px;
	background: url("../images/pt_05.png") no-repeat 0 0;
}
#footer-left #artist .footer-left-over-bg{
	width: 54px;
	height: 11px;
	background: url("../images/pt_11.gif") no-repeat -64px 0 #FFFFFF;
}
/*____________*/
#footer-left #system a{
	width: 68px;
	height: 11px;
	background: url("../images/tx_05.gif") no-repeat;
}
#footer-left #system .footer-left-over{
	width: 59px;
	height: 11px;
	background: url("../images/pt_06.png") no-repeat 0 0;
}
#footer-left #system  .footer-left-over-bg{
	width: 59px;
	height: 11px;
	background: url("../images/pt_12.gif") no-repeat -59px 0 #FFFFFF;
}
/*____________*/
#footer-left #extramovie a{
	width: 99px;
	height: 11px;
	background: url("../images/tx_06.gif") no-repeat;
}

#footer-left #extramovie .footer-left-over{
	width: 99px;
	height: 11px;
	background: url("../images/pt_07.png") no-repeat;
}
#footer-left #extramovie .footer-left-over-bg{
	margin-top: 0;
	width: 89px;
	height: 11px;
	background: url("../images/pt_13.gif") no-repeat 0 -12px #FFFFFF;
}


/*__________________________*/
#footer-right {
	float: right;
	width: 250px;
	margin-top: 7px;
	position: relative;
}
#footer-right a{
	display: block;
	height: 11px;
}
#footer-right li{
	float: left;
	height: 24px;
	margin-right: 10px;
	padding-right: 10px;
	border-right: #770e11 solid 1px;
}


#footer-right #yotube-channel {
	border-left: #770e11 solid 1px;
	padding-left: 10px;
}
#footer-right #yotube-channel a{
	width: 59px;
	height: 23px;
	background: url("../images/tx_07.gif") no-repeat;
}
#footer-right #mail-magazine a{
	width: 62px;
	height: 24px;
	background: url("../images/tx_09.gif") no-repeat;
}
#footer-right #line-up a{
	width: 46px;
	height: 9px;
	background: url("../images/tx_08.gif") no-repeat;
}
#footer-right #line-up{
/*	margin-right: 84px;*/
	padding-top: 12px;
	height: 12px;
	border: none;
	margin-left: 10px;
}
#footer-right #imiev-car{
	border-right: none;
	width: 71px;
	height: 42px;
	right: 10px;
	bottom: 14px;
	position: absolute;
	z-index: 17;
}
#footer-right #imiev-car a{
	text-indent: 0;
	width: 71px;
	height: 42px;
}


/*__________________________*/
#log,
#footer-left,
#footer-right,
#social-link,
.text-none{
	font-size: 0;
	color: #000000;
	text-decoration: none;
	line-height:1px;
	text-indent:-9999px;
}
#social-link {
	text-indent: 0;
}

/* clearfix */
/* ----------------------------- */
#footer-left ul:after,
#footer-right ul:after,
#special-thanks li:after,
.clearfix:after{
	content:".";
	display: block;
	height:0px;
	clear:both;
	visibility:hidden;
	line-height: 0;
}
#footer-left ul,
#footer-right ul,
#special-thanks li, 
.clearfix {
	display:inline-table;
	min-height: 1%;
}
/* for macIE \*/
* html #footer-left ul,
* html #footer-right ul,
* html #special-thanks li
* html .clearfix {
	height: 1%;
}
#footer-left ul,
#footer-right ul,
#special-thanks li,
.clearfix {
	zoom:1;
	display: block;
}