/*
__________________________*/
html, body {
	width: 100%;
	min-width: 1024px;
	height: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	background: url("../images/lower_bg_01.gif") #000000;
	-webkit-user-select:none;
    -webkit-text-size-adjust:none;
}


h2 {
	margin-bottom: 45px;
}
h3 {
	margin-bottom: 40px;
}

hr {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	height: 2px;
	background: url("../images/bg_02.gif");
}

.lower p {
	font-size: 14px;
	line-height: 26px;
	width: 550px;
}

html body#pop {
	background-color: transparent;
}

div.popwrap {
	background-color: transparent;
}

div.popcontents {
	background: url("../images/lower_bg_01.gif") 0 -68px;
}

div.popwrap {
	position: relative;
	min-width: 1024px;
	width: 100%;
}

#headerpop {
	background: #FFFFFF;
}

#nebuta-container-wrapper {
	position: absolute;
	z-index: 1;
	width: 100%;
	background-image: none;
	
}

.lower #nebuta-contents {
	background-color: transparent;
	min-width: 1024px;
	width: 100%;
	padding-bottom: 128px;
}

#nebuta-container {
	width: 100%;
	min-width: 1024px;
}

#log {
	background: url("../images/pt_01.png") no-repeat;
}

#contents-body {
	padding-top: 72px;
	color: #FFFFFF;
	line-height: 1.5em;
	font-size: 16px;
	position: relative;
	width: 1024px;
	
	display: none;
}

#contents-body-inner {
	margin-left: 317px;
	padding-right: 157px;
	width: 550px;
}

#contents-body p{
	margin-bottom: 100px;
}

#popcontents-footer{
	position: fixed;
	bottom: 23px;
	left: 0;
	width: 100%;
	min-width: 1024px;
	
}
#footerpop {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	min-width: 100%;
	
	height: 23px;
	min-width: 1024px;
	z-index: 17;
}

.lower #footer-right {
	width: 275px;
}

#footer-left .footer-left-over {
	display: none;
}
/*_______________________*/
#main-visual {
	position: absolute;
	top: 68;
	z-index: 10;
	left: 0;
	background: #000000;
	display: none;
	overflow: hidden;
	
	width: 100%
	height: 100%;
}

/*#pageTop______________*/
#contents-body p#goto-top {
	margin-top: 36px;
	margin-bottom: 0;
	width: 550px;
}
.system #contents-body p#goto-top,
.lineup #contents-body p#goto-top  {
	width: 600px;
}

#goto-top a{
	float: right;
	background: url("../images/tx_10.png") no-repeat;
	display: block;
	width: 123px;
	height: 13px;
}
#goto-top a:hover{
	background-position:0 -13px;
}

/*ABOUT
__________________________*/
.about h2{
	background: url("../images/about_tx_01.gif") no-repeat;
	width: 176px;
	height: 57px;
	font-size: 0;
	color: #000000;
}

.about h3 {
	background: url("../images/about_tx_02.gif") no-repeat;
	width: 270px;
	height: 21px;
	font-size: 0;
	color: #000000;
}
#special-thanks {
	width: 550px;
}
#special-thanks img,
#special-thanks .introduction {
	float: left;
}
#special-thanks .introduction {
	width: 410px;
}
#special-thanks li {
	clear: both;
}
#special-thanks p {
	margin-bottom: 0;
	font-size: 12px;
	line-height: 20px;
	width: 410px;
}

#special-thanks img {
	margin-right: 23px;
}
#special-thanks h4 {
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: bold;
	line-height: 15px;
}
#special-thanks #gotoushi {
	padding-bottom: 36px;
}
a.official-web-site-bt {
	background: url("../images/artist_tx_02.gif") no-repeat;
	width: 165px;
	height: 19px;
	display: block;
	margin-top: 10px;
}
a.official-web-site-bt:hover {
	background-position: 0 -19px;
}


/*ARTIST
__________________________*/
.artist h2{
	background: url("../images/artist_tx_01.gif") no-repeat;
	width: 189px;
	height: 56px;
	font-size: 0;
	color: #000000;
}
.artist h3{
	font-size: 16px;
	font-weight: bold;
	line-height: 28px;
	width: 100%;
}
.artist #profile {
	width: 550px;
}
.artist #profile p{
	margin-bottom: 30px;
}
.artist #profile img,
.artist #profile .introduction{
	float: left;
}
.artist #profile img {
	margin-right: 43px;
}
.artist #profile .introduction{
	width: 263px;
}
.artist #profile .introduction p{
	font-size: 12px;
	line-height: 20px;
	width: 165px;
}
.artist .introduction a{
	background: url("../images/artist_tx_02.gif") no-repeat;
	width: 165px;
	height: 19px;
	display: block;
}
.artist .introduction a:hover{
	background-position: 0 -19px;
}

#tsubaki {
/*	margin-bottom: 78px;*/
}


/*PLAN
__________________________*/
.plan h2{
	background: url("../images/plan_tx_01.gif") no-repeat;
	width: 132px;
	height: 57px;
	font-size: 0;
	color: #000000;
}
.plan #contents-body p{
	margin-bottom: 40px;
}
.plan #contents-body p.explain{
	font-size: 12px;
	line-height: 20px;
}
.plan img{
	margin-bottom: 34px;
}

.plan h3 {
	margin-bottom: 10px;
}

.plan #plan-story {
	width: 142px;
	height: 21px;
	background: url("../images/plan_tx_02.gif") no-repeat;
	margin-right: 38px;
	margin-bottom: 20px;
}
.plan #plan-artistcomment {
	width: 185px;
	height: 14px;
	background: url("../images/plan_tx_03.gif") no-repeat;
}
.plan #contents-body p.plan-story-text {
	margin-bottom: 25px;
	width: 405px;
}
.plan .plan-artistcomment-text,
.plan .plan-story-text {
	font-size: 12px;
	line-height: 20px;
}

.plan #contents-body .plan-artistcomment-text {
	margin-bottom: 0;
}
#plan-artistcomment-box {
	padding: 15px 20px;
	background: #000000;
	border: 1px solid #707070;
}

#plan-stor-box {
	margin-bottom: 10px
}

/*SYSTEM
__________________________*/
.system p {
	width: 600px;
}
.system hr {
	margin-bottom: 25px;
}
.system #contents-body-inner {
	width: 600px;
	padding-right: 112px;
}
.system h2{
	background: url("../images/system_tx_01.gif") no-repeat;
	width: 207px;
	height: 57px;
	font-size: 0;
	color: #000000;
}
.system h3{
	font-size: 16px;
	line-height: 28px;
	margin-bottom: 5px;
	font-weight: bold;
}
.system h4{
	font-size: 16px;
	line-height: 28px;
	font-weight: bold;
	margin-bottom: 0;
}
.system #contents-body p{
	margin-bottom: 40px;
}

.system-description {
	font-size: 12px;
	line-height: 20px;
}

.system #contents-body .system-im{
	margin-bottom: 40px;
}
.system #contents-body .system-im img{
	border: solid 1px #333333;
}

.system #contents-body .explain{
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 20px;
	line-height: 1em;
}
.system #contents-body .caption{
	font-size: 12px;
	line-height: 20px;
	margin-bottom: 8px;
}
.system #contents-body p.outline {
	font-size: 10px;
	margin-bottom: 10px;
}

.system #contents-body .explain-text {
	font-size: 12px;
	line-height: 20px;
	margin-bottom: 31px;
}

h4.example {
	font-size: 14px;
}

.system .explain-banner a{
	display: block;
	width: 328px;
	height: 60px;
	background: url("../images/system_bt_01.gif") no-repeat;
}
.system .explain-banner a:hover{
	background-position:0 -60px;
}
.system #contents-body .report-outline {
	font-size: 12px;
	margin-bottom: 16px;
	line-height: 20px;
}

.system_block {
	margin-bottom: 40px;
}

.system #contents-body .system_block p {
	margin-bottom: 0;
	font-size: 12px;
	line-height: 18px;
}

.system #contents-body .system_block .system_block_im {
	line-height: 0;
}

#interactive-face {
	width: 548px;
	border: 1px solid #333333;
	border-top: none;
	padding: 35px 25px 25px;
}

#interactive-face h5 {
	margin-bottom: 30px;
	background: url("../images/system_ti_01.gif") no-repeat;
	width: 196px;
	height: 15px;
}

#interactive-face h6 {
	width: 168px;
	height: 15px;
	background-repeat: no-repeat;
	margin-bottom: 12px;
}

#projection h6 {
	background-image: url("../images/system_ti_02.gif");
}

#moving-eye h6 {
	background-image: url("../images/system_ti_03.gif");
}
#slot h6 {
	background-image: url("../images/system_ti_04.gif");
}

.mode,
.mode p {
	width: 168px;
}

.mode img {
	margin-bottom: 20px;
}

.mode {
	float: left;
	margin-right: 20px;
}

.last {
	margin-right: 0;
}

/*REPORT
__________________________*/
.report #contents-body-inner,
.report #contents-body-inner p {
	width: 600px;
}

.report  h4 {
	font-weight: bold;
}
.report .date-wrap{
	margin-bottom: 10px;
}

.report #contents-body p#goto-top {
	width: 600px;
}
.report h2 {
	background: url("../images/report_ti_01.gif") no-repeat;
	width: 206px;
	height: 57px;
	margin-bottom: 50px;
}

.report #contents-body p.date {
	line-height: 0;
	margin-bottom: 13px;
}

.report #contents-body p.report-youtube {
	width: 598px;
	border: 1px solid #313131;
	margin-bottom: 20px;
	background: #000000;
	z-index: 1;
}

.report h3 {
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 15px;
}

.report hr {
	margin-bottom: 20px;
}

.report #contents-body .report-text {
	font-size: 12px;
	margin-bottom: 40px;
	line-height: 20px;
}
.report #contents-body .report-text-2 {
	font-size: 12px;
	margin-bottom: 20px;
	line-height: 20px;
}


.report #contents-body .report-outline {
	font-size: 12px;
	margin-bottom: 16px;
	line-height: 20px;
}


.report #contents-body .report-im {
	margin-bottom: 40px;
}
.report #contents-body .report-im-2 {
	margin-bottom: 20px;
}
.report #contents-body .report-bottom {
	margin-bottom: 60px;
}

.report .report-block {
	margin-bottom: 40px;
}


.report #contents-body .report-block p{
	margin-bottom: 0;
}


.report #contents-body .report-block p.report-text{
	margin-bottom: 5px;
}

.report #contents-body .report-block p.report-youtube{
	margin-bottom: 20px;
}

.report #contents-body .bottom {
	margin: 0;
	padding: 0;
}

.report #extramovie-bt a{
	display: block;
	width: 600px;
	height: 80px;
	background: url("../images/report_bt_02.jpg") no-repeat;
}

.report #extramovie-bt a:hover{
	background-position: 0 -80px;
}

.report .report-youtube {
	width: 598px;
	height: 364px;
	z-index: 1;
}

/*LINE UP
__________________________*/
.lineup p {
	width: 600px;
}
.lineup #contents-body-inner {
	width: 600px;
	padding-right: 112px;
}
.lineup h2 {
	background: url("../images/lineup_tx_01.gif") no-repeat;
	width: 207px;
	height: 57px;
}
.lineup h3 {
	margin-bottom: 10px;
}
.lineup h3#i-miev-info {
	background: url("../images/lineup_tx_02.gif") no-repeat;
	width: 184px;
	height: 28px;
}

.lineup h3#minicabmiev-info {
	background: url("../images/lineup_tx_03.gif") no-repeat;
	width: 172px;
	height: 52px;
}

/*extramovie__________________________*/

.extramovie #contents-body-inner {
}

.extramovie h2 {
	width: 305px;
	height: 56px;
	background: url("../images/extramovie_ti_01.gif") no-repeat #000000;
	width: 305px;
}

.extramovie h3 {
	width: 538px;
	height: 77px;
	background: url("../images/extramovie_ti_02.jpg") no-repeat;
	text-indent: -9999px;
	margin-bottom: 30px;
}

.extramovie h4 {
	font-weight: bold;
	font-size: 14px;
	background: url("../images/extramovie_bg_01.gif") no-repeat;
	padding-left: 58px;
	padding-bottom: 4px;
	margin-bottom: 8px;
	color: #e4002b;
	border-bottom: #9b9b9b dotted 1px;
}

.extramovie #contents-body-inner-wrap {
	background: #ffffff;
	color: #222222;
	width: 540px;
	padding: 25px 30px 0;
}
.extramovie #contents-body p {
	font-size: 12px;
	line-height: 20px;
	margin-bottom: 0;
}

.extramovie .extramovie-block{
	padding-bottom: 40px;
	margin-bottom: 0;
}
.extramovie #contents-body p.report-youtube{
	margin-bottom: 20px;
}

.extramovie #contents-body p#goto-top {
	width: 600px;
}



.extramovie #contents-body .report-banner {
	margin-bottom: 40px;
}

.extramovie #contents-body .report-banner a {
	display: block;
	width: 476px;
	height: 70px;
	background: url("../images/report_bt_01.jpg") no-repeat;
}

.extramovie #contents-body .report-banner a:hover {
	background-position: 0 -70px;
}

.extramovie .report-youtube {
	width: 540px;
	height: 328px;
	z-index: 1;
}
.extramovie #contents-body .report-youtube-quiz {
	margin-bottom: 20px;
}
.report-youtube-quiz a{
	display: block;
	width: 540px;
	height: 305px;
	background: url("../images/extramovie_bt_01.jpg") no-repeat;
}
.report-youtube-quiz a:hover{
	background-position: 0 bottom;
}

/*banner__________________________*/
#ev-portal a{
	background: url("../images/lineup_bt_01.gif") no-repeat;
	width: 298px;
	height: 60px;
	display: block;
}

#banner ul {
	width: 600px;
}

#banner li {
	width: 298px;
	height: 60px;
}

#banner {
	margin-bottom: 50px;
}

#banner li a:hover {
	background-position: 0 -60px;
}
#ev-portal {
	float: left;
}
#car-info {
	float: right;
}
#car-info a{
	background: url("../images/lineup_bt_02.gif") no-repeat;
	width: 298px;
	height: 60px;
	display: block;
}

.lineup #contents-body p{
	position: relative;
	margin-bottom: 15px;
	line-height: 0;
}

.lineup a.detail-bt{
	display: block;
	width: 205px;
	height: 28px;
	background: url("../images/lineup_bt_03.gif") no-repeat;
	position: absolute;
	right: 0;
	bottom: 10px;
}

.lineup a.detail-bt:hover{
	background-position: 0 -28px;
}

.lineup #contents-body #i-miev-info-bottom {
	margin-bottom: 50px;
}

/* ----------------------------- */
/* Utility */
/* ----------------------------- */
#interactive-face h5,
#interactive-face h6,
.explain-banner a,
.plan #plan-story,
.plan #plan-artistcomment,
a.official-web-site-bt,
#goto-top,
#banner li,
h2,
.lineup h3,
.about h3,
.lineup a.detail-bt,
.text-none,
.artist .introduction a{
	font-size: 0;
	color: #000000;
	text-decoration: none;
	line-height:1px;
	text-indent:-9999px;
}

/* clearfix */
/* ----------------------------- */
#interactive-face:after,
#plan-stor-box:after,
#goto-top:after,
#banner ul:after,
#popcontents-footer:after,
.artist #profile:after,
#footer-right ul:after,
#special-thanks li:after,
.clearfix:after{
	content:".";
	display: block;
	height:0px;
	clear:both;
	visibility:hidden;
	line-height: 0;
}
#interactive-face,
#plan-stor-box,
#goto-top,
#banner ul,
#popcontents-footer,
.artist #profile, 
#footer-right ul,
#special-thanks li, 
.clearfix {
	display:inline-table;
	min-height: 1%;
}
/* for macIE \*/
* html #interactive-face,
* html #plan-stor-box,
* html #goto-top,
* html #banner ul,
* html #popcontents-footer,
* html .artist #profile,
* html #footer-right ul,
* html #special-thanks li
* html .clearfix {
	height: 1%;
}
#interactive-face,
#plan-stor-box,
#goto-top,
#banner ul,
#popcontents-footer,
.artist #profile,
#footer-right ul,
#special-thanks li,
.clearfix {
	zoom:1;
	display: block;
}