@charset "UTF-8";
/* ==================================================================

	app 三菱自動車公式アプリケーション
------------------------------------------------------------------ */
/*
	インデックス
--------------------------------------------------------- */
#ApplicationList .item {
  padding: 15px 10px 30px;
  border-bottom: 1px solid lightgray;
}
#ApplicationList .item header {
  line-height: 1.2;
  display: table;
  margin-bottom: 10px;
}
#ApplicationList .item header .image {
  width: 100px;
  display: table-cell;
  vertical-align: middle;
}
#ApplicationList .item header h1 {
  display: table-cell;
  vertical-align: middle;
  font-size: 114.28571%;
}
#ApplicationList .item .summary {
  line-height: 1.5;
  margin-bottom: 20px;
}
#ApplicationList .item .summary p.notes {
  color: #999999;
  font-size: 78.57143%;
}
#ApplicationList .item .download {
  margin: 0 -7px 15px -8px;
  text-align: center;
}
#ApplicationList .item .download p {
  display: inline-block;
  margin: 0 7px 0 8px;
}
#ApplicationList .item:last-of-type {
  border: 0;
}
