@charset "UTF-8";
/* ==================================================================

	車種ページ関連
------------------------------------------------------------------ */
/*
	インデックス
--------------------------------------------------------- */
#MainImage {
  position: relative;
  padding-bottom: 35px;
  border-bottom: 1px solid lightgray;
}
#MainImage.only {
  padding-bottom: 0;
}
#MainImage .image {
  width: 100%;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  background: #222;
}
#MainImage .image * {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}
#MainImage .image .inner {
  -webkit-transform: translate3d(0, 0, 0);
}
#MainImage .image .inner .item {
  float: left;
  -webkit-perspective: 720;
  -webkit-perspective-origin: 0 50%;
  position: relative;
  z-index: 20;
}
#MainImage .image .inner .item:not(:first-child) {
  display: none;
}
#MainImage .image .inner .item:not(:first-child).loaded {
  display: block;
}
#MainImage .image .inner .item.prev {
  -webkit-perspective-origin: 100% 50%;
  z-index: 1;
}
#MainImage .image .inner .item.prev a, #MainImage .image .inner .item.prev span {
  -webkit-transform-origin: right;
}
#MainImage .image .inner .item a, #MainImage .image .inner .item span {
  display: block;
  -webkit-transform-origin: 0;
  -webkit-transform: rotateY(0);
  -webkit-tap-highlight-color: transparent;
  opacity: 1;
}
#MainImage .image .inner img {
  width: 100%;
}
#MainImage .preview {
  width: 25px;
  height: 23px;
  position: absolute;
  bottom: 5px;
  left: 5px;
  z-index: 2;
  vertical-align: middle;
  margin-top: -12px;
  padding-top: 2px;
  background: #e60012;
}
#MainImage .preview:before {
  width: 16px;
  height: 21px;
  content: "";
  display: block;
  background: url(../images/common/icon_s.png) no-repeat;
  background-size: 128px 63px;
  background-position: -64px 0px;
  margin: 0 auto;
}
#MainImage .next {
  width: 25px;
  height: 23px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 2;
  vertical-align: middle;
  margin-top: -12px;
  padding-top: 2px;
  background: #e60012;
}
#MainImage .next:before {
  width: 16px;
  height: 21px;
  content: "";
  display: block;
  background: url(../images/common/icon_s.png) no-repeat;
  background-size: 128px 63px;
  background-position: 0px 0px;
  margin: 0 auto;
}
#MainImage .paging {
  width: 100%;
  position: absolute;
  bottom: 10px;
  left: 0;
}
#MainImage .paging ul {
  text-align: center;
}
#MainImage .paging ul li {
  width: 9px;
  height: 9px;
  display: inline-block;
  overflow: hidden;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2) inset;
  margin: 0 2px;
  border-top: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  border-left: 1px solid #f0f0f0;
  border-radius: 5px;
  text-indent: -9999px;
  background: white;
}
#MainImage .paging ul li.current {
  box-shadow: 0;
  background: #e60012;
}

#Information {
  border-top: 1px solid white;
  -webkit-tap-highlight-color: transparent;
  padding: 25px 10px;
  border-top: 1px solid white;
  background: #f0f0f0;
}
#Information .inner {
  min-height: 42px;
  line-height: 1.5;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2) inset;
  position: relative;
  border-radius: 4px;
  font-size: 85.71429%;
  background: white;
}
#Information .inner .recent {
  position: relative;
}
#Information .inner .recent p {
  margin-right: 30px;
}
#Information .inner .recent p a {
  height: 1.5em;
  display: block;
  overflow: hidden;
  position: relative;
  padding: 12px 0 12px 10px;
}
#Information .inner .recent p a span {
  display: block;
  position: absolute;
  top: 12px;
  left: 10px;
  white-space: nowrap;
}
#Information .inner .recent .open {
  position: absolute;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  padding: 13px 10px;
}
#Information .inner .recent .open span {
  width: 1.2em;
  height: 1.2em;
  display: block;
  line-height: 1.2;
  color: white;
  text-align: center;
  background: #e60012;
}
#Information .inner .archive {
  height: 0;
  overflow: hidden;
}
#Information .inner .archive .archive_inner .archive_list .item {
  border-bottom: 1px solid lightgray;
}
#Information .inner .archive .archive_inner .archive_list .item a {
  display: block;
  position: relative;
  padding: 12px 30px 12px 10px;
}
#Information .inner .archive .archive_inner .archive_list .item a:after {
  width: 16px;
  height: 21px;
  content: "";
  display: block;
  background: url(../images/common/icon_s.png) no-repeat;
  background-size: 128px 63px;
  background-position: 0px -21px;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -10px;
}
#Information .inner .archive .archive_inner .archive_list .item a.external:after {
  width: 16px;
  height: 21px;
  content: "";
  display: block;
  background: url(../images/common/icon_s.png) no-repeat;
  background-size: 128px 63px;
  background-position: -16px -21px;
}
#Information .inner .archive .archive_inner .archive_list .item a.pc:after {
  width: 16px;
  height: 21px;
  content: "";
  display: block;
  background: url(../images/common/icon_s.png) no-repeat;
  background-size: 128px 63px;
  background-position: -32px -21px;
}
#Information .inner .archive .archive_inner .archive_list .item a h1 {
  color: #777777;
}
#Information .inner .archive .archive_inner p.close {
  padding: 15px;
}
#Information .inner .archive .archive_inner p.close span {
  display: block;
  padding: 15px 0;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-radius: 5px;
  text-align: center;
  background: #555555;
  color: white;
}
#Information .inner .archive .archive_inner p.close span:before {
  width: 16px;
  height: 21px;
  content: "";
  display: block;
  background: url(../images/common/icon_s.png) no-repeat;
  background-size: 128px 63px;
  background-position: -48px -42px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
#Information .inner .archive .archive_inner p.close span:before {
  width: 16px;
  height: 21px;
  content: "";
  display: block;
  background: url(../images/common/icon_s.png) no-repeat;
  background-size: 128px 63px;
  background-position: -48px 0px;
  display: inline-block;
}

#Spec #SpecInner {
  width: 100%;
  display: table;
  border-top: 1px solid #2f2f2f;
}
#Spec #SpecInner .wrap {
  display: table-row;
}
#Spec #SpecInner .wrap .item {
  text-style: italic;
  width: 50%;
  min-height: 40px;
  display: table-cell;
  vertical-align: top;
  padding-bottom: 8px;
  border-right: 1px solid #2f2f2f;
  border-bottom: 1px solid #2f2f2f;
  background-color: #4E4E4E;
  background-image: -webkit-linear-gradient(top, dimgray 0%, #4e4e4e 100%);
}
#Spec #SpecInner .wrap .item h1 {
  min-width: 3em;
  height: 15px;
  float: left;
  margin-bottom: 5px;
  padding: 3px 15px 0 8px;
  color: white;
  font-size: 71.42857%;
  text-align: center;
  background: url(../images/car/index/spc_hd_bck.png) no-repeat right top;
  background-size: 320px 18px;
}

#Spec #SpecInner .wrap .item_bg h1 {
  background: url(/sp/images/i-miev/index/item_bg.png) right top;
  background-size: cover;padding: 8px 35px 8px 13px;
  height: auto;
  font-size: 70%;
  font-weight: normal;
  line-height: 1.3;
  text-align: left;
}
#Spec #SpecInner .wrap .item p {
  clear: left;
  padding: 0 10px;
}
#Spec #SpecInner .wrap .item p.parameter {
  line-height: 1.25;
  color: white;
  font-size: 85.71429%;
  text-align: center;
}
#Spec #SpecInner .wrap .item p.parameter span {
  margin-right: 5px;
}
#Spec #SpecInner .wrap .item p.parameter span.number {
  font-size: 200%;
  font-style: italic;
}
#Spec #SpecInner .wrap .item p.parameter span.label {
  font-size: 132%;
}
#Spec #SpecInner .wrap .item p.parameter span.eco_badge {
  margin-bottom: 3px;
}
#Spec #SpecInner .wrap .item:last-of-type {
  border-right: 0;
}
#Spec #SpecInner .wrap:last-of-type .item {
  border-bottom: 0;
}
#Spec .notes {
  line-height: 1.5;
  padding: 10px 15px;
  border-top: 1px solid white;
  border-bottom: 1px solid lightgray;
  font-size: 78.57143%;
  background: #f0f0f0;
}
#Spec.grade_detail .wrap .item {
  width: auto;
}
#Spec.grade_detail .wrap .item.difference {
  width: 60px;
}
#Spec.grade_detail .wrap .item p.parameter span.number {
  font-size: 190%;
}
#Spec .att {
  background: #f0f0f0;
  color: #555555;
  padding: 0 10px;
  border-bottom: 1px solid #555555;
  text-align: left;
  font-size: 100%;
  line-height: 3.5em;
}

#Concept {
  padding: 0 15px 25px;
}
#Concept > h1 {
  line-height: 1.2;
  padding: 12px 10px;
  border-top: 2px solid #e60012;
  border-bottom: 1px solid lightgray;
  color: #555555;
  font-size: 114.28571%;
  margin: 0 -15px 15px;
}
#Concept p {
  line-height: 1.5;
  margin-top: 15px;
}
#Concept .notes {
  color: #999999;
  font-size: 78.57143%;
}
#Concept .notes strong {
  color: #e60012;
  font-weight: 100;
}

#Highlight > h1 {
  line-height: 1.2;
  padding: 12px 10px;
  border-top: 2px solid #e60012;
  border-bottom: 1px solid lightgray;
  color: #555555;
  font-size: 114.28571%;
}
#Highlight .item {
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid lightgray;
  line-height: 1.5;
  padding: 15px 10px 30px;
}
#Highlight .item .image {
  margin-bottom: 10px;
}
#Highlight .item .image.fullWidth {
  margin: 0 -10px 10px;
}
#Highlight .item .image.fullWidth.mb20 {
  margin: 0 -10px 20px;
}
#Highlight .item .image img {
  width: 100%;
}
#Highlight .item .imgHalf {
  overflow: hidden;
  margin: 0 -10px -15px;
}
#Highlight .item .imgHalf .btnWrap {
  float: left;
  width: 50%;
}
#Highlight .item .imgHalf .btnWrap img {
  width: 100%;
  height: auto;
}

#Highlight .item h1 {
  margin-bottom: 5px;
  font-size: 114.28571%;
  text-align: center;
}
#Highlight .item .summary p {
  margin-bottom: 10px;
  color: #777777;
  font-size: 85.71429%;
}
#Highlight .item .summary p.notes {
  font-size: 78.57143%;
}
#Highlight .item p.btn {
  margin-top: 10px;
}
#Highlight .item p.btn a {
  font-size: 14px;
  text-align: center;
}
#Highlight .item:last-of-type {
  border-bottom: 0;
}
#Highlight .item h2.movie {
  font-weight: normal;
  margin-bottom: 12px;
}
#Highlight .item h2.movie .notes { font-size: 85.714%; }
#Highlight .item h2.movie strong {
  font-weight: bold;
  color: #e60012;
}
#Highlight .youtube {
  padding-top: 56.25%;
  position: relative;
}
#Highlight .youtube iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
#support {
  padding: 20px 10px;
}
#support > h1 {
  line-height: 1.2;
  padding: 12px 10px;
  border-top: 2px solid #e60012;
  border-bottom: 1px solid lightgray;
  color: #555555;
  font-size: 114.28571%;
}
#support .support-point {
  border: 1px solid #6d8c9b;
  margin-bottom: 25px;
}
#support .support-point h2 {
  background: #6d8c9b;
  color: #fff;
  font-size: 120%;
  font-weight: normal;
  text-align: center;
  line-height: 2.5;
  margin-bottom: 25px;
}
#support .support-point .point {
  margin-bottom: 20px;
  padding: 0 10px;
}
#support .support-point .point h3 {
  color: #6d8c9b;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #6d8c9b;
  font-size: 120%;
  font-weight: normal;
}
#support .support-point .img-left {
  overflow: hidden;
}
#support .support-point .img-left .img {
  float: left;
  width: 35%;
  text-align: center;
}
#support .support-point .img-left .img img {
  width: 80%;
}
#support .support-point .img-left .txt {
  float: left;
  width: 65%;
  line-height: 1.5;
}
#support .support-txt {
  line-height: 1.3;
  margin-bottom: 25px;
}
#support .note-list {
  line-height: 1.3;
  margin-bottom: 20px;
  color: #777777;
}

.footerBannerMarker {
  margin-bottom: 40px;
}

.footerBannerMarker img {
  width: 100%;
  height: auto;
}


/*
	魅力
--------------------------------------------------------- */
#FeatureDetail .section h2 {
  padding: 12px 10px;
  border-top: 1px solid #3f3f3f;
  border-right: 1px solid #3f3f3f;
  border-bottom: 1px solid #3f3f3f;
  border-left: 1px solid #3f3f3f;
  font-weight: 100;
  text-align: center;
}
#FeatureDetail .section h2.new {
  background: url(/sp/images/i-miev/common/new.png) right top no-repeat;
  background-size: 10% 90%;
}
#FeatureDetail .section h2 span {
  display: inline-block;
  margin: 0 5px;
  font-size: 77%;
}
#FeatureDetail .section h2.logo {
  border: 0;
  padding: 0;
}
#FeatureDetail .section h3 {
  line-height: 1.2;
  padding-left: 7px;
  border-left: 2px solid #e60012;
  color: #555555;
  font-size: 114.28571%;
}
#FeatureDetail .section .image {
  margin: 0 -15px;
}
#FeatureDetail .section .image img {
  max-width: 100%;
  height: auto;
}
#FeatureDetail .section .image_c img {
  max-width: 100%;
  height: auto;
}
#FeatureDetail .feature_notes {
  line-height: 1.5;
  margin: 0 10px 30px;
  color: #999999;
  font-size: 78.57143%;
}
#FeatureDetail .caution {
  line-height: 1.5;
  margin: 20px 10px 30px;
  color: #e60012;
  font-size: 78.57143%;
}
#FeatureDetail .feature_notes h1 {
  margin-top: 10px;
}
#FeatureDetail .feature_notes p {
  margin-bottom: 5px;
}
#FeatureDetail .feature_notes ul li {
  list-style-type: disc;
  margin: 0 0 5px 20px;
}
#FeatureDetail .img-inner {
  padding: 0 15px;
}
#FeatureDetail .support-point {
  border: 1px solid #6d8c9b;
  margin: 20px auto 25px;
}
#FeatureDetail .support-point h2 {
  background: #6d8c9b;
  border: none;
  color: #fff;
  font-size: 120%;
  font-weight: normal;
  text-align: center;
  line-height: 0.8;
  margin-bottom: 20px;
}
#FeatureDetail .section .support-point h3 {
  text-align: center;
  border: none;
  font-weight: normal;
}
#FeatureDetail .section .support-point p {
  padding: 0 10px;
}
.color-red {
  color: #f00;
}
/*
	デザイン/カラー
--------------------------------------------------------- */
#Exterior > h1 {
  line-height: 1.2;
  padding: 12px 10px;
  border-top: 2px solid #e60012;
  border-bottom: 1px solid lightgray;
  color: #555555;
  font-size: 114.28571%;
}
#Exterior .color_variation {
  border-top: 1px solid lightgray;
}
#Exterior .color_variation > h1 {
  line-height: 1.2;
  padding-left: 7px;
  border-left: 2px solid #e60012;
  color: #555555;
  font-size: 114.28571%;
  margin: 15px 10px;
}

#Interior > h1 {
  line-height: 1.2;
  padding: 12px 10px;
  border-top: 2px solid #e60012;
  border-bottom: 1px solid lightgray;
  color: #555555;
  font-size: 114.28571%;
}
#Interior .color_variation {
  border-top: 1px solid lightgray;
}
#Interior .color_variation > h1 {
  line-height: 1.2;
  padding-left: 7px;
  border-left: 2px solid #e60012;
  color: #555555;
  font-size: 114.28571%;
  margin: 15px 10px;
}
#BodyColor.color_variation h1 {
  border-top: none;
  border-bottom: none;
}

.image_gallery .image {
  margin-bottom: 15px;
}
.image_gallery .image .inner .item {
  padding-bottom: 53%;
}
.image_gallery .image .inner .item img {
  width: 100%;
  position: absolute;
}
.image_gallery .image_title {
  margin: 0 20px 15px;
  font-size: 85.71429%;
}
.image_gallery .thumbnail_list {
  width: 100%;
  height: 180px;
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-transform: translate3d(0, 0, 0);
}
#Exterior .image_gallery .thumbnail_list {
  height: 95px;
}
.i-miev .image_gallery .thumbnail_list ul {
  min-width: 100%;
}
.image_gallery .thumbnail_list * {
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-transform: translate3d(0, 0, 0);
}
.image_gallery .thumbnail_list ul {
  width: 9999px;
  height: 150px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 10px 0 20px;
}
.image_gallery .thumbnail_list ul li {
  width: 85px;
  height: 70px;
  float: left;
  margin: 0 10px 10px 0;
}
/*.image_gallery .thumbnail_list ul li:nth-child(2n) {
  margin-top: 80px;
  margin-left: -95px;
}*/
.image_gallery .thumbnail_list ul li a {
  display: block;
  position: relative;
}
.image_gallery .thumbnail_list ul li a.current:after {
  width: 81px;
  height: 66px;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border-top: 2px solid #e60012;
  border-right: 2px solid #e60012;
  border-bottom: 2px solid #e60012;
  border-left: 2px solid #e60012;
}

.design_movie {
  border-top: 1px solid lightgray;
  line-height: 1.5;
  padding: 0px 10px 30px;
}
.design_movie .movie_title {
  color: #555;
  font-size: 114.286%;
  line-height: 1.2;
  padding: 12px 0px;
}
.design_movie .youtube {
  padding-top: 56.25%;
  position: relative;
}
.design_movie .youtube iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.color_variation {
  padding-bottom: 30px;
}
.color_variation .image {
  margin-bottom: 15px;
}
.color_variation .image .inner {
  position: relative;
}
.color_variation .image .inner .item {
  width: 100%;
  display: none;
}
.color_variation .image .inner .item img {
  width: 100%;
}
.color_variation .image .inner .turn {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -30px 0 0 -30px;
}
.color_variation .image .inner .turn img {
  width: 60px;
  height: 60px;
}
.color_variation .image .bar_wrap {
  width: 100%;
  height: 6px;
  overflow: hidden;
  background: lightgray;
}
.color_variation .image .bar_wrap .bar {
  height: 6px;
  background: #555555;
}
.color_variation .color_select p {
  line-height: 1.5;
  margin: 0 20px 15px;
  font-size: 85.71429%;
}
.color_variation .color_select ul {
  text-align: center;
}
.color_variation .color_select ul li {
  width: 44px;
  height: 44px;
  overflow: hidden;
  display: inline-block;
  position: relative;
  margin: 0 6px 10px;
  border-radius: 4px;
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.6);
}
.color_variation .color_select ul li img {
  width: 44px;
  height: 44px;
  border-radius: 4px;
}
.color_variation .color_select ul li.current {
  box-shadow: none;
}
.color_variation .color_select ul li.current:after {
  width: 44px;
  height: 44px;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.3) inset;
}
.color_variation .grade_select {
  margin: 0 20px 15px;
}
.color_variation .grade_select h1 {
  margin: 10px 0 5px;
}
.color_variation .grade_select select {
  width: 100%;
}
.color_variation .color_detail {
  position: relative;
  margin: 0 20px 15px;
  padding-bottom: 12px;
}
.color_variation .color_detail:after {
  width: 18px;
  height: 12px;
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -9px;
  background: url(../images/car/grade/clr_arr.png) no-repeat left top;
  background-size: 18px 12px;
}
.color_variation .color_detail .inner {
  width: 100%;
  display: table;
  background: #f0f0f0;
}
.color_variation .color_detail .inner .image {
  width: 44px;
  display: table-cell;
  vertical-align: middle;
  padding: 15px;
}
.color_variation .color_detail .inner .image img {
  width: 44px;
  height: 44px;
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.6);
  border-radius: 4px;
}
.color_variation .color_detail .inner .text {
  display: table-cell;
  line-height: 1.25;
  vertical-align: middle;
  padding: 15px 15px 15px 0;
  font-size: 78.57143%;
}
.color_variation .color_chip_list ul {
  text-align: center;
}
.color_variation .color_chip_list ul li {
  width: 44px;
  height: 44px;
  overflow: hidden;
  display: inline-block;
  position: relative;
  margin: 0 6px 10px;
  border-radius: 4px;
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.6);
}
.color_variation .color_chip_list ul li img {
  width: 44px;
  height: 44px;
  border-radius: 4px;
}
.color_variation .color_chip_list ul li.current {
  box-shadow: none;
}
.color_variation .color_chip_list ul li.current:after {
  width: 44px;
  height: 44px;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.3) inset;
}

#DesignNotes {
  line-height: 1.5;
  margin: 30px 10px;
  margin-top: 20px;
  padding-top: 0;
}
#DesignNotes h1 {
  line-height: 1.2;
  padding-left: 7px;
  border-left: 2px solid #e60012;
  color: #555555;
  font-size: 114.28571%;
  line-height: 1.25;
  margin: 30px 0 15px;
}
#DesignNotes p {
  color: #777777;
}
#DesignNotes ul {
  margin-top: 15px;
  color: #777777;
  font-size: 78.57143%;
}
#DesignNotes ul li {
  margin-top: 5px;
}
#DesignNotes ul.common li {
  list-style-type: disc;
  margin-left: 20px;
}
#DesignNotes ul li.circle {
  text-indent: -1em;
  padding-left: 1em
}

/*
	グレード一覧
--------------------------------------------------------- */
#GradeList .category > h1 {
  line-height: 1.2;
  padding: 12px 10px;
  border-top: 2px solid #e60012;
  border-bottom: 1px solid lightgray;
  color: #555555;
  font-size: 114.28571%;
}
#GradeList .category .sub_category > h1 {
  line-height: 1.2;
  padding: 10px;
  color: white;
  font-size: 114.28571%;
  background: #777777;
}
#GradeList .item {
  border-top: 1px solid white;
  border-bottom: 1px solid lightgray;
}
#GradeList .item a {
  display: block;
  position: relative;
  padding: 15px 10px;
}
#GradeList .item a .inner {
  padding-right: 10px;
  border-right: 16px solid #555555;
}
#GradeList .item a .inner h1 {
  margin-bottom: 10px;
  line-height: 1.2;
  padding-left: 7px;
  border-left: 2px solid #e60012;
  color: #555555;
  font-size: 114.28571%;
  font-size: 100%;
}
#GradeList .item a .inner .wrap {
  width: 100%;
  display: table;
  margin-bottom: 10px;
}
#GradeList .item a .inner .wrap .image {
  width: 120px;
  display: table-cell;
  vertical-align: middle;
}
#GradeList .item a .inner .wrap .parameter {
  line-height: 1.2;
  display: table-cell;
}
#GradeList .item a .inner .wrap .parameter dl {
  font-size: 78.57143%;
}
#GradeList .item a .inner .wrap .parameter dl dt span {
  display: inline-block;
  white-space: nowrap;
}
#GradeList .item a .inner .wrap .parameter dl dd span.number {
  margin-right: 5px;
  font-size: 220%;
  font-weight: 700;
  font-style: italic;
}
#GradeList .item a .inner .summary {
  line-height: 1.5;
  color: #777777;
  font-size: 78.57143%;
}
#GradeList .item a:after {
  width: 16px;
  height: 21px;
  content: "";
  display: block;
  background: url(../images/common/icon_s.png) no-repeat;
  background-size: 128px 63px;
  background-position: 0px 0px;
  position: absolute;
  top: 50%;
  right: 11px;
  margin-top: -8px;
}
#GradeList .item:nth-of-type(2n + 1) {
  background: #f0f0f0;
}

#GradeListNotes {
  padding: 30px 10px;
}
#GradeListNotes .btn_pc {
  margin-bottom: 40px;
}
#GradeListNotes .complement {
  /* margin-top: 30px; */
}
#GradeListNotes .complement h1 {
  line-height: 1.2;
  padding-left: 7px;
  border-left: 2px solid #e60012;
  color: #555555;
  font-size: 114.28571%;
}
#GradeListNotes .complement ul {
  line-height: 1.5;
  margin-top: 15px;
  color: #777777;
  font-size: 78.57143%;
}
#GradeListNotes .complement ul.common li {
  list-style-type: disc;
  margin-left: 2em;
}

/*
	グレード詳細
--------------------------------------------------------- */
#BodyColor {
  padding-bottom: 20px;
}
#BodyColor > h1 {
  line-height: 1.2;
  padding: 12px 10px;
  border-top: 2px solid #e60012;
  border-bottom: 1px solid lightgray;
  color: #555555;
  font-size: 114.28571%;
  margin-bottom: 15px;
}
#BodyColor .color_detail {
  position: relative;
  margin: 0 20px 15px;
  padding-bottom: 12px;
}
#BodyColor .color_detail:after {
  width: 18px;
  height: 12px;
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -9px;
  background: url(../images/car/grade/clr_arr.png) no-repeat left top;
  background-size: 18px 12px;
}
#BodyColor .color_detail .inner {
  position: relative;
  width: 100%;
  display: table;
  background: #f0f0f0;
}

#BodyColor .color_detail .inner:after {
  position: absolute;
  top: 100%;
  left: 50%;
  content: "";
  width: 0;
	height: 0;
  margin-left: -15px;
	border: 15px solid transparent;
	border-top: 15px solid #f0f0f0;
}
#BodyColor .color_detail .inner .image {
  width: 44px;
  display: table-cell;
  vertical-align: middle;
  padding: 15px;
}
#BodyColor .color_detail .inner .image img {
  width: 44px;
  height: 44px;
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.6);
  border-radius: 4px;
}
#BodyColor .color_detail .inner .text {
  display: table-cell;
  line-height: 1.25;
  vertical-align: middle;
  padding: 15px 15px 15px 0;
  font-size: 78.57143%;
}
#BodyColor .color_chip_list ul {
  text-align: center;
}
#BodyColor .color_chip_list ul li {
  width: 44px;
  height: 44px;
  overflow: hidden;
  display: inline-block;
  position: relative;
  margin: 0 6px 10px;
  border-radius: 4px;
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.6);
}
#BodyColor .color_chip_list ul li img {
  width: 44px;
  height: 44px;
  border-radius: 4px;
}
#BodyColor .color_chip_list ul li.current {
  box-shadow: none;
}
#BodyColor .color_chip_list ul li.current:after {
  width: 44px;
  height: 44px;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.3) inset;
}

#Feature > h1 {
  line-height: 1.2;
  padding: 12px 10px;
  border-top: 2px solid #e60012;
  border-bottom: 1px solid lightgray;
  color: #555555;
  font-size: 114.28571%;
}
#Feature .summary {
  line-height: 1.5;
  margin: 15px 10px;
}
#Feature .item {
  padding: 20px 10px 15px;
  border-top: 1px solid lightgray;
}
#Feature .item .image {
  margin-bottom: 10px;
}
#Feature .item .image img {
  width: 100%;
}
#Feature .item .text {
  line-height: 1.5;
  color: #777777;
  text-align: center;
}
#Feature .item .text .ta_left {
  text-align: left;
}
#Feature .item .text .notes {
  font-size: 78.57143%;
}

#PriceAndSpec {
  padding: 0 10px 30px;
}
#PriceAndSpec > h1 {
  line-height: 1.2;
  padding: 12px 10px;
  border-top: 2px solid #e60012;
  border-bottom: 1px solid lightgray;
  color: #555555;
  font-size: 114.28571%;
  margin: 0 -10px 15px;
}
#PriceAndSpec .tab_section .tab_navi ul {
  width: 100%;
  display: table;
  margin-bottom: 15px;
}
#PriceAndSpec .tab_section .tab_navi ul li {
  width: 50%;
  display: table-cell;
  text-align: center;
}
#PriceAndSpec .tab_section .tab_navi ul li a {
  display: block;
  line-height: 1.25;
  position: relative;
  padding: 10px 0;
  font-size: 85.71429%;
  background: #e0e0e0;
}
#PriceAndSpec .tab_section .tab_navi ul li a:after {
  width: 16px;
  height: 21px;
  content: "";
  display: block;
  background: url(../images/common/icon_s.png) no-repeat;
  background-size: 128px 63px;
  background-position: -96px -42px;
  display: inline-block;
  vertical-align: middle;
  margin: -3px 0 0 3px;
}
#PriceAndSpec .tab_section .tab_navi ul li a.current {
  color: white;
  background: #e60012;
}
#PriceAndSpec .tab_section .tab_navi ul li a.current:before {
  width: 12px;
  height: 7px;
  content: "";
  display: block;
  position: absolute;
  bottom: -7px;
  left: 50%;
  margin-left: -6px;
  background: url(../images/common/tab_crnt_arr.png) no-repeat left top;
  background-size: 12px 7px;
}
#PriceAndSpec .tab_section .tab_navi ul li a.current:after {
  width: 16px;
  height: 21px;
  content: "";
  display: block;
  background: url(../images/common/icon_s.png) no-repeat;
  background-size: 128px 63px;
  background-position: -96px 0px;
  display: inline-block;
}
#PriceAndSpec .tab_section .tab_navi ul li a span.notes {
  font-size: 78.57143%;
}
#PriceAndSpec .tab_section .spec_table {
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
  font-size: 85.71429%;
}
#PriceAndSpec .tab_section .spec_table table {
  line-height: 1.5;
  width: 100%;
  border-top: 1px solid lightgray;
}
#PriceAndSpec .tab_section .spec_table table thead th {
  padding: 5px 10px;
  border-bottom: 1px solid lightgray;
  color: white;
  background: #3f3f3f;
}
#PriceAndSpec .tab_section .spec_table table tbody th {
  vertical-align: middle;
  padding: 5px 10px;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  background: #f0f0f0;
}
#PriceAndSpec .tab_section .spec_table table tbody th:first-child {
  border-left: 0;
}
#PriceAndSpec .tab_section .spec_table table tbody td {
  vertical-align: middle;
  padding: 5px 10px;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  text-align: center;
}
#PriceAndSpec .tab_section .spec_table table tbody td:first-child {
  border-left: 0;
}
#PriceAndSpec .tab_section .spec_table table tbody tr td {
  width: 50%;
}
#PriceAndSpec .tab_section .spec_table table tbody tr td[colspan="2"] {
  width: 100%;
}
#PriceAndSpec .tab_section .spec_notes {
  font-size: 78.57143%;
  line-height: 1.5;
}
#PriceAndSpec .tab_section .spec_notes p {
  margin-top: 10px;
}
#PriceAndSpec .tab_section .spec_notes ul {
  margin-top: 10px;
}
#PriceAndSpec .tab_section .spec_notes ul li {
  list-style-type: disc;
  margin-left: 20px;
}
#PriceAndSpec .tab_section p.clean_energy {
  line-height: 1.5;
  margin-top: 20px;
  text-decoration: underline;
}

#RelatedLink {
  padding: 0 10px;
}
#RelatedLink p {
  margin-bottom: 10px;
}
#RelatedLink.design {
  padding: 20px 10px 0;
  border-top: 1px solid lightgray;
}

#BackGradeList {
  margin-top: 30px;
  padding: 0 10px;
}

#GradeDetailNotes {
  line-height: 1.5;
  margin: 30px 10px;
}
#GradeDetailNotes h1 {
  line-height: 1.2;
  padding-left: 7px;
  border-left: 2px solid #e60012;
  color: #555555;
  font-size: 114.28571%;
  line-height: 1.25;
  margin: 30px 0 15px;
}
#GradeDetailNotes p {
  color: #777777;
}
#GradeDetailNotes ul {
  margin-top: 15px;
  color: #777777;
  font-size: 78.57143%;
}
#GradeDetailNotes ul li {
  margin-top: 5px;
}
#GradeDetailNotes ul.common li {
  list-style-type: disc;
  margin-left: 20px;
}

.section p.mt35 {
  margin-top: 35px;
}
