@charset "UTF-8";
/* ==================================================================

	CM CMライブラリー
------------------------------------------------------------------ */
/*
	インデックス
--------------------------------------------------------- */
#CmList .item {
  position: relative;
  padding: 0 10px 15px;
}
#CmList .item h1 {
  margin: 0 -10px;
  line-height: 1.2;
  padding: 12px 10px;
  border-top: 2px solid #e60012;
  border-bottom: 1px solid lightgray;
  color: #555555;
  font-size: 114.28571%;
}
#CmList .item .video {
  position: relative;
  margin: 0 -10px 15px;
}
#CmList .item .video img {
  width: 100%;
}
#CmList .item .video a {
  display: block;
}
#CmList .item .video a:after {
  width: 60px;
  height: 60px;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
  background: url(../images/common/ply.png) no-repeat top left;
  background-size: 60px 60px;
}
#CmList .item.new:after {
  width: 35px;
  height: 35px;
  content: "";
  position: absolute;
  top: 2px;
  right: 0;
  background: url(../images/common/new.png) no-repeat top left;
  background-size: 35px 35px;
}
