@charset "UTF-8";
/* ==================================================================

	delica_d2 デリカD:2 車種ページ
------------------------------------------------------------------ */
#FeatureDetail .section table tbody tr td img {
  vertical-align: middle;
}
#FeatureDetail .section .eco_mark {
  margin: 15px 0;
  text-align: center;
}
#FeatureDetail .section .eco_mark img {
  margin: 0 5px;
}
#FeatureDetail .section .clean_energy {
  margin: 15px 0;
  padding: 15px;
  border: 1px solid #3f3f3f;
}
#FeatureDetail .section .clean_energy h1 {
  line-height: 1.5;
}
#FeatureDetail .section .clean_energy p {
  margin: 10px 0 0;
}
#FeatureDetail .section .eco {
  margin: 15px 0;
  padding: 15px;
  border: 1px solid #009550;
  color: #009550;
}
#FeatureDetail .section .eco h1 {
  line-height: 1.5;
  font-size: 100%;
}
#FeatureDetail .section .eco p {
  margin: 10px 0 0;
}
#FeatureDetail .eco,
#FeatureDetail .eco h2 {
  color: #009550;
}

#FeatureDetail section.first {
  border-bottom: 2px solid #d3d3d3;
  border-top: 0px;
}
#FeatureDetail section.end {
  border-bottom: 0px;
  border-top: 2px solid #f0f0f0;
}

#FeatureDetail section.line {
  border-bottom: 2px solid #d3d3d3;
  border-top: 2px solid #f0f0f0;
}

#FeatureDetail section.section h1.title{
  border-bottom: 0px;
  border-top: 0px;
  margin-bottom: 0;
}

#FeatureDetail section.attention {
  padding-top: 15px;
  border-bottom: 0px;
  border-top: 2px solid #f0f0f0;
}

#FeatureDetail section.color_variation {
  border-top: 2px solid #e60012;
}

/*-------------------------------------------------------
	グレード詳細
--------------------------------------------------------- */
#Spec.grade_detail #SpecInner .wrap .item.price {
  width: 70%;
}

/*-------------------------------------------------------
	デザインページ用追記
	インテリアのギャラリーサムネイルを3段にする
	→デフォルトではcar.cssで2段に並ぶようになっている
--------------------------------------------------------- */
#Interior .image_gallery .thumbnail_list {
}
.image_gallery .thumbnail_list ul li
.image_gallery .thumbnail_list ul.noslide li {
    width: 85px;
    height: 70px;
    float: left;
    margin: 0 10px 10px 0;
}
#Exterior .image_gallery .thumbnail_list ul li:nth-child(2n),
#Interior .image_gallery .thumbnail_list ul li:nth-child(2n) {
    margin-top: 80px;
    margin-left: -95px;
}

/*
#Exterior .image_gallery .thumbnail_list ul li:nth-child(3n+1),
#Interior .image_gallery .thumbnail_list ul li:nth-child(3n+1){
  clear:left;
}
*/
#Exterior .image_gallery .thumbnail_list ul.noslide li:nth-child(3n+1),
#Interior .image_gallery .thumbnail_list  ul.noslide li:nth-child(3n+1){
  clear:left;
}

#FeatureDetail .section h4{
color:#017f7b;
}
#FeatureDetail .section .attention{
    color: #cc0000;
    font-size: 78.57143%;
}

#Exterior .color_variation.color_variation_custom{
    border-top:none;
}
div.carlogo{
padding-left:20px;
margin-bottom:10px;
width:100px
}
div.carlogo img{
width:100%;
}
.image_gallery .thumbnail_list,
.image_gallery .thumbnail_list .noslide {
    height:auto;
    margin-bottom:20px;
}
.image_gallery .thumbnail_list ul,
.image_gallery .thumbnail_list ul.noslide {
    position:relative;
    height:auto;
}
.image_gallery .thumbnail_list ul li:nth-child(2n){
	margin-top: auto;
	margin-left: auto;
}
.image_gallery .thumbnail_list ul.noslide li:nth-child(2n) {
	margin-top: auto !important;
	margin-left: auto !important;
}
#movie .movie {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    padding: 56.25% 0 0 0;
}
#movie .movieArea{
	margin: 0 -10px;
}
#movie .movie iframe, #movie .movie img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



#Special{
	text-align: center;
	padding-bottom: 10%;
}
.section .image img{
	width:100%;
}
#Special #header{margin: 0;
padding: 0;}
#Special #header .sectionimage{
margin-top: -13%;
}
#Special #episode{margin: 0;
padding: 0;}

#Special #episode .episode1{
	background: url(/sp/images/delica_d2/special/top/day1_camp_bg.jpg) no-repeat;
	background-size: 100%;
	margin-top: 6%;
	padding-bottom: 8%;
}
#Special #episode .episode1 .episode_image{
padding: 1% 0 0 3%;
}
#Special #episode .episode1 .episode_button{
padding: 1% 0 0 3%;
}
#Special #episode .episode2{
	background: url(/sp/images/delica_d2/special/top/day2_trecking_bg.png) no-repeat;
	background-size: 100%;
	margin-top: 2%;
	padding-top: 5.5%;
	padding-bottom: 8%;
}
#Special #episode .episode2 .episode_image{
padding: 1% 1% 0 1.8%;
}
#Special #episode .episode2 .episode_button{
padding: 1% 0 0 3%;
}
#Special #episode .episode3{
	background: url(/sp/images/delica_d2/special/top/day3_ski_bg.png) no-repeat;
	background-size: 100%;
	margin-top: 3%;
	padding-top: 6%;
	padding-bottom: 9%;
}
#Special #episode .episode3 .episode_image{
padding: 1% 5% 0 5%;
}
#Special #episode .episode3 .episode_button{
padding: 1% 2% 0 4%;
}


#Special p{
	padding: 1% 6%;
	text-align: justify;
}

#episode .part{}
#episode .part .anime,
#uservoice .anime{
	position: relative;
}

#episode .part .balloon,
#episode .part .balloon2,
#uservoice .voice2 .balloon{
	position: absolute;
	z-index: 10;
	opacity: 0;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
	-webkit-transform: scale(0.1) rotate(-15deg) translate(-400px, -250px);
	transform: scale(0.1) rotate(-15deg) translate(-400px, -250px);
	-webkit-transform-origin: 100% 100%;  
	transform-origin: 100% 100%; 
}

#episode .part .balloon.on,
#episode .part .balloon2.on,
#uservoice .voice2 .balloon.on{
	opacity: 1;
	-webkit-transform: scale(1) rotate(0);
	transform: scale(1) rotate(0);
}

#Special .section
{
	margin: 0;
	padding: 0;
}
#Special.episode1 #header p,
#Special.episode2 #header p,
#Special.episode3 #header p{
	padding: 1% 5%;
}
#Special.episode1 #header{
	background-color: #e5f1e5;
	padding-bottom: 5%;
}
#Special.episode2 #header{
	background-color: #fff5d7;
	padding-bottom: 5%;
}

#Special.episode3 #header{
	background-color: #f7e0f0;
	padding-bottom: 5%;
}
#Special.episode1 .readcopy img,
#Special.episode2 .readcopy img,
#Special.episode3 .readcopy img{
	width: 88%;
	padding: 4% 4% 2% 3%;
}
#Special.episode1 #episode .part h2,
#Special.episode2 #episode .part h2,
#Special.episode3 #episode .part h2{
	margin-bottom: 3%;
}
#Special.episode1 #episode .part1,
#Special.episode2 #episode .part1,
#Special.episode3 #episode .part1{
	margin-top: 8%;
}
#Special.episode1 .part1 img.balloon {
	width: 38%;
	top: 2.5%;
	left: 2.2%;
}
#Special.episode1 .part2 img.balloon {
	width: 25.8%;
	top: 0.5%;
	left: 55%;
}
#Special.episode1 .part3 img.balloon {
	width: 23%;
	top: 3.8%;
	left: 56.8%;
}
#Special.episode1 .part3 img.balloon2 {
	width: 25%;
	top: 2.8%;
	left: 8.8%;
}

#Special.episode2 .part1 img.balloon {
	width: 34%;
	top: 4.6%;
	left: 52.2%;
}
#Special.episode2 .part2 img.balloon {
	width: 35%;
	top: 3%;
	left: 42.4%;
}
#Special.episode2 .part3 img.balloon {
	width: 31%;
	top: 6.1%;
	left: 64.8%;
}
#Special.episode2 .part4 img.balloon {
	width: 37%;
	top: 24.3%;
	left: 16.8%;
}

/*episode3 balloon*/
#Special.episode3 .part1 img.balloon {
	width: 31%;
	top: 2.3%;
	left: 2%;
}
#Special.episode3 .part2 img.balloon {
	width: 32%;
	top: 2%;
	left: 51.7%;
}
#Special.episode3 .part3 img.balloon {
	width: 30.1%;
	top: 30.5%;
	right: 5.1%;
}
#Special.episode3 .part4 img.balloon {
	width: 33.4%;
	top: 26.2%;
	right: 5.7%;
}

#Special.episode3 .part h4{
	width: 86%;
	margin: 1% auto;
	padding-left:2%; 
	border-left: 4px solid #2b67b2;
	font-size: 16px;
	text-align: left;
	line-height: 1.5em;
}

#Special #uservoice{
	background:url(/sp/images/delica_d2/special/episode1/uservoice_bottom.png) no-repeat bottom #e5f1e5;
	background-size: 100%;
	padding-bottom: 10%;
}
#Special #uservoice .voice2 img.balloon {
    width: 31%;
    top: 1.3%;
    left: 1.8%;
}
#Special #uservoice .voicetitle{
	margin-bottom: 4%;
}

#Special #instructor{
	padding: 0 5%;
}
#Special #instructor h2{
	background-color: #84ccc9;
	border: 3px solid #84ccc9;
	margin: 0;
	padding: 1.5%
}
#Special #instructor h2 img{
	width: 40%;
}

#Special #instructor .profile{
	border: 3px solid #84ccc9;
	border-top: none;
	padding: 4% 1% 4% 4%;
}
#Special #instructor .profile .photo{
float: left;
width: 35%;
position: relative;
}
#Special #instructor .profile .photo img{
	width: 100%;
}
#Special #instructor .profile .intro{
float: right;
width: 65%;
position: relative;
text-align: left;
}
#Special #instructor .profile .intro img{
	width: 60%;
	margin-left: 4%;
}
#Special #instructor .profile .intro  p{
	margin-bottom: 0;
	line-height: 1.33;
}

#Special #location{
	text-align: left;
	padding: 0 5%;
	margin: 7% auto;
	line-height: 1.3;
}
#Special #location h3{
	margin: 0;
}

#Special #specialnavi{
	padding: 0 5%;
	margin: 8% 0;
}
#Special #specialnavi li{
	margin: 5% 0;
}
#Special #specialnavi li img{
	width: 100%;
}
#Special #specialnavi a{
	display: block;
}

#Special .banner{
	padding: 0 5%;
}
#Special .banner img{
	width: 100%;
}

/*-------------------------------------------------------
 ASV　追加
--------------------------------------------------------- */
#LogoAsv{
  background: #2f2f2f;
  padding: 3%;
}

#LogoAsv img{
  width: 100%;
}

.section .asv{
  margin-top: 30px;
}

.section .asv img{
  width: 100%;
}

.section .asv .asv-tx li{
  list-style-type: none;
  font-size: .8rem;
  margin: 0;
}


#Special.episode2 #episode .part1{}
#Special.episode2 #episode .part2{}
#Special.episode2 #episode .part3{}
#Special.episode2 #episode .part4{}

#Special.episode3 #episode .part1{}
#Special.episode3 #episode .part2{}
#Special.episode3 #episode .part3{}

.img-link-01{
  padding: 0 3% 3% 3%;
  background: #2f2f2f;
}
.img-link-01 img{
  width: 100%;
}