@charset "UTF-8";
/* ==================================================================

	delica_d5 デリカD:5 車種ページ
------------------------------------------------------------------ */
#FeatureDetail .section table tbody tr td img {
  vertical-align: middle;
}
#FeatureDetail .section .eco_mark {
  margin: 15px 0;
  text-align: center;
}
#FeatureDetail .section .eco_mark img {
  margin: 0 5px;
}
#FeatureDetail .section .clean_energy {
  margin: 15px 0;
  padding: 15px;
  border: 1px solid #3f3f3f;
}
#FeatureDetail .section .clean_energy h1 {
  line-height: 1.5;
}
#FeatureDetail .section .clean_energy p {
  margin: 10px 0 0;
}
#FeatureDetail .section .eco {
  margin: 15px 0;
  padding: 15px;
  border: 1px solid #009550;
  color: #009550;
}
#FeatureDetail .section .eco h1 {
  line-height: 1.5;
  font-size: 100%;
}
#FeatureDetail .section .eco p {
  margin: 10px 0 0;
}
#FeatureDetail .feature_notes .eco {
  margin: 15px 0;
  padding: 15px;
  border: 1px solid #009550;
  color: #009550;
}
#FeatureDetail .feature_notes .eco h1 {
  line-height: 1.5;
  margin-top: 0;
  font-size: 116%;
}
#FeatureDetail .feature_notes .eco p {
  margin: 10px 0 0;
}

/*
	グレード詳細
--------------------------------------------------------- */
#Spec.grade_detail #SpecInner .wrap .item.price {
  width: 70%;
}

/*
  movie
--------------------------------------------------------- */
#movie h1{
  line-height: 1.2;
  padding: 12px 10px;
  color: #555555;
  font-size: 114.28571%;
  border-top: 2px solid #e60012;
  border-bottom: 1px solid lightgray;
}

#movie p{}

#movie .movieArea{
  text-align: left;
}

#movie .movie {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  padding: 56.25% 0 0 0;
}

#movie .movie iframe,
#movie .movie img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

h1.newIcon{
	background:url(/sp/images/delica_d5/common/new.png) right top no-repeat;
	background-size:35px auto;
}