@charset "UTF-8";
/* ==================================================================

	ek_space eKスペース 車種ページ
------------------------------------------------------------------ */
/*
	ハイライト1
--------------------------------------------------------- */
#HightlightSpace .section h2 {
  padding: 12px 0;
  border-top: 1px solid #3f3f3f;
  border-right: 1px solid #3f3f3f;
  border-bottom: 1px solid #3f3f3f;
  border-left: 1px solid #3f3f3f;
  font-weight: 100;
  text-align: center;
}
#HightlightSpace .section h2 span {
  display: inline-block;
  margin: 0 5px;
  font-size: 77%;
}
#HightlightSpace .section .image {
  margin: 0 -15px;
}
#HightlightSpace .section .image img {
  width: 100%;
}
#HightlightSpace .highlight_notes {
  line-height: 1.5;
  margin: 0 10px 30px;
  color: #999999;
  font-size: 85.71429%;
}
#HightlightSpace .highlight_notes ul li {
  list-style-type: disc;
  margin: 0 0 5px 20px;
}

/*
	ハイライト2
--------------------------------------------------------- */
#HightlightStorage .section h2 {
  padding: 12px 0;
  border-top: 1px solid #3f3f3f;
  border-right: 1px solid #3f3f3f;
  border-bottom: 1px solid #3f3f3f;
  border-left: 1px solid #3f3f3f;
  font-weight: 100;
  text-align: center;
}
#HightlightStorage .section h2 span {
  display: inline-block;
  margin: 0 5px;
  font-size: 77%;
}
#HightlightStorage .section .image {
  margin: 0 -15px;
}
#HightlightStorage .section .image img {
  width: 100%;
}
#HightlightStorage .highlight_notes {
  line-height: 1.5;
  margin: 0 10px 30px;
  color: #999999;
  font-size: 85.71429%;
}
#HightlightStorage .highlight_notes ul li {
  list-style-type: disc;
  margin: 0 0 5px 20px;
}

/*
	ハイライト3
--------------------------------------------------------- */
#HightlightWoman .section h2 {
  padding: 12px 0;
  border-top: 1px solid #3f3f3f;
  border-right: 1px solid #3f3f3f;
  border-bottom: 1px solid #3f3f3f;
  border-left: 1px solid #3f3f3f;
  font-weight: 100;
  text-align: center;
}
#HightlightWoman .section h2 span {
  display: inline-block;
  margin: 0 5px;
  font-size: 77%;
}
#HightlightWoman .section .image {
  margin: 0 -15px;
}
#HightlightWoman .section .image img {
  width: 100%;
}
#HightlightWoman .highlight_notes {
  line-height: 1.5;
  margin: 0 10px 30px;
  color: #999999;
  font-size: 85.71429%;
}
#HightlightWoman .highlight_notes ul li {
  list-style-type: disc;
  margin: 0 0 5px 20px;
}

/*
	グレード詳細
--------------------------------------------------------- */
#Spec #SpecInner .wrap .item.price {
  width: 70%;
}


/*
	▼2014.11.18追加CSS
--------------------------------------------------------- */


/* グレード/価格→各詳細→トップ価格部分 */

.price_topline {
  margin: 10px 0 0 0;
  padding: 0;
  border-top: 1px solid #2f2f2f;
}

.type_name {
  margin: 0;
  padding: 10px 0 5px 0;
  font-style: italic;
  font-weight: bold;
  text-align: left;
  color :#FFFFFF;
}



/* グレード/価格→各詳細→「価格とスペック」表価格部分 */

.spec-box {
width:260px;
  margin: 0 auto;
  padding: 0;
  text-align:center;
  clear:both;
}
.spec-box-type2 {
width:210px;
  margin: 0 auto;
  padding: 0;
  text-align:center;
  clear:both;
}

.spec-price {
  margin: 0 0 0 auto;
  padding: 2px 0 0 0;
  float: left;
}
.spec-eco {
  margin: 0 auto 0 0;
  padding: 0;
  float: right;
}
.spec-eco-type2 {
  margin: 0 auto 0 0;
  padding: 10px 0 0 0;
  float: right;
}


.spec-price-type{
  font-size: 78.57143%;
  line-height: 1.5;
}


/*
	▼2015.03.25追加CSS
--------------------------------------------------------- */

/* トップページ ASV バナー追加*/

#MainImageAsvBanner {
padding: 15px;
background-color: #f0f0f0;
}

#MainImageAsvBanner img {
width: 100%;
height: auto;
}

#FeatureDetail .bn-AVM img {
width: 100%;
height: auto;
}


/*2015.04.23追加　グレード注記用*/
.text_green {
color: #009943 !important;
}