@charset "UTF-8";
/* ==================================================================

	ek_wagon eKワゴン 車種ページ
------------------------------------------------------------------ */
#FeatureDetail .section .eco {
  margin: 15px 0;
  padding: 15px;
  border: 1px solid #009550;
  color: #009550;
}
#FeatureDetail .section .eco h1 {
  line-height: 1.5;
}
#FeatureDetail .section .eco p {
  margin: 10px 0 0;
}

/*
	グレード詳細
--------------------------------------------------------- */
#Spec.grade_detail #SpecInner .wrap .item.price {
  width: 70%;
}



/*
	▼2014.11.18追加CSS
--------------------------------------------------------- */


/* グレード/価格→各詳細→トップ価格部分 */

.price_topline {
  margin: 10px 0 0 0;
  padding: 0;
  border-top: 1px solid #2f2f2f;
}

.type_name {
  margin: 0;
  padding: 10px 0 5px 0;
  font-style: italic;
  font-weight: bold;
  text-align: left;
  color :#FFFFFF;
}


/* グレード/価格→各詳細→「価格とスペック」表価格部分 */

.spec-box {
width:260px;
  margin: 0 auto;
  padding: 0;
  text-align:center;
  clear:both;
}
.spec-box-type2 {
width:210px;
  margin: 0 auto;
  padding: 0;
  text-align:center;
  clear:both;
}

.spec-price {
  margin: 0 0 0 auto;
  padding: 2px 0 0 0;
  float: left;
}
.spec-eco {
  margin: 0 auto 0 0;
  padding: 0;
  float: right;
}
.spec-eco-type2 {
  margin: 0 auto 0 0;
  padding: 10px 0 0 0;
  float: right;
}


.spec-price-type{
  font-size: 78.57143%;
  line-height: 1.5;
}

/*
	▼2015.03.25追加CSS
--------------------------------------------------------- */

/* トップページ ASV バナー追加*/

#MainImageAsvBanner {
padding: 15px;
background-color: #f0f0f0;
}

#MainImageAsvBanner img {
width: 100%;
height: auto;
}

#FeatureDetail .bn-AVM img {
width: 100%;
height: auto;
}

/*
	▼2015.10.06追加CSS
--------------------------------------------------------- */

/* 軽初 */

span.txt-keihatsu {
display: inline-block;
line-height: 19px;
background-color: #af202a;
font-size: 10px;
font-weight: normal;
color: #fff;
padding: 0 5px;
}

/*
	▼2015.10.10追加CSS
--------------------------------------------------------- */
/*  INDEX  */
#Highlight section.item {
border: none;
padding: 15px 0 5px;
}

#Highlight section.item p {
padding: 0 10px;
}

#tvcm > h1 {
  line-height: 1.2;
  padding: 12px 10px;
  border-top: 2px solid #e60012;
  border-bottom: 1px solid lightgray;
  color: #555555;
  font-size: 114.28571%;
}
#tvcm .item {
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid lightgray;
  line-height: 1.5;
  padding: 15px 10px 30px;
}
#tvcm .item .image {
  margin-bottom: 10px;
}
#tvcm .item .image img {
  width: 100%;
}

.mt {
	margin-top:20px;
}

.box-slide-down {
border-top: solid 1px lightgray;
border-bottom: solid 1px lightgray;
}
.box-slide-down a.btn-slide-down {
display: block;
position: relative;
padding: 15px 30px 15px 10px;
margin: 0 0 0 0;
background-color: #f9f9f9;
font-size: 11px;
color: #666;
}
.box-slide-down a.btn-slide-down:after {
display: block;
position: absolute;
content: "";
right: 10px;
top: 50%;
width: 16px;
height: 21px;
margin: -10px 0 0 0;
background-image: url(../images/common/icon_s.png);
background-size: 128px 63px;
background-position: -96px -42px
}
.box-slide-down.opened a.btn-slide-down:after {
background-position: -80px -42px
}
.box-slide-down div.cnt-slide-down {
display: none;
padding: 0 0 0 0;
}
.box-slide-down div.cnt-slide-down .section {
padding: 0 10px 0;
}

.mt0  { margin-top:  0px !important; }
.mt10 { margin-top: 10px !important; }
.mt15 { margin-top: 15px !important; }
.mt20 { margin-top: 20px !important; }
.mt25 { margin-top: 25px !important; }
.mt30 { margin-top: 30px !important; }
.mb0  { margin-bottom:  0px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb15 { margin-bottom: 15px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb25 { margin-bottom: 25px !important; }
.mb30 { margin-bottom: 30px !important; }

.bb0 { border-bottom: 0 !important; }
.bt0 { border-top:    0 !important; }


