@charset "UTF-8";
/* ==================================================================

	error エラー
------------------------------------------------------------------ */
.error {
  line-height: 1.5;
  padding: 15px 15px 30px;
}
.error h1 {
  margin: 30px 0 5px;
  font-size: 128.57143%;
}
.error h1:first-of-type {
  margin-top: 0;
}
.error p {
  margin-bottom: 15px;
}
.error a {
  text-decoration: underline;
}
