@charset "UTF-8";
/* ==================================================================

	galant_fortis ギャランフォルティス 車種ページ グレード詳細
------------------------------------------------------------------ */
#Spec #SpecInner .wrap .item.price {
  width: 60%;
}

/*
	ハイライト
--------------------------------------------------------- */
#FeatureDetail img.jc08 {
  margin: 4px 0 0 0;
}
#FeatureDetail .attention {
  color: #e60012;
}
#FeatureDetail .eco {
  margin: 15px 0;
  padding: 15px;
  border: 1px solid #009550;
  color: #009550;
}
#FeatureDetail .eco p {
  margin: 10px 0 0;
}
#FeatureDetail .image2 {
  margin: 10px -10px;
  display: block;
}
#FeatureDetail .image2 img {
  width: 100%;
}
