@charset "UTF-8";
/* ==================================================================

	index トップページ用
------------------------------------------------------------------ */
.index #GlobalHeader {
  box-shadow: none;
  margin-bottom: -56px;
  border-bottom: 0;
  background: none;
}
.index #GlobalHeader.overlay_open {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  background: white;
}
.index #GlobalHeader h1#MitsubishiLogo {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  top: 0;
  left: 11px;
  padding: 7px 7px 11px;
  background: white;
}
.index #MainImage {
  position: relative;
  padding-bottom: 25px;
  padding-bottom: 35px;
  border-bottom: 1px solid lightgray;
}
.index #MainImage.only {
  padding-bottom: 0;
}
.index #MainImage .image {
  width: 100%;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  background: #222;
}
.index #MainImage .image * {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}
.index #MainImage .image .inner {
  -webkit-transform: translate3d(0, 0, 0);
}
.index #MainImage .image .inner .item {
  float: left;
  -webkit-perspective: 720;
  -webkit-perspective-origin: 0 50%;
  position: relative;
  z-index: 20;
}
.index #MainImage .image .inner .item:not(:first-child) {
  display: none;
}
.index #MainImage .image .inner .item:not(:first-child).loaded {
  display: block;
}
.index #MainImage .image .inner .item.prev {
  -webkit-perspective-origin: 100% 50%;
  z-index: 1;
}
.index #MainImage .image .inner .item.prev a, .index #MainImage .image .inner .item.prev span {
  -webkit-transform-origin: right;
}
.index #MainImage .image .inner .item a, .index #MainImage .image .inner .item span {
  display: block;
  -webkit-transform-origin: 0;
  -webkit-transform: rotateY(0);
  -webkit-tap-highlight-color: transparent;
  opacity: 1;
}
.index #MainImage .image .inner img {
  width: 100%;
}
.index #MainImage .preview {
  width: 25px;
  height: 23px;
  position: absolute;
  bottom: 5px;
  left: 5px;
  z-index: 2;
  vertical-align: middle;
  margin-top: -12px;
  padding-top: 2px;
  background: #e60012;
}
.index #MainImage .preview:before {
  width: 16px;
  height: 21px;
  content: "";
  display: block;
  background: url(../images/common/icon_s.png) no-repeat;
  background-size: 128px 63px;
  background-position: -64px 0px;
  margin: 0 auto;
}
.index #MainImage .next {
  width: 25px;
  height: 23px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 2;
  vertical-align: middle;
  margin-top: -12px;
  padding-top: 2px;
  background: #e60012;
}
.index #MainImage .next:before {
  width: 16px;
  height: 21px;
  content: "";
  display: block;
  background: url(../images/common/icon_s.png) no-repeat;
  background-size: 128px 63px;
  background-position: 0px 0px;
  margin: 0 auto;
}
.index #MainImage .paging {
  width: 100%;
  position: absolute;
  bottom: 10px;
  left: 0;
}
.index #MainImage .paging ul {
  text-align: center;
}
.index #MainImage .paging ul li {
  width: 9px;
  height: 9px;
  display: inline-block;
  overflow: hidden;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2) inset;
  margin: 0 2px;
  border-top: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  border-left: 1px solid #f0f0f0;
  border-radius: 5px;
  text-indent: -9999px;
  background: white;
}
.index #MainImage .paging ul li.current {
  box-shadow: 0;
  background: #e60012;
}
.index #Information {
  -webkit-tap-highlight-color: transparent;
  padding: 25px 10px;
  border-top: 1px solid white;
  background: #f0f0f0;
}
.index #Information .inner {
  min-height: 42px;
  line-height: 1.5;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2) inset;
  position: relative;
  border-radius: 4px;
  font-size: 85.71429%;
  background: white;
}
.index #Information .inner .recent {
  position: relative;
}
.index #Information .inner .recent p {
  margin-right: 30px;
}
.index #Information .inner .recent p a {
  height: 1.5em;
  display: block;
  overflow: hidden;
  position: relative;
  padding: 12px 0 12px 10px;
}
.index #Information .inner .recent p a span {
  display: block;
  position: absolute;
  top: 12px;
  left: 10px;
  white-space: nowrap;
}
.index #Information .inner .recent .open {
  position: absolute;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  padding: 13px 10px;
}
.index #Information .inner .recent .open span {
  width: 1.2em;
  height: 1.2em;
  display: block;
  line-height: 1.2;
  color: white;
  text-align: center;
  background: #e60012;
}
.index #Information .inner .archive {
  height: 0;
  overflow: hidden;
}
.index #Information .inner .archive .archive_inner .archive_list .item {
  border-bottom: 1px solid lightgray;
}
.index #Information .inner .archive .archive_inner .archive_list .item a {
  display: block;
  position: relative;
  padding: 12px 30px 12px 10px;
}
.index #Information .inner .archive .archive_inner .archive_list .item a:after {
  width: 16px;
  height: 21px;
  content: "";
  display: block;
  background: url(../images/common/icon_s.png) no-repeat;
  background-size: 128px 63px;
  background-position: 0px -21px;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -10px;
}
.index #Information .inner .archive .archive_inner .archive_list .item a.external:after {
  width: 16px;
  height: 21px;
  content: "";
  display: block;
  background: url(../images/common/icon_s.png) no-repeat;
  background-size: 128px 63px;
  background-position: -16px -21px;
}
.index #Information .inner .archive .archive_inner .archive_list .item a.pc:after {
  width: 16px;
  height: 21px;
  content: "";
  display: block;
  background: url(../images/common/icon_s.png) no-repeat;
  background-size: 128px 63px;
  background-position: -32px -21px;
}
.index #Information .inner .archive .archive_inner .archive_list .item a h1 {
  color: #777777;
}
.index #Information .inner .archive .archive_inner p.close {
  padding: 15px;
}
.index #Information .inner .archive .archive_inner p.close span {
  display: block;
  padding: 15px 0;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-radius: 5px;
  text-align: center;
  background: #555555;
  color: white;
}
.index #Information .inner .archive .archive_inner p.close span:before {
  width: 16px;
  height: 21px;
  content: "";
  display: block;
  background: url(../images/common/icon_s.png) no-repeat;
  background-size: 128px 63px;
  background-position: -48px -42px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.index #Information .inner .archive .archive_inner p.close span:before {
  width: 16px;
  height: 21px;
  content: "";
  display: block;
  background: url(../images/common/icon_s.png) no-repeat;
  background-size: 128px 63px;
  background-position: -48px 0px;
  display: inline-block;
}
.index #Support h1 {
  line-height: 1.2;
  padding: 12px 10px;
  border-top: 2px solid #e60012;
  border-bottom: 1px solid lightgray;
  color: #555555;
  font-size: 114.28571%;
  margin-bottom: 15px;
}
.index #Support .dealership {
  margin: 0 10px 10px;
}
.index #Support .dealership ul {
  width: 100%;
  display: table;
}
.index #Support .dealership ul li {
  width: 33.3%;
  display: table-cell;
}
.index #Support .dealership ul li a {
  display: block;
  line-height: 1.2;
  padding: 10px 0;
  color: white;
  font-size: 85.71429%;
  text-align: center;
  background: #555555;
}
.index #Support .dealership ul li a span {
  display: block;
  border-right: 1px solid #3f3f3f;
  border-left: 1px solid lightgray;
}
.index #Support .dealership ul li a span:before {
  width: 24px;
  height: 24px;
  content: "";
  display: block;
  background: url(../images/common/icon.png) no-repeat;
  background-size: 384px 96px;
  background-position: -96px -72px;
  margin: 0 auto 5px;
}
.index #Support .dealership ul li:first-child a {
  border-radius: 4px 0 0 4px;
}
.index #Support .dealership ul li:first-child a span {
  border-left: 0;
}
.index #Support .dealership ul li:last-child a {
  border-radius: 0 4px 4px 0;
}
.index #Support .dealership ul li:last-child a span {
  border-right: 0;
}
.index #Support .dealership ul li.present_location a span:before {
  width: 24px;
  height: 24px;
  content: "";
  display: block;
  background: url(../images/common/icon.png) no-repeat;
  background-size: 384px 96px;
  background-position: -96px -72px;
}
.index #Support .dealership ul li.address a span:before {
  width: 24px;
  height: 24px;
  content: "";
  display: block;
  background: url(../images/common/icon.png) no-repeat;
  background-size: 384px 96px;
  background-position: -120px -72px;
}
.index #Support .dealership ul li.zipcode a span:before {
  width: 24px;
  height: 24px;
  content: "";
  display: block;
  background: url(../images/common/icon.png) no-repeat;
  background-size: 384px 96px;
  background-position: -144px -72px;
}
.index #Support .others {
  margin: 0 10px;
}
.index #Support .others ul {
  min-height: 1px;
  margin: 0 -5px 5px;
  min-height: 1px;
  font-size: 85.71429%;
}
.index #Support .others ul:before, .index #Support .others ul:after {
  content: "";
  display: table;
}
.index #Support .others ul:after {
  clear: both;
}
.index #Support .others ul:before, .index #Support .others ul:after {
  content: "";
  display: table;
}
.index #Support .others ul:after {
  clear: both;
}
.index #Support .others ul li {
  width: 50%;
  line-height: 1.2;
  float: left;
  list-style: none;
  margin: 0;
}
.index #Support .others ul li > a, .index #Support .others ul li > span {
  display: block;
  position: relative;
  margin: 0 5px 10px;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-radius: 5px;
  color: white;
  text-align: center;
  background: #e60012;
}
.index #Support .others ul li > a:before, .index #Support .others ul li > span:before {
  width: 16px;
  height: 21px;
  content: "";
  display: block;
  background: url(../images/common/icon_s.png) no-repeat;
  background-size: 128px 63px;
  background-position: 0px 0px;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -10px;
}
.index #Support .others ul li > a.external:before, .index #Support .others ul li > span.external:before {
  width: 16px;
  height: 21px;
  content: "";
  display: block;
  background: url(../images/common/icon_s.png) no-repeat;
  background-size: 128px 63px;
  background-position: -16px 0px;
}
.index #Support .others ul li > a.pc:before, .index #Support .others ul li > span.pc:before {
  width: 16px;
  height: 21px;
  content: "";
  display: block;
  background: url(../images/common/icon_s.png) no-repeat;
  background-size: 128px 63px;
  background-position: -32px 0px;
}
.index #Support .others ul li > a span, .index #Support .others ul li > span span {
  height: 48px;
  display: table-cell;
  vertical-align: middle;
  padding: 0 20px 0 10px;
}
.index #Support .others ul li a {
  height: 25px;
  padding-top: 45px;
}
.index #Support .others ul li a:before {
  top: 2px;
  left: 50%;
  margin: 0 0 0 -22px;
}
.index #Support .others ul li a.pc:after {
  width: 16px;
  height: 21px;
  content: "";
  display: block;
  background: url(../images/common/icon_s.png) no-repeat;
  background-size: 128px 63px;
  background-position: -32px 0px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 3px;
}
.index #Support .others ul li.catalog a:before {
  width: 45px;
  height: 45px;
  content: "";
  display: block;
  background: url(../images/common/icon_spt.png) no-repeat;
  background-size: 225px 45px;
  background-position: 0px 0;
}
.index #Support .others ul li.estimate a:before {
  width: 45px;
  height: 45px;
  content: "";
  display: block;
  background: url(../images/common/icon_spt.png) no-repeat;
  background-size: 225px 45px;
  background-position: -45px 0;
}
.index #Support .others ul li.search a:before {
  width: 45px;
  height: 45px;
  content: "";
  display: block;
  background: url(../images/common/icon_spt.png) no-repeat;
  background-size: 225px 45px;
  background-position: -135px 0;
}
.index #Support .others ul li.dealership a:before {
  width: 45px;
  height: 45px;
  content: "";
  display: block;
  background: url(../images/common/icon_spt.png) no-repeat;
  background-size: 225px 45px;
  background-position: -90px 0;
}
.index #Support .others ul li.inquiry a {
  height: 35px;
  padding-top: 35px;
}
.index #Support .others ul li.inquiry a:before {
  top: -3px;
  width: 45px;
  height: 45px;
  content: "";
  display: block;
  background: url(../images/common/icon_spt.png) no-repeat;
  background-size: 225px 45px;
  background-position: -180px 0;
}
.index #Lineup {
  padding: 0 10px 30px;
}
.index #Lineup h1 {
  margin: 0 -10px;
  line-height: 1.2;
  padding: 12px 10px;
  border-top: 2px solid #e60012;
  border-bottom: 1px solid lightgray;
  color: #555555;
  font-size: 114.28571%;
}
.index #Lineup .lineup_list {
  margin: 0 -10px 15px;
}
.index #Lineup .lineup_list .item {
  border-top: 1px solid white;
  border-bottom: 1px solid lightgray;
  background: #f0f0f0;
}
.index #Lineup .lineup_list .item a {
  width: 100%;
  display: table;
  position: relative;
}
.index #Lineup .lineup_list .item a .name {
  line-height: 1.5;
  display: table-cell;
  vertical-align: middle;
  padding: 0 0 0 30px;
}
.index #Lineup .lineup_list .item a .image {
  width: 110px;
  height: 80px;
  display: table-cell;
  vertical-align: middle;
  padding: 0 10px;
  text-align: center;
}
.index #Lineup .lineup_list .item a:after {
  position: absolute;
  top: 50%;
  left: 10px;
  margin-top: -11px;
  width: 16px;
  height: 21px;
  content: "";
  display: block;
  background: url(../images/common/icon_s.png) no-repeat;
  background-size: 128px 63px;
  background-position: 0px -21px;
}
.index #Lineup .lineup_list .item.new a .name p:after {
  content: "NEW";
  display: inline-block;
  margin-left: 5px;
  padding: 1px 5px;
  color: white;
  font-size: 71.42857%;
  background: #e60012;
}
.index #Lineup p.notes {
  line-height: 1.5;
  margin-bottom: 10px;
  text-align: center;
}
.index #Lineup p.btn a {
  padding: 0 30px;
  text-align: center;
}
.index #Topics {
  padding-bottom: 30px;
}
.index #Topics * {
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
}
.index #Topics h1 {
  line-height: 1.2;
  padding: 12px 10px;
  border-top: 2px solid #e60012;
  border-bottom: 1px solid lightgray;
  color: #555555;
  font-size: 114.28571%;
  margin-bottom: 15px;
}
.index #Topics .topics_slide {
  position: relative;
}
.index #Topics .topics_slide .banner {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  margin: 10px 15px;
}
.index #Topics .topics_slide .banner .inner {
  -webkit-transform: translate3d(0, 0, 0);
}
.index #Topics .topics_slide .banner .inner .item {
  float: left;
}
.index #Topics .topics_slide .banner .inner .item a {
  display: block;
  -webkit-transform: translate3d(0, 0, 0);
}
.index #Topics .topics_slide .banner .inner .item a img {
  width: 100%;
}
.index #Topics .topics_slide .banner .inner .item span {
  display: block;
  -webkit-transform: translate3d(0, 0, 0);
}
.index #Topics .topics_slide .banner .inner .item span img {
  width: 100%;
}
.index #Topics .topics_slide .preview {
  width: 25px;
  height: 23px;
  position: absolute;
  bottom: 5px;
  left: 5px;
  z-index: 2;
  vertical-align: middle;
  margin-top: -12px;
  padding-top: 2px;
  background: #e60012;
  left: 15px;
  bottom: -5px;
}
.index #Topics .topics_slide .preview:before {
  width: 16px;
  height: 21px;
  content: "";
  display: block;
  background: url(../images/common/icon_s.png) no-repeat;
  background-size: 128px 63px;
  background-position: -64px 0px;
  margin: 0 auto;
}
.index #Topics .topics_slide .next {
  width: 25px;
  height: 23px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 2;
  vertical-align: middle;
  margin-top: -12px;
  padding-top: 2px;
  background: #e60012;
  right: 15px;
  bottom: -5px;
}
.index #Topics .topics_slide .next:before {
  width: 16px;
  height: 21px;
  content: "";
  display: block;
  background: url(../images/common/icon_s.png) no-repeat;
  background-size: 128px 63px;
  background-position: 0px 0px;
  margin: 0 auto;
}
.index #Topics .topics_slide .paging ul {
  text-align: center;
}
.index #Topics .topics_slide .paging ul li {
  width: 9px;
  height: 9px;
  display: inline-block;
  overflow: hidden;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2) inset;
  margin: 0 2px;
  border-top: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  border-left: 1px solid #f0f0f0;
  border-radius: 5px;
  text-indent: -9999px;
  background: white;
}
.index #Topics .topics_slide .paging ul li.current {
  box-shadow: 0;
  background: #e60012;
}
