@charset "UTF-8";
/* ==================================================================

	inside_search サイト内検索用
------------------------------------------------------------------ */
.inside_search #ArticleHeader {
  padding: 15px 10px;
}
.inside_search .search_result_header {
  width: 290px;
  margin: 15px auto 25px;
}
.inside_search .search_result_header .freeword {
  width: 288px;
  display: table;
  border: 1px solid #ccc;
}
.inside_search .search_result_header .freeword input {
  margin: 0;
  padding: 3px;
  border: 0;
  background: none;
}
.inside_search .search_result_header .freeword .input {
  width: 221px;
  display: table-cell;
  border-right: 1px solid #ccc;
}
.inside_search .search_result_header .freeword .input input {
  width: 216px;
  -webkit-appearance: none;
}
.inside_search .search_result_header .freeword .submit {
  width: 66px;
  display: table-cell;
}
.inside_search .search_result_header .freeword .submit input {
  width: 66px;
  -webkit-appearance: none;
  border-radius: 0;
  color: white;
  background: #e60012;
}
.inside_search .search_result_header .text {
  line-height: 1.5;
  margin-top: 15px;
  text-align: center;
}
.inside_search .search_result_header .text em {
  color: #e60012;
}
.inside_search .search_result_header .text strong {
  font-size: 107.14286%;
  font-weight: 700;
}
.inside_search .section .search_result_list {
  margin: -15px 0 30px;
}
.inside_search .section .search_result_list .item {
  margin: 0 -10px;
  border-bottom: 1px solid #ccc;
}
.inside_search .section .search_result_list .item a {
  display: block;
  padding: 15px;
}
.inside_search .section .search_result_list .item a em {
  color: #e60012;
}
.inside_search .section .search_result_list .item a .item_header {
  min-height: 1px;
}
.inside_search .section .search_result_list .item a .item_header:before, .inside_search .section .search_result_list .item a .item_header:after {
  content: "";
  display: table;
}
.inside_search .section .search_result_list .item a .item_header:after {
  clear: both;
}
.inside_search .section .search_result_list .item a .item_header .image {
  width: 78px;
  height: 78px;
  float: left;
  border: 1px solid #ccc;
}
.inside_search .section .search_result_list .item a .item_header .image img {
  width: 78px;
  height: 78px;
}
.inside_search .section .search_result_list .item a .item_header h1 {
  line-height: 1.5;
  margin-left: 93px;
  font-size: 107.14286%;
}
.inside_search .section .search_result_list .item a p.description {
  margin: 10px 0 0;
  font-size: 85.71429%;
}
.inside_search .section .search_result_list .paging {
  position: relative;
  margin-bottom: -30px;
}
.inside_search .section .search_result_list .paging ul {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}
.inside_search .section .search_result_list .paging ul li {
  width: 33.3%;
  list-style-type: none;
  margin: 0;
}
.inside_search .section .search_result_list .paging ul li a {
  height: 46px;
  display: block;
  text-align: center;
  background-image: url(../images/common/abr_bck.gif);
  background-repeat: no-repeat;
  background-size: 320px 46px;
}
.inside_search .section .search_result_list .paging ul li a span {
  height: 34px;
  display: block;
  padding-top: 12px;
}
.inside_search .section .search_result_list .paging ul li.preview {
  float: left;
  padding-right: 5px;
}
.inside_search .section .search_result_list .paging ul li.preview a {
  background-position: right top;
}
.inside_search .section .search_result_list .paging ul li.preview a span {
  background: url(../images/common/abr_arr_l.gif) no-repeat top left;
  background-size: 16px 46px;
}
.inside_search .section .search_result_list .paging ul li.next {
  float: right;
  padding-left: 5px;
}
.inside_search .section .search_result_list .paging ul li.next a {
  background-position: left top;
}
.inside_search .section .search_result_list .paging ul li.next a span {
  background: url(../images/common/abr_arr_r.gif) no-repeat top right;
  background-size: 16px 46px;
}
.inside_search .section .search_result_list .paging p {
  padding: 12px 0;
  font-size: 114.28571%;
  font-weight: 700;
  text-align: center;
}
.inside_search .section .search_result_list .no_result {
  margin: 30px 0 -15px;
}
.inside_search .section .dealership {
  margin: 0 0 10px;
}
.inside_search .section .dealership ul {
  width: 100%;
  display: table;
}
.inside_search .section .dealership ul li {
  width: 33.3%;
  display: table-cell;
}
.inside_search .section .dealership ul li a {
  display: block;
  line-height: 1.2;
  padding: 10px 0;
  color: white;
  font-size: 85.71429%;
  text-align: center;
  background: #555555;
}
.inside_search .section .dealership ul li a span {
  display: block;
  border-right: 1px solid #3f3f3f;
  border-left: 1px solid lightgray;
}
.inside_search .section .dealership ul li a span:before {
  width: 24px;
  height: 24px;
  content: "";
  display: block;
  background: url(../images/common/icon.png) no-repeat;
  background-size: 384px 96px;
  background-position: -96px -72px;
  margin: 0 auto 5px;
}
.inside_search .section .dealership ul li:first-child a {
  border-radius: 4px 0 0 4px;
}
.inside_search .section .dealership ul li:first-child a span {
  border-left: 0;
}
.inside_search .section .dealership ul li:last-child a {
  border-radius: 0 4px 4px 0;
}
.inside_search .section .dealership ul li:last-child a span {
  border-right: 0;
}
.inside_search .section .dealership ul li.present_location a span:before {
  width: 24px;
  height: 24px;
  content: "";
  display: block;
  background: url(../images/common/icon.png) no-repeat;
  background-size: 384px 96px;
  background-position: -96px -72px;
}
.inside_search .section .dealership ul li.address a span:before {
  width: 24px;
  height: 24px;
  content: "";
  display: block;
  background: url(../images/common/icon.png) no-repeat;
  background-size: 384px 96px;
  background-position: -120px -72px;
}
.inside_search .section .dealership ul li.zipcode a span:before {
  width: 24px;
  height: 24px;
  content: "";
  display: block;
  background: url(../images/common/icon.png) no-repeat;
  background-size: 384px 96px;
  background-position: -144px -72px;
}
.inside_search .section .others_support {
  margin: 0;
}
.inside_search .section .others_support ul {
  min-height: 1px;
  margin: 0 -5px 5px;
  min-height: 1px;
  font-size: 85.71429%;
}
.inside_search .section .others_support ul:before, .inside_search .section .others_support ul:after {
  content: "";
  display: table;
}
.inside_search .section .others_support ul:after {
  clear: both;
}
.inside_search .section .others_support ul:before, .inside_search .section .others_support ul:after {
  content: "";
  display: table;
}
.inside_search .section .others_support ul:after {
  clear: both;
}
.inside_search .section .others_support ul li {
  width: 50%;
  line-height: 1.2;
  float: left;
  list-style: none;
  margin: 0;
}
.inside_search .section .others_support ul li > a, .inside_search .section .others_support ul li > span {
  display: block;
  position: relative;
  margin: 0 5px 10px;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-radius: 5px;
  color: white;
  text-align: center;
  background: #e60012;
}
.inside_search .section .others_support ul li > a:before, .inside_search .section .others_support ul li > span:before {
  width: 16px;
  height: 21px;
  content: "";
  display: block;
  background: url(../images/common/icon_s.png) no-repeat;
  background-size: 128px 63px;
  background-position: 0px 0px;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -10px;
}
.inside_search .section .others_support ul li > a.external:before, .inside_search .section .others_support ul li > span.external:before {
  width: 16px;
  height: 21px;
  content: "";
  display: block;
  background: url(../images/common/icon_s.png) no-repeat;
  background-size: 128px 63px;
  background-position: -16px 0px;
}
.inside_search .section .others_support ul li > a.pc:before, .inside_search .section .others_support ul li > span.pc:before {
  width: 16px;
  height: 21px;
  content: "";
  display: block;
  background: url(../images/common/icon_s.png) no-repeat;
  background-size: 128px 63px;
  background-position: -32px 0px;
}
.inside_search .section .others_support ul li > a span, .inside_search .section .others_support ul li > span span {
  height: 48px;
  display: table-cell;
  vertical-align: middle;
  padding: 0 20px 0 10px;
}
.inside_search .section .others_support ul li a {
  height: 25px;
  padding-top: 45px;
}
.inside_search .section .others_support ul li a:before {
  top: 2px;
  left: 50%;
  margin: 0 0 0 -22px;
}
.inside_search .section .others_support ul li a.pc:after {
  width: 16px;
  height: 21px;
  content: "";
  display: block;
  background: url(../images/common/icon_s.png) no-repeat;
  background-size: 128px 63px;
  background-position: -32px 0px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 3px;
}
.inside_search .section .others_support ul li.catalog a:before {
  width: 45px;
  height: 45px;
  content: "";
  display: block;
  background: url(../images/common/icon_spt.png) no-repeat;
  background-size: 225px 45px;
  background-position: 0px 0;
}
.inside_search .section .others_support ul li.estimate a:before {
  width: 45px;
  height: 45px;
  content: "";
  display: block;
  background: url(../images/common/icon_spt.png) no-repeat;
  background-size: 225px 45px;
  background-position: -45px 0;
}
.inside_search .section .others_support ul li.search a:before {
  width: 45px;
  height: 45px;
  content: "";
  display: block;
  background: url(../images/common/icon_spt.png) no-repeat;
  background-size: 225px 45px;
  background-position: -135px 0;
}
.inside_search .section .others_support ul li.dealership a:before {
  width: 45px;
  height: 45px;
  content: "";
  display: block;
  background: url(../images/common/icon_spt.png) no-repeat;
  background-size: 225px 45px;
  background-position: -90px 0;
}
.inside_search .section .others_support ul li.inquiry a {
  height: 35px;
  padding-top: 35px;
}
.inside_search .section .others_support ul li.inquiry a:before {
  top: -3px;
  width: 45px;
  height: 45px;
  content: "";
  display: block;
  background: url(../images/common/icon_spt.png) no-repeat;
  background-size: 225px 45px;
  background-position: -180px 0;
}
