@charset "UTF-8";
/* ==================================================================

	Lineup カーラインアップ
------------------------------------------------------------------ */
/*
	インデックス
--------------------------------------------------------- */
#PickUp > h1 {
  line-height: 1.2;
  padding: 12px 10px;
  border-top: 2px solid #e60012;
  border-bottom: 1px solid lightgray;
  color: #555555;
  font-size: 114.28571%;
}
#PickUp .car_list .item {
  border-bottom: 1px solid lightgray;
}
#PickUp .car_list .item a {
  display: block;
  position: relative;
  padding: 15px 10px;
}
#PickUp .car_list .item a .inner {
  border-right: 16px solid #555555;
}
#PickUp .car_list .item a .inner h1 {
  line-height: 1.2;
  padding-left: 7px;
  border-left: 2px solid #e60012;
  color: #555555;
  font-size: 114.28571%;
}
#PickUp .car_list .item a .inner .image {
  width: 100%;
  height: 130px;
  display: table;
}
#PickUp .car_list .item a .inner .image span {
  width: 100%;
  height: 130px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#PickUp .car_list .item a .inner p.price {
  width: 100%;
  font-size: 78.57143%;
  text-align: center;
}
#PickUp .car_list .item a .inner p.price span.number {
  margin-right: 5px;
  font-size: 220%;
  font-weight: 700;
  font-style: italic;
}
#PickUp .car_list .item a:after {
  width: 16px;
  height: 21px;
  content: "";
  display: block;
  background: url(../images/common/icon_s.png) no-repeat;
  background-size: 128px 63px;
  background-position: 0px 0px;
  position: absolute;
  top: 50%;
  right: 11px;
  margin-top: -8px;
}
#PickUp .car_list .item:nth-of-type(2n) {
  background: #f0f0f0;
}
#PickUp .car_list .item.new a .inner h1:after {
  content: "NEW";
  display: inline-block;
  line-height: 1.5;
  vertical-align: middle;
  margin-left: 5px;
  padding: 1px 5px;
  color: white;
  font-size: 71.42857%;
  font-weight: 100;
  background: #e60012;
}

#AllLineUp > h1 {
  line-height: 1.2;
  padding: 12px 10px;
  border-top: 2px solid #e60012;
  border-bottom: 1px solid lightgray;
  color: #555555;
  font-size: 114.28571%;
}
#AllLineUp .open_and_shut .item .text {
  padding: 0;
  background-color: white;
}
#AllLineUp .open_and_shut .item .text .car_list .item {
  border-top: 1px solid white;
  border-bottom: 1px solid lightgray;
}
#AllLineUp .open_and_shut .item .text .car_list .item:first-of-type {
  border-top: 0;
}
#AllLineUp .open_and_shut .item .text .car_list .item:last-of-type {
  border-bottom: 0;
}
#AllLineUp .open_and_shut .item .text .car_list .item a {
  display: block;
  position: relative;
  padding: 15px 10px 20px;
}
#AllLineUp .open_and_shut .item .text .car_list .item a .inner {
  padding-right: 10px;
  border-right: 16px solid #555555;
}
#AllLineUp .open_and_shut .item .text .car_list .item a .inner h1 {
  margin-bottom: 10px;
  line-height: 1.2;
  padding-left: 7px;
  border-left: 2px solid #e60012;
  color: #555555;
  font-size: 114.28571%;
  font-size: 100%;
}
#AllLineUp .open_and_shut .item .text .car_list .item a .inner h1 .pc {
  width: 16px;
  height: 21px;
  content: "";
  display: block;
  background: url(../images/common/icon_s.png) no-repeat;
  background-size: 128px 63px;
  background-position: -32px -21px;
  display: inline-block;
  margin-left: 5px;
  text-indent: -9999px;
}
#AllLineUp .open_and_shut .item .text .car_list .item a .inner .wrap {
  width: 100%;
  display: table;
}
#AllLineUp .open_and_shut .item .text .car_list .item a .inner .wrap .image {
  width: 155px;
  display: table-cell;
  vertical-align: middle;
}
#AllLineUp .open_and_shut .item .text .car_list .item a .inner .wrap .parameter {
  line-height: 1.2;
  display: table-cell;
  vertical-align: middle;
}
#AllLineUp .open_and_shut .item .text .car_list .item a .inner .wrap .parameter p {
  margin: 0;
}
#AllLineUp .open_and_shut .item .text .car_list .item a .inner .wrap .parameter .price p {
  font-size: 78.57143%;
}
#AllLineUp .open_and_shut .item .text .car_list .item a .inner .wrap .parameter .price p span.number {
  margin-right: 5px;
  font-size: 136%;
  font-weight: 700;
  font-style: italic;
}
#AllLineUp .open_and_shut .item .text .car_list .item a .inner .wrap .parameter .summary {
  display: table-cell;
  vertical-align: middle;
  font-size: 85.71429%;
}
#AllLineUp .open_and_shut .item .text .car_list .item a .inner .wrap .parameter .eco_badge_wrap {
  min-height: 1px;
}
#AllLineUp .open_and_shut .item .text .car_list .item a .inner .wrap .parameter .eco_badge_wrap:before, #AllLineUp .open_and_shut .item .text .car_list .item a .inner .wrap .parameter .eco_badge_wrap:after {
  content: "";
  display: table;
}
#AllLineUp .open_and_shut .item .text .car_list .item a .inner .wrap .parameter .eco_badge_wrap:after {
  clear: both;
}
#AllLineUp .open_and_shut .item .text .car_list .item a:after {
  width: 16px;
  height: 21px;
  content: "";
  display: block;
  background: url(../images/common/icon_s.png) no-repeat;
  background-size: 128px 63px;
  background-position: 0px 0px;
  position: absolute;
  top: 50%;
  right: 11px;
  margin-top: -8px;
}
#AllLineUp .open_and_shut .item .text .car_list .item:nth-of-type(2n) {
  background: #f0f0f0;
}
#AllLineUp .open_and_shut .item .text .car_list .item.new a .inner h1:after {
  content: "NEW";
  display: inline-block;
  line-height: 1.5;
  vertical-align: middle;
  margin-left: 5px;
  padding: 1px 5px;
  color: white;
  font-size: 57.14286%;
  font-weight: 100;
  background: #e60012;
}

#OtherLineup {
  margin: 15px 10px 30px;
}

.notes_section {
  line-height: 1.5;
  margin: 0 10px 15px;
  color: #777777;
  font-size: 78.57143%;
}
.notes_section p {
  margin-bottom: 10px;
}
.notes_section p.btn_pc {
  line-height: 1.25;
  margin: 0;
  font-size: 14px;
}
.notes_section ul {
  margin-bottom: 10px;
}
.notes_section ul li {
  list-style-type: disc;
  margin-left: 2em;
}
