@charset "UTF-8";
/* ==================================================================

	mailmagazine メールマガジン
------------------------------------------------------------------ */
/*
	インデックス
--------------------------------------------------------- */
.introduction {
  padding: 37px 10px 30px;
  background: url(../images/mailmagazine/index/int_bg.gif) center top;
  background-size: 14px 14px;
}
.introduction > .image {
  margin-bottom: 30px;
  text-align: center;
}
.introduction > h1 {
  line-height: 1.5;
  margin-bottom: 5px;
  color: #e60012;
  font-size: 128.57143%;
  text-align: center;
}
.introduction p.summary {
  margin-bottom: 10px;
  line-height: 1.5;
}
.introduction .capture {
  margin-top: 30px;
  padding: 15px;
  background: #f0f0f0;
}
.introduction .capture h1 {
  line-height: 1.2;
  padding-left: 7px;
  border-left: 2px solid #e60012;
  color: #555555;
  font-size: 114.28571%;
  margin: 0 -15px 15px;
}
.introduction .capture .image {
  margin-bottom: 15px;
}
.introduction .capture .image img {
  width: 100%;
}
.introduction .capture p {
  font-size: 85.71429%;
}

.instantaneously {
  padding: 0 10px 15px;
}
.instantaneously h1 {
  line-height: 1.2;
  padding: 12px 10px;
  border-top: 2px solid #e60012;
  border-bottom: 1px solid lightgray;
  color: #555555;
  font-size: 114.28571%;
  margin: 0 -10px;
  text-align: center;
}
.instantaneously .item {
  position: relative;
  margin: 0 -10px;
  padding: 15px 10px 15px 120px;
  border-bottom: 1px solid white;
  background: #f0f0f0;
}
.instantaneously .item .image {
  width: 76px;
  height: 71px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 31px;
  margin-top: -35px;
}
.instantaneously .item p {
  line-height: 1.5;
}
.instantaneously .item p strong {
  display: block;
  color: #e60012;
  font-size: 85.71429%;
}
.instantaneously .item.item01 .image img {
  margin-left: 0;
}
.instantaneously .item.item02 .image img {
  margin-left: -76px;
}
.instantaneously .item.item03 .image img {
  margin-left: -152px;
}
.instantaneously p.btn_external {
  margin-top: 15px;
}
.instantaneously ul.btn_twin {
  margin-top: 15px;
}
