@charset "UTF-8";
/* ==================================================================

	mirage ミラージュ 車種ページ
------------------------------------------------------------------ */

/*
  Top
--------------------------------------------------------- */
#Highlight em {
  line-height: 1.2;
  padding: 12px 10px;
  border-top: 2px solid #e60012;
  border-bottom: 1px solid lightgray;
  color: #555555;
  display: block;
}

/*
  グレード詳細
--------------------------------------------------------- */
#Spec #SpecInner .wrap .item.price {
  width: 70%;
}

#FeatureDetail .section .eco {
  margin: 15px 0;
  padding: 15px;
  border: 1px solid #009550;
  color: #009550;
}
#FeatureDetail .section .eco h1 {
  line-height: 1.5;
  font-size: 100%;
}
#FeatureDetail .section .eco p {
  margin: 0;
}

.section .notes.right{
  text-align: right;
}
.sub{
  font-size: 10px;
}

.red{
	color: #ED1C24;
}

.mb20{
  margin-bottom: 20px !important;
}

.condition{
	line-height: 1.4;
	padding: 0 10px 20px 10px;
}

.condition dl{	
	line-height: 0.6;
	background: #F5F5F5;
}

.attention{
	background: url(/sp/images/mirage/feature02/icon.png) no-repeat;
	background-size: 27px;
	padding: 1px 0 4px 35px;
}

.at-text{
	margin-top: -4px !important;
	padding: 0 0 5px 0;
	font-size: 12px;
}

/*
  movie
--------------------------------------------------------- */
#movie h1{
  line-height: 1.2;
  padding: 12px 10px;
  color: #555555;
  font-size: 114.28571%;
  border-top: 2px solid #e60012;
  border-bottom: 1px solid lightgray;
}

#movie p{
  padding: 10px 12px;
}

#movie .movieArea{
  text-align: left;
}

#movie .movie {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  padding: 56.25% 0 0 0;
}

#movie .movie iframe,
#movie .movie img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#movie .at-txt{
	text-indent: -13px;
	margin: -10px 0 0 10px;
	padding: 0 0 10px 12px;
	line-height: 1.3;

}


