
#Lifestyle img{
    width: 100%;
}

#Lifestyle .image{
    margin: 0 -10px -30px;
}

#Lifestyle.top .article{
    margin: 0 5px;
    padding-bottom: 17px;
}

#Lifestyle.top .article h2{
    line-height: 20px;
    padding-bottom: 12px;
}

#Lifestyle.top .concept{
    padding-top: 13px;
    padding-bottom: 27px;
}

#Lifestyle.episode .mv{
    position: relative;
    margin-bottom: 30px;
}

#Lifestyle.episode .mv > a{
    position: absolute;
    bottom: 15px;
    left: 5px;
    width: 45%;
}

#Lifestyle.episode .movie{
    margin: 0 -10px 5px;
    padding: 56.25% 0 0 0;
    position: relative;
}

#Lifestyle.episode .movie iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#Lifestyle .section._2 .image{
    margin-bottom: 0;
}

#Lifestyle .imagelist{
    margin: 0 -10px;
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 15px;
}

#Lifestyle .imagelist li{
    list-style: none;
    float: left;
    margin: 0;
    padding: 0 5px 10px;
    width: 50%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}

#Lifestyle #photos{
    margin: 0 -10px;
    padding: 0 10px;
    background: #000;
    margin-bottom: 30px;
}

#Lifestyle #photos .imagelist{
    padding-bottom: 40px;
}

#Lifestyle #photos > p{
    margin: 0;
}

#Lifestyle .to_index{
    display: block;
    margin-bottom: 15px;
}

#Lifestyle .banner{
    display: block;
    margin-bottom: 17px;
}

#profile{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #000;
    z-index: 4;
    color: #FFF;
    display: none;
    overflow: scroll;
}

#profile .face{
    padding-top: 55px;
    padding-bottom: 27px;
    text-align: center;
}

#profile .face img{
    width: 50%;
}

#profile h2{
    font-size: 16px;
    font-weight: 100;
    padding-bottom: 9px;
    border-bottom: 1px solid #444;
    margin: 0 10px;
}

#profile h2 span{
    display: block;
    font-size: 11px;
    color: #888;
    padding-top: 5px;
}

#profile .main{
    font-size: 12px;
    line-height: 19px;
    margin: 0 10px;
    padding: 20px 0 40px;
}

#profile .content > a{
    width: 50px;
    position: absolute;
    top: 0;
    right: 0;
}

#profile .content > a img{
    width: 100%;
}

/* Preload images */
body._ep03.outlander_phev:after {
  content: url(/sp/images/outlander_phev/feature02/ep03/lightbox/close.png) url(/sp/images/outlander_phev/feature02/ep03/lightbox/loading.gif) url(/sp/images/outlander_phev/feature02/ep03/lightbox/prev.png) url(/sp/images/outlander_phev/feature02/ep03/lightbox/next.png);
  display: none;
}

body._ep03.outlander_phev .lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

body._ep03.outlander_phev .lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

body._ep03.outlander_phev .lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

body._ep03.outlander_phev .lightbox a img {
  border: none;
}

body._ep03.outlander_phev .lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

body._ep03.outlander_phev .lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

body._ep03.outlander_phev .lb-container {
  padding: 4px;
}

body._ep03.outlander_phev .lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

body._ep03.outlander_phev .lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(/sp/images/outlander_phev/feature02/ep03/lightbox/loading.gif) no-repeat;
}

body._ep03.outlander_phev .lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

body._ep03.outlander_phev .lb-container > .nav {
  left: 0;
}

body._ep03.outlander_phev .lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

body._ep03.outlander_phev .lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

body._ep03.outlander_phev .lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(/sp/images/outlander_phev/feature02/ep03/lightbox/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

body._ep03.outlander_phev .lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

body._ep03.outlander_phev .lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(/sp/images/outlander_phev/feature02/ep03/lightbox/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

body._ep03.outlander_phev .lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

body._ep03.outlander_phev .lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

body._ep03.outlander_phev .lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

body._ep03.outlander_phev .lb-data {
  padding: 0 4px;
  color: #ccc;
}

body._ep03.outlander_phev .lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

body._ep03.outlander_phev .lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

body._ep03.outlander_phev .lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

body._ep03.outlander_phev .lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(/sp/images/outlander_phev/feature02/ep03/lightbox/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

body._ep03.outlander_phev .lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}




