@charset "UTF-8";

#Exterior .option-simulator {
border-top: 1px solid lightgray;
padding-bottom: 20px;
}
#Exterior .option-simulator > h1 {
line-height: 1.2;
padding-left: 7px;
border-left: 2px solid #e60012;
color: #555555;
font-size: 114.28571%;
margin: 15px 10px;
}
#Exterior .option-simulator .image {
padding: 0 12px 20px;
}
#Exterior .option-simulator .image img {
width: 100%;
height: auto;
}

