@charset "UTF-8";
/* ==================================================================

	outlander_phev アウトランダーPHEV 車種ページ
------------------------------------------------------------------ */
.outlander_phev #ArticleHeader {
  border-bottom: 2px solid #e60012;
}

a.color01 {
  color: #0000ff;
}


/*
  movie
--------------------------------------------------------- */
#movie h1{
  line-height: 1.2;
  padding: 12px 10px;
  color: #555555;
  font-size: 114.28571%;
  border-top: 2px solid #e60012;
  border-bottom: 1px solid lightgray;
}

#movie p{
  padding: 10px 12px;
}

#movie .movieArea{
  text-align: left;
}

#movie .movie {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  padding: 56.25% 0 0 0;
}

#movie .movie iframe,
#movie .movie img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/*
	ハイライト1
--------------------------------------------------------- */
#HightlightPHEV .introduction {
  height: 422px;
  margin: 0 -10px;
  padding-top: 30px;
  color: white;
  text-align: center;
  background: url(../images/outlander_phev/feature01/img01.jpg) no-repeat top center;
  background-size: 640px 452px;
}
#HightlightPHEV .introduction h1 {
  display: inline-block;
  padding: 12px 15px;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  font-size: 128.57143%;
  font-weight: 100;
  font-style: italic;
}
#HightlightPHEV table tbody tr td {
  color: #777777;
  font-size: 85.71429%;
}
#HightlightPHEV table tbody tr td span {
  margin: 0 3px;
  font-size: 200%;
  font-style: italic;
}
#HightlightPHEV table tbody tr td img.jc08 {
  vertical-align: middle;
  margin: 0 0 5px 5px;
}
#HightlightPHEV .charging .image {
  margin: -15px -10px 0;
}
#HightlightPHEV .charging .image img {
  width: 100%;
}
#HightlightPHEV .charging .notes ul.kome li {
  list-style-type: none;
  margin-left: 0;
}
#HightlightPHEV .motor_running .image {
  text-align: center;
}

/*
	ハイライト2
--------------------------------------------------------- */
#HightlightLifestyle .image {
  margin: 0 -10px -30px;
}
#HightlightLifestyle .image img {
  width: 100%;
}
#HightlightLifestyle h2 {
  margin: 20px 0 0;
  padding: 0;
  border: 0;
  color: #00375f;
}
#HightlightLifestyle h2 img .number {
  vertical-align: middle;
  margin-right: 5px;
}

#HightlightLifestyle .detail .image {
  margin: 0 -10px -0;
}
#HightlightLifestyle .detail .image img {
  width: 100%;
}

#HightlightLifestyle .bnr .image {
  margin: 15px 0;
}

/*
	ハイライト3
--------------------------------------------------------- */
#HightlightPerformance h1{
  line-height: 1.2;
  padding: 12px 10px;
  color: #555555;
  font-size: 114.28571%;
  border-top: 0;
  border-bottom: 1px solid lightgray;
}

#HightlightPerformance #movie h1{
  border-top: 2px solid #e60012;
}

#HightlightPerformance .image {
  margin: 0 -10px -15px;
}
#HightlightPerformance .image img {
  width: 100%;
}
#HightlightPerformance .motor_detail .image {
  margin: 0 -10px -15px;
}
#HightlightPerformance .motor_detail .image img {
  width: 100%;
}
#HightlightPerformance .motor_detail h2 {
  margin: 20px 0 -10px;
  padding: 0;
  border: 0;
  color: #00375f;
}
#HightlightPerformance .motor_detail h2 img .number {
  vertical-align: middle;
  margin-right: 5px;
}
#HightlightPerformance .running_mode h2 {
  margin: 20px 0 0;
}
#HightlightPerformance .running_mode .image {
  margin: 0 -10px;
}
#HightlightPerformance .running_mode .image img {
  width: 100%;
}
#HightlightPerformance .detail_box {
  border: 1px solid #3f3f3f;
  padding: 12px 10px;
  margin: 0 auto 10px;
}
#HightlightPerformance .detail_box dt{
  font-weight: bold;
  text-align: center;
  line-height: 1.2em;
}
#HightlightPerformance .detail_box dd{
  margin: 0 5px;
  font-size: 77%;
}
#HightlightPerformance .banner{
    display: block;
    margin-bottom: 17px;
    padding: 0 10px 15px;
}
#HightlightPerformance .banner img{
    width: 100%;
}

/*
  ハイライト4
--------------------------------------------------------- */
#FeatureDetail.HightlightEconomy h1{
  line-height: 1.2;
  padding: 12px 10px;
  color: #555555;
  font-size: 114.28571%;
  border-top: 0;
  border-bottom: 1px solid lightgray;
}

#FeatureDetail.HightlightEconomy h1{
  border-top: 2px solid #e60012;
}

#FeatureDetail.HightlightEconomy .image {
  margin: 0 -10px;
}
#FeatureDetail.HightlightEconomy .image img {
  width: 100%;
}

#FeatureDetail.HightlightEconomy .section > h2 {
  margin: 15px 0;
}

#FeatureDetail.HightlightEconomy .section .subsidy{
  width: 100%;
  margin-bottom: 10px;
}

#FeatureDetail.HightlightEconomy .section .subsidy .image {
  width: 19%;
  padding-right: 2%;
  float: left;
  margin: 0;
}

#FeatureDetail.HightlightEconomy .section .subsidy .image img{
  width: 100%;
}

#FeatureDetail.HightlightEconomy .section .subsidy .txt {
  width: 79%;
  float: left;
  margin: 0;
}

#FeatureDetail.HightlightEconomy .section .subsidy .txt ul{
  margin: 0;
}

#FeatureDetail.HightlightEconomy  .banner{
    display: block;
    margin-bottom: 17px;
    padding: 0 10px 15px;
}
#FeatureDetail.HightlightEconomy  .banner img{
    width: 100%;
}

/*
  ハイライト5
--------------------------------------------------------- */
#FeatureDetail.HightlightElectricity h1{
  line-height: 1.2;
  padding: 12px 10px;
  color: #555555;
  font-size: 114.28571%;
  border-top: 0;
  border-bottom: 1px solid lightgray;
}

#FeatureDetail.HightlightElectricity h1{
  border-top: 2px solid #e60012;
}


#FeatureDetail.HightlightElectricity .image {
  margin: 0 -10px;
}
#FeatureDetail.HightlightElectricity .image img {
  width: 100%;
}

#FeatureDetail.HightlightElectricity .banner{
    display: block;
    margin-bottom: 17px;
    padding: 0 10px 15px;
}
#FeatureDetail.HightlightElectricity .banner img{
    width: 100%;
}

.red {
  color: #ff0000;
}

/*
  デザイン/カラー
--------------------------------------------------------- */
#Exterior h1{
  line-height: 1.2;
  padding: 12px 10px;
  color: #555555;
  font-size: 114.28571%;
  border-top: 0;
  border-bottom: 0;
}

#Exterior h2,
#Exterior p{
  padding: 0 12px 10px;
}

#Exterior .section:first-of-type .image {
  margin: 0 -10px 15px;
}
#Exterior .section:first-of-type .image img {
  width: 100%;
}

/*
	グレード詳細
--------------------------------------------------------- */
#Spec.grade_detail .wrap .item.difference {
  width: 50%;
}
#Spec.grade_detail .wrap .item.difference h1 {
  margin-bottom: 10px;
}
#Spec #SpecInner .wrap .item.price {
  width: 60%;
}
