@charset "UTF-8";

#BodyColor .new-icon,
#Exterior .new-icon{
  position: absolute;  
  right: 0;
  text-align: right;
  display: none;
}

#BodyColor .new-icon.active,
#Exterior .new-icon.active{
  display: block;
}

#BodyColor .new-icon img,
#Exterior .new-icon img{
  box-shadow: none;
  width: 44px;
  height: 44px;
  width: 50%;
}

.color-01 {
    color: #009550!important;
}

.color-02 {
    color: #f18d00!important;
}

#Spec #SpecInner.type-01{
  display: block;
}

#Spec #SpecInner.type-01 .wrap{
  display: table;
  width: 100%;
}

#Spec.grade_detail #SpecInner.type-01 .wrap .item.price{
  display: table-cell;
  position: relative;
  background: #3f3f3f;
  border-right: none;
  width: 40%;
  padding: 14px 0;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  overflow: hidden;
}

/*#Spec.grade_detail #SpecInner.type-01 .wrap p.fr{
  font-size: 78.57143%;
  padding-left: 7.5rem;
  color: #FFF;
}*/

#Spec.grade_detail #SpecInner.type-01 .wrap .item.price h1{
  background: transparent;
  /*display: table-cell;*/
  font-size: .8rem;
  font-weight: 200;
  float: none;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  text-align: left;
  line-height: 1.5;
}

#Spec.grade_detail #SpecInner.type-01 .wrap .item.price h1 span{
  display: block;
  padding: 0 14px 0 14px;
}

#Spec.grade_detail #SpecInner.type-01 .wrap .item.price :after{
    background-color: #666;
    content: '';
    display: block;
    right: -4.5%;
    top: 0%;
    width: 20%;
    height: 200%;
    overflow: hidden;
    position: absolute;
    -webkit-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);
}

#Spec #SpecInner.type-01 .wrap .item:last-of-type{
  background: #666;
  width: 60%;
  display: table-cell;
  vertical-align: middle;
  letter-spacing: normal;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

#Spec #SpecInner.type-01 .wrap .item.engine .parameter{
  display: inline-block;
  text-align: right;
}

#Spec #SpecInner.type-01 .wrap .item.engine .parameter .fz-small{
  font-size: 0.6rem;
  margin-right: 0;
}
#Spec #SpecInner.type-01 .wrap .item.engine .parameter{
  font-size: 85.71429%;
}