@charset "UTF-8";
/* ==================================================================

	パジェロ 車種ページ
------------------------------------------------------------------ */
#FeatureDetail .section img.jc08 {
  margin: 4px 0 0 0;
}
#FeatureDetail .section .eco {
  margin: 15px 0;
  padding: 15px;
  border: 1px solid #009550;
  color: #009550;
}
#FeatureDetail .section .eco p {
  margin: 10px 0 0;
}
#FeatureDetail .clean {
  margin: 15px 0;
  padding: 15px;
  border: 1px solid #3f3f3f;
  color: #3f3f3f;
}
#FeatureDetail .clean p {
  margin: 10px 0 0;
}
#FeatureDetail .image2 {
  margin: 10px -10px;
  display: block;
}
#FeatureDetail .image2 img {
  width: 100%;
}

/*
	グレード詳細
--------------------------------------------------------- */
#Spec.grade_detail #SpecInner .wrap .item.price {
  width: 50%;
}
#Spec.grade_detail #SpecInner .wrap .item.engine .parameter {
  font-size: 78.57143%;
}
#Spec #SpecInner .wrap .item.price {
  width: 60%;
}




#Highlight .item h2{
	text-align:left;
	border-top:solid 2px #e60012;
	padding-bottom:10px;
	margin-left:-10px;
	margin-right:-10px;
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	margin-top:-19px;

}


#Highlight .item p{
	line-height: 1.5;
}

p.side01{
	border-top:solid 1px #d3d3d3;
	padding-bottom:10px;
	margin-left:-10px;
	margin-right:-10px;
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	font-size: 85.57143%;
	line-height: 1.8;

}


#Highlight .item .summary .title2{
	margin-bottom: 10px;
	margin-top: 10px;
	font-weight: 400;
}






#Highlight .item .summary p{
	margin-bottom: 0px;
}

#Highlight .item .summary p.side02{
	border-bottom:solid 1px #d3d3d3;
	margin-left:-10px;
	margin-right:-10px;
	padding-left:10px;
	padding-right:10px;
	line-height: 1.8;
	padding-bottom:10px;
}

#Highlight .item .summary{
	margin-bottom: 25px;
}

#PriceAndSpec .tab_section .spec_table.left {
  border-right: none;
  border-left: none;
  font-size: 85.71429%;
}
#PriceAndSpec .tab_section .spec_table.right {
  border-right: none;
  border-left: none;
  font-size: 85.71429%;
}
.tbl-border {
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

/* 10/25 */
#Spec.grade_detail #SpecInner.type-01 .wrap .price-lead img {
  width: 100%;
  border-bottom: 1px solid #2f2f2f;
}
