@charset "UTF-8";
/* ==================================================================

	privacy 個人情報保護方針
------------------------------------------------------------------ */
.signature {
  text-align: right;
}
