@charset "UTF-8";
/* ==================================================================

	reference お問い合わせ
------------------------------------------------------------------ */
.open_and_shut .item h1.phone {
  padding-left: 40px;
}
.open_and_shut .item h1.phone:before {
  width: 24px;
  height: 24px;
  content: "";
  display: block;
  background: url(../images/common/icon.png) no-repeat;
  background-size: 384px 96px;
  background-position: -336px -24px;
  position: absolute;
  top: 50%;
  left: 10px;
  margin-top: -12px;
}
.open_and_shut .item .text .customer_service_center {
  margin: 20px 0;
  padding: 20px;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  background: white;
}
.open_and_shut .item .text .customer_service_center h2 {
  font-size: 114.28571%;
  text-align: center;
}
.open_and_shut .item .text .customer_service_center p {
  width: 200px;
  margin: 0 auto;
}
.open_and_shut .item .text .customer_service_center p.freecall {
  margin-bottom: 5px;
  font-size: 128.57143%;
  font-weight: 700;
  font-style: italic;
}
.open_and_shut .item .text .customer_service_center p.freecall img {
  vertical-align: middle;
}
.open_and_shut .item .text .customer_service_center p.time {
  font-size: 85.71429%;
}
.open_and_shut .item .text .customer_service_center p.btn_tel {
  width: 100%;
  display: table;
  line-height: 1.25;
  position: relative;
  margin-top: 10px;
}
.open_and_shut .item .text .customer_service_center p.btn_tel > a, .open_and_shut .item .text .customer_service_center p.btn_tel > span, .open_and_shut .item .text .customer_service_center p.btn_tel > input {
  height: 48px;
  display: table-cell;
  vertical-align: middle;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-radius: 5px;
  color: white;
  text-align: left;
  background: #555555;
}
.open_and_shut .item .text .customer_service_center p.btn_tel > a:after, .open_and_shut .item .text .customer_service_center p.btn_tel > span:after, .open_and_shut .item .text .customer_service_center p.btn_tel > input:after {
  position: absolute;
  top: 50%;
}
.open_and_shut .item .text .customer_service_center p.btn_tel > a, .open_and_shut .item .text .customer_service_center p.btn_tel > span {
  padding: 0 30px 0 10px;
}
.open_and_shut .item .text .customer_service_center p.btn_tel > a:after, .open_and_shut .item .text .customer_service_center p.btn_tel > span:after {
  width: 24px;
  height: 24px;
  content: "";
  display: block;
  background: url(../images/common/icon.png) no-repeat;
  background-size: 384px 96px;
  background-position: -336px 0px;
  right: 10px;
  margin-top: -12px;
}
.open_and_shut .item .text ul.notes {
  color: #3f3f3f;
}
.open_and_shut .item .text .privacy h2 {
  line-height: 1.2;
  padding-left: 7px;
  border-left: 2px solid #e60012;
  color: #555555;
  font-size: 114.28571%;
  margin-top: 30px;
  font-size: 100%;
}
.open_and_shut .item .text .privacy ul {
  font-size: 78.57143%;
}
.open_and_shut .item.opened h1.phone:before {
  width: 24px;
  height: 24px;
  content: "";
  display: block;
  background: url(../images/common/icon.png) no-repeat;
  background-size: 384px 96px;
  background-position: -336px 0px;
}

.other_reference ul {
  margin: -15px -10px;
}
.other_reference ul li {
  line-height: 1;
  margin: 0;
  border-bottom: 1px solid lightgray;
}
.other_reference ul li:last-child {
  border-bottom: 0;
}
.other_reference ul li a {
  display: block;
  position: relative;
  padding: 15px 10px 15px 40px;
}
.other_reference ul li a:before {
  position: absolute;
  top: 50%;
  left: 10px;
  margin-top: -12px;
}
.other_reference ul li.internet a:before {
  width: 24px;
  height: 24px;
  content: "";
  display: block;
  background: url(../images/common/icon.png) no-repeat;
  background-size: 384px 96px;
  background-position: -288px -24px;
}
.other_reference ul li.internet a:after {
  width: 16px;
  height: 21px;
  content: "";
  display: block;
  background: url(../images/common/icon_s.png) no-repeat;
  background-size: 128px 63px;
  background-position: -32px -21px;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -10px;
}
.other_reference ul li.car_lineup a:before {
  width: 24px;
  height: 24px;
  content: "";
  display: block;
  background: url(../images/common/icon.png) no-repeat;
  background-size: 384px 96px;
  background-position: -96px -24px;
}
.other_reference ul li.car_lineup a:after {
  width: 16px;
  height: 21px;
  content: "";
  display: block;
  background: url(../images/common/icon_s.png) no-repeat;
  background-size: 128px 63px;
  background-position: -32px -21px;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -10px;
}
.other_reference ul li.others a:before {
  width: 24px;
  height: 24px;
  content: "";
  display: block;
  background: url(../images/common/icon.png) no-repeat;
  background-size: 384px 96px;
  background-position: -312px -24px;
}
.other_reference ul li.others a:after {
  width: 16px;
  height: 21px;
  content: "";
  display: block;
  background: url(../images/common/icon_s.png) no-repeat;
  background-size: 128px 63px;
  background-position: -32px -21px;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -10px;
}
.other_reference ul li.ir a:before {
  width: 24px;
  height: 24px;
  content: "";
  display: block;
  background: url(../images/common/icon.png) no-repeat;
  background-size: 384px 96px;
  background-position: -360px -24px;
}
.other_reference ul li.ir a:after {
  width: 34px;
  height: 21px;
  content: "";
  display: block;
  background: url(../images/common/icon_pc_external.png) no-repeat;
  background-size: 34px 63px;
  background-position: 0px -21px;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -10px;
}
.other_reference + h1 {
  margin-top: 15px;
}
