@charset "UTF-8";
/* ==================================================================

	outlander_phev アウトランダーPHEV 車種ページ
------------------------------------------------------------------ */
/*
	sp/rvr/
--------------------------------------------------------- */
#Spec #SpecInner .wrap .item.price {
  width: 70%;
}

/*
	ハイライト1
--------------------------------------------------------- */
#HightlightRvrPowerful h2 {
  padding: 12px 10px;
  border-top: 1px solid #3f3f3f;
  border-right: 1px solid #3f3f3f;
  border-bottom: 1px solid #3f3f3f;
  border-left: 1px solid #3f3f3f;
  font-weight: 100;
  text-align: center;
}
#HightlightRvrPowerful img.jc08 {
  margin: 4px 0 0 0;
}
#HightlightRvrPowerful table tbody tr td {
  color: #777777;
  font-size: 85.71429%;
}
#HightlightRvrPowerful table tbody tr td span {
  margin: 0 3px;
  font-size: 200%;
  font-style: italic;
}
#HightlightRvrPowerful .charging .image {
  margin: 0 -10px;
}
#HightlightRvrPowerful .charging .image img {
  width: 100%;
}
#HightlightRvrPowerful .charging .image2 {
  margin: 10px -10px;
  display: block;
}
#HightlightRvrPowerful .charging .image2 img {
  width: 100%;
}
#HightlightRvrPowerful .charging .notes ul.kome li {
  list-style-type: none;
  margin-left: 0;
}
#HightlightRvrPowerful .charging .eco {
  margin: 15px 0;
  padding: 15px;
  border: 1px solid #009550;
  color: #009550;
}
#HightlightRvrPowerful .charging .eco p {
  margin: 10px 0 0;
}
#HightlightRvrPowerful .charging .motor_running .image {
  text-align: center;
}

/*
	ハイライト2
--------------------------------------------------------- */
#HightlightRvrLuggage .motor_detail .image {
  margin: 0 -10px;
}
#HightlightRvrLuggage .motor_detail .image img {
  width: 100%;
}
#HightlightRvrLuggage h2 {
  padding: 12px 10px;
  border-top: 1px solid #3f3f3f;
  border-right: 1px solid #3f3f3f;
  border-bottom: 1px solid #3f3f3f;
  border-left: 1px solid #3f3f3f;
  font-weight: 100;
  text-align: center;
}
#HightlightRvrLuggage h3 {
  line-height: 1.2;
  padding-left: 7px;
  border-left: 2px solid #e60012;
  color: #555555;
  font-size: 114.28571%;
  margin: 0 0 10px;
}
#HightlightRvrLuggage .running_mode h2 {
  margin: 20px 0 -10px;
}
#HightlightRvrLuggage .utility p {
  margin: 15px 0 25px;
}

/*
	ハイライト3
--------------------------------------------------------- */
#HightlightRvrPerformance h2 {
  padding: 12px 10px;
  border-top: 1px solid #3f3f3f;
  border-right: 1px solid #3f3f3f;
  border-bottom: 1px solid #3f3f3f;
  border-left: 1px solid #3f3f3f;
  font-weight: 100;
  text-align: center;
}
#HightlightRvrPerformance h3 {
  line-heigh5: 1.2;
  padding-left: 7px;
  border-left: 2px solid #e60012;
  color: #555555;
  font-size: 114.28571%;
  margin: 0 0 5px;
}
#HightlightRvrPerformance .section {
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid lightgray;
}
#HightlightRvrPerformance .section:first-of-type {
  border-top: 0;
}
#HightlightRvrPerformance .section:last-of-type {
  border-bottom: 0;
}
#HightlightRvrPerformance .section .image {
  margin: 0 -10px 15px;
}
#HightlightRvrPerformance .section .image img {
  width: 100%;
}

/*
	グレード詳細
--------------------------------------------------------- */
#Spec.grade_detail .wrap .item.difference {
  width: 50%;
}
#Spec.grade_detail .wrap .item.difference h1 {
  margin-bottom: 10px;
}
