@charset "UTF-8";
/* ==================================================================

	socialmedia ソーシャルメディア
------------------------------------------------------------------ */
/*
	インデックス
--------------------------------------------------------- */
#SocialmediaList .category > h1 {
  line-height: 1.2;
  padding: 12px 10px;
  border-top: 2px solid #e60012;
  border-bottom: 1px solid lightgray;
  color: #555555;
  font-size: 114.28571%;
  position: relative;
}
#SocialmediaList .category > h1:after {
  height: 21px;
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -10px;
  background: url(../images/socialmedia/index/icn.png) no-repeat left top;
  background-size: 70px 21px;
}
#SocialmediaList .category .item {
  position: relative;
  border-top: 1px solid white;
  border-bottom: 1px solid lightgray;
}
#SocialmediaList .category .item:nth-of-type(2n) {
  background: #f0f0f0;
}
#SocialmediaList .category .item a {
  width: 100%;
  display: table;
  padding: 20px 10px 20px 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#SocialmediaList .category .item a .image {
  width: 105px;
  vertical-align: middle;
  display: table-cell;
  padding: 10px;
}
#SocialmediaList .category .item a .image img {
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-radius: 2px;
}
#SocialmediaList .category .item a .summary {
  line-height: 1.5;
  vertical-align: middle;
  display: table-cell;
  padding-right: 15px;
  border-right: 16px solid #555555;
}
#SocialmediaList .category .item a .summary > h1 {
  font-size: 114.28571%;
}
#SocialmediaList .category .item a .summary > h1 span {
  font-size: 66%;
}
#SocialmediaList .category .item a.pc .summary > h1:after {
  width: 16px;
  height: 21px;
  content: "";
  display: block;
  background: url(../images/common/icon_s.png) no-repeat;
  background-size: 128px 63px;
  background-position: -16px -21px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}
#SocialmediaList .category .item a.pc_external .summary > h1:after {
  width: 34px;
  height: 21px;
  content: "";
  display: block;
  background: url(../images/common/icon_pc_external.png) no-repeat;
  background-size: 34px 63px;
  background-position: 0px -21px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}
#SocialmediaList .category .item a:after {
  width: 16px;
  height: 21px;
  content: "";
  display: block;
  background: url(../images/common/icon_s.png) no-repeat;
  background-size: 128px 63px;
  background-position: 0px 0px;
  position: absolute;
  top: 50%;
  right: 11px;
  margin-top: -8px;
}
#SocialmediaList .category#Facebook > h1:after {
  width: 21px;
}
#SocialmediaList .category#Youtube > h1:after {
  width: 49px;
  background-position: -21px 0;
}
