@charset "UTF-8";
/* ==================================================================

	CM CMライブラリー
------------------------------------------------------------------ */
/*
	インデックス
--------------------------------------------------------- */
.introduction {
  max-width: 410px;
  margin: 0 auto;
  padding: 0 10px 15px;
  text-align: center;
  background: url(../images/spirit/index/bck02.jpg) repeat-y center top;
  background-size: 430px 168px;
}
.introduction .header {
  height: 595px;
  margin: 0 -10px;
  padding-top: 25px;
  background: url(../images/spirit/index/bck01.png) no-repeat center top;
  background-size: 430px 620px;
}
.introduction .header h1 {
  margin-bottom: 25px;
}
.introduction .video {
  margin-bottom: 35px;
}
.introduction figure {
  margin-bottom: 20px;
}
.introduction p.btn_pc {
  margin-bottom: 15px;
}

.cm .item h1 {
  margin: 15px 10px;
  line-height: 1.2;
  padding-left: 7px;
  border-left: 2px solid #e60012;
  color: #555555;
  font-size: 114.28571%;
}
.cm .item .video a {
  display: block;
  position: relative;
}
.cm .item .video a img {
  width: 100%;
}
.cm .item .video a:after {
  width: 60px;
  height: 60px;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
  background: url(../images/common/ply.png) no-repeat top left;
  background-size: 60px 60px;
}
