@charset "UTF-8";
/* ==================================================================

	usage サイトのご利用について
------------------------------------------------------------------ */
/*
	インデックス
--------------------------------------------------------- */
.section .btn_twin:first-of-type {
  margin-top: 15px;
}
