/*#car_localArea #lnv1 a:link, #car_localArea #lnv1 a:visited, #car_localArea #lnv1 a:active {
background:url(/i-miev/common/images/local_nv_02.gif) no-repeat 0 0;
}
#car_localArea #lnv1 a:hover {
background:url(/i-miev/common/images/local_nv_02_a.gif) no-repeat 0 0;
}*/

#btn360view{
position:absolute;
right:6px;
bottom:6px;
}

.flover {
position:absolute;
left:15px;
bottom:57px;
z-index:50;
width:202px;
height:83px;
zoom:1;
}
.flover02 {
position:absolute;
left:15px;
top:10px;
z-index:50;
width:202px;
height:46px;
zoom:1;
}
.flover03 {
position:absolute;
left:15px;
bottom:10px;
z-index:50;
width:165px;
height:37px;
zoom:1;
}
.flover04 {
position:absolute;
left:15px;
top:65px;
z-index:50;
width:165px;
height:37px;
zoom:1;
}
.flover05 {
position:absolute;
left:15px;
bottom:110px;
z-index:50;
zoom:1;
}
.flover06 {
position:absolute;
left:15px;
bottom:10px;
z-index:50;
zoom:1;
}

#headerImgArea {
height:324px;
}

.flashhidden {
position:absolute;
z-index:10;
}

.grade_Block .bodyColorBox{
position:relative;
}

.grade_Block .bodyColorBox .cl1 {
display:inline;
float:left;
margin-left:8px;
width:91px;
height:92px;
}
.grade_Block .bodyColorBox .cl2 {
display:inline;
float:left;
margin-left:8px;
width:120px;
height:92px;
}
.grade_Block .bodyColorBox .cl3 {
display:inline;
float:left;
margin-left:8px;
}


.grade_Block .bodyColorBox .cl1 p,
.grade_Block .bodyColorBox .cl2 p,
.grade_Block .bodyColorBox .cl3 p {
margin-bottom:4px;
}

.grade_Block .bodyColorBox .cl1 li {
float:left;
}

.grade_Block .bodyColorBox .cl3 li {
display:block;
margin-bottom:5px;
line-height:1;

}

.grade_Block .bodyColorBox .cl1 li img {
}

.grade_Block .bodyColorBox .cl1 li span,
.grade_Block .bodyColorBox .cl2 li span {
padding:0 7px 5px 0;

}

.grade_Block .bodyColorBox .cl2 li {
}
.grade_Block .bodyColorBox .cl2 li.snd span {
}

.grade_Block .bodyColorBox .cl2 li span {
padding:0 7px 5px 0;
}

.grade_Block .bodyColorBox .cl1 li span .ovfl {
position:absolute;
display:none;
left:0;
top:0;
width:35px;
height:27px;
}


.grade_Block .bodyColorBox .cl1 ul {
margin-top:0;
}

.grade_Block .bodyColorBox .bcTitle, .grade_Block .intColorBox .bcTitle {
height:92px;
}
.grade_Block .half .bcTitle, .grade_Block .half .cl1 {
height:51px;
}


.grade_Block .intColorBox .cl1 {
float:left;
width:50px;
}
.grade_Block .intColorBox .cl2 {
float:left;
}

.lineBox_Area {
border:solid 1px #d2d2d2;
}

.lineBox_Area .lineBox {
padding:10px;
}
.lineBox_Area .lineleftBox {
float:left;
margin-right:13px;
width:146px;
}
.lineBox_Area .linerightBox {
float:left;
width:142px;
}

#mainimg_a0,#mainimg_b0 {
display:block;
}
#mainimg_a1,#mainimg_a2,#mainimg_a3,#mainimg_a4,#mainimg_a5,#mainimg_a6,#mainimg_a7,#mainimg_a8,#mainimg_a9,
#mainimg_b1,#mainimg_b2,#mainimg_b3 {

}

/* spec 4menzu */

#contentsArea .dimension_outlander p{
line-height:1.5em;
font-size:70%;
}

#contentsArea .dimension_outlander .leftBox{
width:472px;
}

#contentsArea .dimension_outlander .rightBox{
width:380px;
}



/* message */


/* peformance style */
#general.performance .page_notesArea dt,
#general.performance .page_notesArea dd {
font-size:70%
}

.rfloat {
float:right;
}

/* utility style */
p.leftImg {
float:left;
padding-right:15px;
}
p.caption .padding_off {
padding:0;
}

.layout2_ColorBlock {
margin-bottom:30px;
padding:10px;
background:#e6e6e6;
}
.layout2_ColorBlock .right {
float:right;
width:420px;
font-size:80%;
}
.layout2_ColorBlock .left {
float:left;
width:200px;
}

.direction1 {
background:url(../../utility/images/uti02_bg_01.gif) no-repeat top center;
}
.direction2 {
background:url(../../utility/images/uti02_bg_02.gif) no-repeat top center;
}


.borderBox {
margin-bottom:30px;
padding:10px;
border:1px solid #e6e6e6;
font-size:80%
}
.borderBox p {
margin-top:5px;
}

.spec h4.edition {
}

.gradeBoxLeft #mainimg p{
visibility:hidden;
}
.gradeBoxLeft #mainimg #imgdef {
visibility:visible;
}



#general .secondseat .double .caution_Block {
width:auto;
margin:0;
}

#general .secondseat .double p,
#general .therdseat .double p {
padding:0 !important;
}


/**/

.gradeSelectTable table th {
background:#ccc !important;
}

/**/

.infobox div {
float:left;
width:103px;
margin-bottom:10px;
margin-right:7px;
}
.infobox div p {
font-size:70% !important;
}
.infobox div p.txt {
margin-top:5px;
}
.infolineBox {
border:solid 1px #e6e6e6;
padding:15px;
}
.infolineBox ul li{
list-style:none;
line-height:1.3;
margin-bottom:5px;
}


/**/

.flleft {
float:left;
}

.ecoBlock .lineBlock{
border:solid 1px #006600 !important;
}
.list_disc1  {
font-size:80%;
list-style-type:disc;
margin-left:20px;
}

.list_disc2  {
font-size:80%;
list-style-type:disc;
margin-top:250px;
margin-left:20px;
}


.lineboxNote h4,
.lineboxNote p {
font-size:75% !important;
line-height:1.5 !important;
}


/**/

.color .type2 div div {
width: 210px;
}
.color .type3 div div {
width: 400px;
}


/**/

.i-miev #headerImgArea .flashhidden {
width:920px;
}


/* spec 4menzu */

#contentsArea .dimension_i-miev p{
line-height:1.5em;
font-size:70%;
}

#contentsArea .dimension_i-miev .leftBox{
width:472px;
}

#contentsArea .dimension_i-miev .rightBox{
width:380px;
}

.spec h4.edition {
}

/**/

#mwin iframe {
border:none;
}

/**/

#digestMove {
margin:0 0 5px 5px;
text-align:left;
height:360px;
}

.interview .voiceBox {
width:auto !important;
margin-right:0 !important;
float:none !important;
}

.interview .voiceLead {
width:648px !Important;
}
.interview .voiceImg {
float:left;
}

.interview div.linkStd {
clear:both;
margin-top:5px;
}
.interview div.linkStd p {
margin-top:3px;
}
.interview  div.linkStd p span {
background:transparent url(/share/images/arrow04.gif) no-repeat scroll 0 0.25em;
display:block;
padding-left:14px;
}

/**/

.linered {
border-color:#ff0000;
}


.lineBlock .caution dt {
float:left;
width:35px;
}
.lineBlock .caution dd {
margin-left:45px;
width:590px;
}

#mainLeft .linkStd {
font-size:80%;
}

.deco_clred a {
color:#ef0041 !important;
}

.taxFree .txt {
float:left;
width:570px;
}
.taxFree .img {
float:left;
margin-left:15px;
}

.option .layout4_Block div div {
width:210px;
}
.option .layout4_Block div div.double {
width:435px;
}
.option .layout4_Block div div.double h4 {
margin-bottom:0;
}



/* utility table */
.utility table {
border: 1px #E6E6E6 solid;
border-collapse: collapse;
border-spacing: 0;
font-size:80%;
line-height:1.5em;
width:100%;
}
.utility table td {
padding: 5px;
border: 1px #E3E3E3 solid;
border-width: 0 0 1px 1px;
}

/**/


.spec .btm_lineoff {
border-bottom:none;
}
.spec .top_lineoff {
border-top:none;
}