
#grayfield {
display:inline;
position:fixed!important;
position:absolute;
top:0;
left:0;
z-index:99;
width:100%;
background: url(/lineup/common/images/gray_bg.png) repeat;
overflow:hidden;
display:none;
}

* html #grayfield {
background-image: none;
background-color:#000;
filter: alpha(opacity=60);

}

#mwin,#mwinmv {
position:absolute;
top:0;
left:0;
z-index:100;
width:800px;
height:300px;
border-top:solid #ef0041 1px;
overflow:hidden;
background:#fff;
}

#poparea {
position:relative;
margin:0;
}


#mwin p,#mwinmv p {
margin:0px;
color:#000;
font-size:80%;
line-height:1.5;
}

#mwin p#imagechg {
font-size:65%;
}

#mwin #imgfield,#mwinmv #imgfieldmv {
display:none;
margin-top:54px;
text-align:center;
}
#mwin #imgfield {
margin:54px 0 0 0;
text-align:center;
}
#mwin #imgfield #bigimg {
/*margin-left:16px;*/
margin:0 auto;
width:648px;
height:400px;
background:#fff url(/lineup/common/images/ajax-loader.gif) no-repeat center center;
cursor:pointer;
}
#mwin #imgfield #bigimg img {
background-repeat:no-repeat;
background-position:center center;
}

#mwin p#closeb,#mwinmv p#closebmv {
width:64px;
position:absolute;
top:15px;
right:16px;
z-index:110;
text-align:right;
}
#mwin p#bkb {
width:88px;
position:absolute;
top:-27px;
right:0px;
z-index:111;
text-align:right;
}

#viewerclose,#viewerclosemv,#viewerbk {
cursor:pointer;
}

#resutxt,#resutxtmv {
padding:8px 16px 0;
text-align:left;
text-decoration:none;
}

#imgnv {
display:none;
float:left;
margin:0;
width:50%;
}

.loadtb {
text-align:center;
}
#resutxtmv p.bold {
font-weight:bold;
}

.imagevis , .imagevisWh, .imagevisPtypeA, .imagevisPtypeB, .imagevisPtypeC, .imagevisPtypeD, .imagevisWhm ,
.moviebt {
cursor:pointer;
}
.moviebt_list {
margin-bottom:5px;
}

#layer_window {

}


/*----  message  ----*/

#messageArea {
margin:0px auto;
padding:0;
width:800px;
background-color:#fff;
}

.mesNavi{
float:left;
margin-right:19px;
width:188px;
}
.mesNavi li {
display:inline;
}

#mesheader {
width:800px;
margin:0px auto;
}
#titleimg {
}

#closeb {
position:absolute;
top:15px;
right:15px;
width:64px;
}

#mesMainBlock {
float:left;
width:592px;
text-align:left;
}

#messageArea .title{
padding-bottom:54px;
padding-top:15px;
}
#mesMainBlock p {
padding-bottom:25px;
font-size:80%;
line-height:1.5;
}
#mesMainBlock p.bottomtxt {
padding-bottom:35px;
}

#titleimg {
text-align:left;
position:relative;
top:0;
left:0;
}

.rightbt {
position:absolute;
top:15px;
right:95px;
text-align:right;
}


#mesMainBlock p.volname {
padding-bottom:25px;
border-bottom:solid 1px #ccc;
}
#mesMainBlock p.header1 {
padding-top:25px;
padding-bottom:45px;
}


/* photogallery */

.imgfieldpos {
position:absolute;
top:40px;
left:76px;
}

#galleryArea {
background: #fff;
margin-top:15px;
width:800px;
}

.galMainBlock {
margin-left:16px;
margin-bottom:30px;
}

#galleryArea h3 {
padding-top:20px;
}
.galMainBox h4, .galMainWPBox h4 {
margin-bottom:1px;
margin-top:16px;
padding:3px 0;
background-color:#e6e6e6;
width:768px;
}
.galMainBox h4 img, .galMainWPBox h4 img {
display:inline;
}

.galMainBox a {
display:block;
float:left;
margin-right:16px;
margin-top:16px;
width:96px;
background-color:#ccc;
}
.galMainBox a.wide,.galMainBox img.wide {
display:block;
margin-right:0px;
margin-top:16px;
width:768px;
background-color:#ccc;
}

.galMainBox img.wide {
border:solid 1px #ccc;
width:766px;
}

.galMainBox a:hover {
background-color:#f00;
}
.galMainBox a img {
margin:1px;
}
#mwin .galMainBox p {
margin:10px 0 0 0;
width:768px;
}
.galMainBox img {
display: block;
background:#fff url(/lineup/common/images/ajax-loader_mini.gif) no-repeat center center;
}
.galMainWPBox div {
float:left;
margin-right:16px;
margin-top:16px;
width:96px;
}
.galMainWPBox div img {
margin-bottom:1px;
}

.gallerybnArea div {
float:left;
margin-right:12px;
width:378px;
}

.gallerybnArea {
margin-top:30px;
}
.gallerybnArea a {
display:block;
margin-top:5px;
width:376px;
background-color:#ccc;
}
.gallerybnArea .right a {
width:375px;
}
.gallerybnArea a:hover {
background-color:#f00;
}
.gallerybnArea a img {
margin:1px;
}

/*----  voice  ----*/
#voiceheader p {
display:inline;
}
#voiceArea {
padding-bottom:20px;
}

#voiceArea h3 {
margin:30px 0 0 0;
padding:0 0 5px 0;
}
#voiceArea .voiceBlock {
margin:0 0 0 16px;
}
#voiceArea .voiceBlock em {
display:block;
margin-bottom:5px;
}
#voiceArea .voiceBox {
width:362px;
float:left;
margin:15px 30px 0 0;
}
#voiceArea .txtCenter {
text-align:center;
}
#voiceArea .voiceBox .voiceLead {
float:right;
width:242px;
}
#voiceArea .voiceBox h4 {
margin:0 0 5px 0;
}

/*---- summary  ----*/
#summaryArea {
padding:30px 16px;
}
#summaryArea .summaryTableArea {
width:768px;
}
#summaryArea .summaryTableArea table {
width:100%;
border-top:1px solid #666666;
border-left:1px solid #666666;
}
#summaryArea .summaryTableArea table th,
#summaryArea .summaryTableArea table td {
padding:0.5em;
border-bottom:1px solid #666666;
border-right:1px solid #666666;
font-weight:normal;
text-align:left;
}
#summaryArea .summaryTableArea table th {
width:50%;
background:#d2d2d2;
}

#summaryArea .summaryTableArea table span {
font-size:80%;
line-height:1.5;
}
#summaryArea .summaryTableArea table span.notes_num {
font-size:70%;
}

.galant_fortis #summaryArea .summaryTableArea table th {
width:30%;
}
.galant_fortis #summaryArea .summaryTableArea table td {
width:35%;
}


/* topsplinkArea */

#splinkArea {
margin:0;
padding:0;
height:auto;
overflow:hidden;
background:none;
}

#morebt {
display:none;
text-decoration:underline;
cursor:pointer;
}


/*spec*/

.specscroll {
height:400px;
overflow:auto;
overflow-y:auto;
overflow-x:hidden
}
table.tbscroll {
width:871px;
}
table.spec th.borderbottomNone {
border-bottom:none;
}
table.spec th.bordertopNone {
border-top:none;
}
table.spec th.bordernone, table.spec td.bordernone {
border-left:none;
border-right:none;
background-color:#d2d2d2;
}


#tbload {
clear:right;
position:relative;
}


/*imgchg*/
#imagechg {
position:absolute;
top:20px;
left:15px;
}
#imagechg span {
display:block;
float:left;
margin-right:15px;
}
#imagechg #ext {
display:none;
}

#general a.clchng {
color:#ef0041;
text-decoration:none;
}

/*  */

.shtig {
border-bottom:solid #eee 1px;
padding:5px 10px;
border-right:solid #fff 1px;
border-left:solid #fff 1px;
background-color:#eee;
}

.boldoff{
font-weight:normal;
}

.clkcursor {
cursor:pointer;
}

/* layer_v2 */


#imgnumber {
display:none;
position:absolute;
left:0;
top:-18px;
font-size:120%;
}

#imgbtP, #imgbtN {
position:absolute;
display:block;
width:150px;
height:400px;
z-index:499;
cursor:pointer;

}

#imgbtP {
left:1px;
top:0px;
background:url(/lineup/common/images/gal_prev.gif) no-repeat left center;
}

#imgbtN {
right:1px;
top:0px;
background:url(/lineup/common/images/gal_next.gif) no-repeat right center;
}

.imglink.movie {
width:108px;
}

.top .flashhidden {
width:694px;
}
.top.rvr .flashhidden{
width:920px;
}



/**/
#interViewArea h3 {
margin:30px 0 0 0;
padding:0 0 5px 0;
}
#interViewArea  {
background: #fff;
margin-top:15px;
width:800px;
}
#interViewArea .leftBox,
#interViewArea .centerBox,
#interViewArea .rightBox {
float:left;
}

#interViewArea .leftBox {
margin-right:18px;
}

#interViewArea .centerBox {
width:372px;
margin-right:18px;
}
.interViewBlock {
margin-left:16px;
margin-top:20px;
margin-bottom:30px;
}
.interViewBlock .name {
padding-top:5px;
}

.interViewBlock .bannerLeft {
float:left;
padding-right:15px;
}
.interViewBlock .bannerTxt {
float:left;
width:555px;
}