@charset "shift_jis";

body > img {
position:absolute;
}

/* icon */
#txetSizeArea div.contentsBlock div.iconBox {
float:left;
margin-right:15px;
width:187px;
}
#txetSizeArea div.contentsBlock div.iconBox .icon_img{
margin-bottom:10px;
}
#txetSizeArea div.contentsBlock div.iconBox .icon_txt{
margin-bottom:15px;
}
#txetSizeArea div.contentsBlock div.rightmg_off {
margin-right:0px;
}
#txetSizeArea div.contentsBlock .lead_bottom {
margin-bottom:35px;
}
#txetSizeArea  div.contentsBlock ul.icon_notes {
margin-top:10px;
list-style-type:none;
font-size:70%;
line-height:1.5;
}

/* pagetop */
#car_contents div.pagetopLink {margin:1.5em 0 1em 0;text-align:right;clear:both;}
#car_contents div.h1area div.pagetopLink {margin-right:0;}
#car_contents div.pagetopLink a {margin:0;padding:0;font-size:70%;}
#car_contents div.pagetopLink a:link {color:#151515;text-decoration:underline;}
#car_contents div.pagetopLink a:visited {color:#151515;text-decoration:underline;}
#car_contents div.pagetopLink a:active {color:#cc0000;text-decoration:underline;}
#car_contents div.pagetopLink a:hover {color:#cc0000;text-decoration:underline;}


/*パンくず*/
#car_header {
width:920px;
border-bottom:1px solid #efefef;
}
#car_header #carname {
float:left;
width:300px;
margin-right:10px;
}
#car_header #car_crumb {
float:none;
}
#car_crumb {
margin:0;
padding:9px 0 5px 0;
text-align:right;
color:#151515;
}
#car_crumb p {
padding-right:10px;
font-size:70%;
line-height:1.5;
}
#car_crumb span.stay {
font-weight:bold;
}
#car_crumb a:link,#car_crumb a:visited {
text-decoration:underline;
}
#car_crumb a:active,#car_crumb a:hover {
color:#ef0041;
text-decoration:underline;
}

#car_header h1 {
margin-left:15px;
}


/*トップページ*/
#headerImgArea {
width:920px;
position:relative;
}

#headerImgArea .flashhidden {
float:left;
width:694px;
}

#headerImgArea .nvBlock {
float:left;
width:226px;
}

#flashcontent {
z-index:0;
}


.top #car_mainArea .gselectList li img {
vertical-align:top;
}
#car_mainArea {
padding:25px 16px 0;
}
.top #car_mainArea {
padding:0 0 0 16px;
background:url(/lineup/common/images/local_bg_03.gif) repeat-y top right;
border-bottom:1px solid #fff;
}
.mp #car_mainArea {
padding:25px 15px 0 16px;
background:url(/lineup/common/images/pg_bg_01.gif) repeat-y top left;
border-bottom:1px solid #fff;
}

#cartop_lArea {
float:left;
width:678px;
margin-bottom:0px;
margin-top:15px;
}

#cartop_lArea #gradeSelectBlock {
float:left;
margin-bottom:15px;
margin-right:13px;
width:213px;
}

#cartop_lArea #gradeSelectBlock .gselectList {
margin-left:2px;
padding-top:1px;
}
#cartop_lArea #gradeSelectBlock .gselectList li {
vertical-align:bottom;
margin-bottom:1px;
line-height:0;
font-size:1px;
}
#cartop_lArea #gradeSelectBlock .gselectWrap {
background:url(/lineup/common/images/local_bg_04.gif) repeat-y left top;
}
#cartop_lArea #gradeSelectBlock .gselectBottom {
padding-bottom:3px;
background:url(/lineup/common/images/local_bg_04b.gif) no-repeat left bottom;
}

#cartop_lArea #gradeSelectBlock .summaryBox {
zoom:1;
padding-top:14px;
}

#cartop_lArea #gradeSelectBlock .iconBox {
padding-top:16px;
}
#cartop_lArea #gradeSelectBlock .iconBox span {
float:left;
margin-right:1px;
margin-bottom:1px;
line-height:0;
font-size:1px;
}
.linktxt {
margin-top:3px;
padding-right:6px;
text-align:right;
}

#cartop_lArea .gradeListBlock {
float:left;
margin-bottom:15px;
width:439px;
background:url(/lineup/common/images/local_bg_05.gif) repeat-y left top;
}
#cartop_lArea .gradeListBlock .gradeListBox {
margin-left:2px;
padding-top:1px;
}
#cartop_lArea .gradeListBlock .photo {
float:left;
margin-right:11px;
width:268px;
}
#cartop_lArea .gradeListBlock .gradeList {
float:left;
padding-bottom:12px;
margin-top:10px;
width:152px;
}
#cartop_lArea .gradeListBlock .gradeList h4 {
margin-bottom:4px;
}
#cartop_lArea .gradeListBlock .gradeList li {
margin-left:1px;
margin-top:4px;
line-height:1px;
font-size:1px;
float:left;
}

#cartop_lArea .gradeListBlock .gradeListBottom {
padding-bottom:4px;
background:url(/lineup/common/images/local_bg_05b.gif) no-repeat left bottom;
}

#cartop_lArea .supportBlock {
margin-bottom:15px;
width:665px;
background:url(/lineup/common/images/local_bg_08.gif) repeat-y left bottom;
}
#cartop_lArea .supportBlock .supportBottom {
padding-bottom:13px;
padding-top:13px;
background:url(/lineup/common/images/local_bg_08b.gif) no-repeat left bottom;
}
#cartop_lArea .supportBlock ul {
margin-left:14px;
}
#cartop_lArea .supportBlock li {
float:left;
margin-bottom:5px;
width:215px;
background:url(/lineup/common/images/cartop_pt_02.gif) no-repeat left center;
}
#cartop_lArea .supportBlock a {
padding-left:12px;
}
#cartop_lArea .bottomLinkBlock {
margin-bottom:40px;
width:665px;
}
#cartop_lArea .bottomLinkBlock a {
display:block;
float:left;
margin-right:7px;
}

#cartop_rArea {
float:right;
width:216px;
margin-left:10px;
padding-top:15px;
}

#cartop_rArea .bannerBlock, #cartop_rArea .linkBlock, #cartop_rArea .spLinkBlock {
margin-bottom:15px;
width:206px;
}
#cartop_rArea .bannerBlock p, #cartop_rArea .linkBlock ul, #cartop_rArea .spLinkBlock p {
margin:5px 0 0 6px;
}
#cartop_rArea .linkBlock li {
margin-bottom:2px;
}
.spLinkBlock div, .spLinkBlock p, .bannerBlock p {
margin:5px 0 0 6px;
padding-bottom:6px;
background:url(/lineup/common/images/cartop_pt_03.gif) no-repeat left bottom;
}
.spLinkBlock div.lineoff, .spLinkBlock p.lineoff, .bannerBlock p.lineoff {
margin:5px 0 0 6px;
padding-bottom:0px;
background:none;
}

.spLinkBlock.purchaseLink ul {
margin-left:10px !important;
width:206px;
}
.spLinkBlock.purchaseLink li {
width:186px;
border-top:solid 1px #ccc;
line-height:0;
font-size:0;
}
.spLinkBlock.purchaseLink li.lineoff {
border-top:none;
}

.spLinkBlock.purchaseLink2 {
background:url(/lineup/common/images/purchaseLink2_bg_02.gif) repeat-y top left;
}


.spLinkBlock.purchaseLink2 ul {
width:206px;
background:url(/lineup/common/images/purchaseLink2_bg_01.gif) no-repeat bottom left;
}
.spLinkBlock.purchaseLink2 li {
margin-left:10px !important;
width:186px;
border-top:solid 1px #e5e5e5;
line-height:0;
font-size:0;
}
.spLinkBlock.purchaseLink2 li.lineoff {
border-top:none;
}




#cartop_rArea .spLinkBlock dt {
float:left;
width:40px;
height:40px;
line-height:0;
font-size:1px;
}
#cartop_rArea .spLinkBlock dd {
width:145px;
margin-left:48px;
}

#cartop_rArea .spLinkBlock dd img.newImg {
display:block;
margin-bottom:2px;
}

#mainimgBox {
position:relative;
overflow:hidden;
height:159px;
}
#mainimgBoxB {
position:relative;
overflow:hidden;
height:159px;
}





/* エディション */
.editionBlock {
padding-top: 12px;
background-color: #ffffff;
}
.editionBlock p {
text-align: left;
}
.editionBlock .newimg {
vertical-align:middle;
}
.editionBlockBg {
background: url("../images/local_bg_11.gif") repeat-y left top;
}
.editionBlock .boxleft {
width: 119px;
float: left;
margin-right: 12px;
}
.editionBlock .boxright {
width: 285px;
margin-top: 5px;
float: left;
}
.editionBlock .border {
border-bottom:solid #e6e6e6 3px;
}



/*車種ページCSS*/

.carpg_line1 {
margin-bottom:30px;
padding-top:30px;
padding-bottom:8px;
width:100%;
text-align:right;
background-image:url(/lineup/common/images/line_pt_02.gif);
background-position:bottom left;
background-repeat:repeat-x;
clear:both;
}

/* 写真キャプション  */
#general .caption {
margin-top:5px;
padding-top:0;
}
#general .txtRight {
text-align:right;
}
#general .txtLeft {
text-align:left;
}
#general .txtCenter {
text-align:center;
}
#general p.captionLeft {
float:left;
width:161px;
}
#general p.captionRight {
float:left;
width:162px;
}


/* page title  */
#pagetitle {
padding-bottom:13px;
background:url(/lineup/common/images/pg_bg_02.gif) repeat-x bottom left;
position:relative;
}
#pagetitle h3 {
padding-top:15px;
}
.utility #pagetitle p, .spec #pagetitle p {
padding-top:14px;
}

#pagetitle p {
position:absolute;
top:0;
left:0;
width:888px;
text-align:right;
}

#pagetitle p.inpage {
position:absolute;
top:0;
left:0;
padding-top:14px;
width:662px;
text-align:right;
}
#pagetitle p.inpage_opt {
position:absolute;
top:0;
left:0;
padding-top:0px;
width:662px;
text-align:right;
}

/*-------------------*/

#mainLeft {
float:left;
padding-bottom:30px;
padding-top:16px;
width:210px;
}

#mainRight {
float:right;
width:662px;
}

.categoryTop #contentsArea {
padding-bottom:60px;
padding-top:30px;
}
#contentsArea {
padding-bottom:50px;
padding-top:30px;
}
.spec #contentsArea {
width:888px;
}

.leftBox, .rightBox, .pleft, .pright {
float:left;
}

#general .boxend {
margin-bottom:30px;
}
#general .paraend {
margin-bottom:15px;
}
#car_general .colorBox_Area .paraend {
margin-bottom:5px;
}

img.rightimg {
float:right;
}
#car_horizonArea {
padding:32px 0 0 0;
}
#car_horizonArea img {
vertical-align:bottom;
}
#car_horizonArea ul {
list-style-type:none;
}
#car_horizonArea ul li {
float:left;
}
#car_horizonArea ul.horizonMain {
border-bottom:4px solid #555;
}
#car_horizonArea ul.horizonMain li {
height:28px;
}
#car_horizonArea ul.horizonSub {
border-left:1px solid #ddd;
border-right:1px solid #ddd;
border-bottom:1px solid #ddd;
background:url(/lineup/common/images/pg_bg_03.gif) repeat-x top left #eee;
}
#car_horizonArea ul.horizonSub li {
height:31px;
margin:0 1px 0 0;
}

#fhlink_Area {
width:662px;
padding-top:10px;
}
#fhlink_Area p {
float:right;
margin-left:23px;
}

.caution_Block {
height:23px;
margin-top:25px;
padding-left:30px;
background:url(/lineup/common/images/lin_im_01.gif) no-repeat 0 0.15em;
}
div > .caution_Block {
height:auto;
min-height:23px;
}

/* acrobat banner */
.patAcrobat p {
float:left;
}

.patAcrobat p.left {
margin-right:12px;
}
.patAcrobat p.right {
width:300px;
}


/*１段組み*/
.layout1_Block {
padding-bottom:30px;
clear:both;
}
.layout1_Block p.img {
margin-bottom:15px;
}
.layout1_Block h4, .layout1_Block h5,
.layout2_Block h4, .layout2_Block h5,
.layout3_Block h4, .layout3_Block h5,
.layout4_Block h4, .layout4_Block h5 {
margin-bottom:25px;
}



/*２段組み*/
.layout2_Block {
line-height:1.5;
clear:both;
}

/*２、３段組み パターン系共通*/

.layout1_Block h4.htxt,.layout1_Block h5.htxt,
.layout2_Block h4.htxt,.layout2_Block h5.htxt,
.layout3_Block h4.htxt,.layout3_Block h5.htxt,
.layout4_Block h4.htxt,.layout4_Block h5.htxt, 
.layout5_Block h4.htxt,.layout5_Block h5.htxt {
margin-bottom:5px;
}


/*２段組み パターン系共通*/
.layout2_Block .pat1,.layout2_Block .pat2,.layout2_Block .pat3,.layout2_Block .pat4, .layout2_Block .pat7{
margin-bottom:30px;
} 

.layout2_Block .leftBox {
margin-right:16px;
width:323px;
}
.layout2_Block .rightBox {
width:323px;
}
.layout2_Block div.layout2_imgline {
width:662px;
}
.layout2_Block div.layout2_imgline p {
float:left;
margin-right:16px;
width:323px;
}
/*2 パターン1回り込み */

.layout2_Block .pat1 .rightImg {
float:right;
margin:0 0 16px 16px;
}
.layout2_Block .imgheader {
margin-bottom:0px;
padding-left:1em;
text-indent:-1em;
line-height:1.2;
}

/*2 パターン2*/
.layout2_Block .pat2 .leftBox,
.layout2_Block .pat2 .rightBox {
padding-bottom:15px;
}
.layout2_Block .pat2 p.img {
margin-top:10px;
}

/* 2画像横並び */
.layout2_Block .parallelImg p {
float:left;
}

/*2 パターン3*/
.layout2_Block .pat3 .pleft {
margin-right:10px;
width:156px;
}
.layout2_Block .pat3 .pright {
width:157px;
}

/*2 パターン4（シートアレンジ等） */
.layout2_Block .pat4 .leftBox,
.layout2_Block .pat4 .rightBox {
margin-bottom:30px;
}
.layout2_Block .pat4 p{
float:none;
width:auto;
margin-right:0px;
}
.layout2_Block .pat4 .pleft {
float:left;
margin-right:10px;
margin-top:10px;
width:115px;
}
.layout2_Block .pat4 .pright {
padding-left:130px;
padding-top:10px;
}

/*2 パターン5 （テキスト回り込み）*/
.layout2_Block .pat5 .rightImg {
float:right;
margin:0 0 16px 16px;
}

/*2 パターン6 （キャプション付テキスト回り込み）*/
.layout2_Block .pat6 .rightImgbox {
float:right;
margin:0 0 16px 16px;
}

/*2 パターン7 */
.layout2_Block .pat7 .leftBox {
margin-right:16px;
width:435px;
}
.layout2_Block .pat7 .rightBox {
width:435px;
}
.layout2_Block .pat7 p.img {
margin-bottom:15px;
}

/*2 cocochi */
.layout2_Block .cocochi {
/*width:212px;*/
}

.layout2_Block .imgheader {
margin-bottom:7px;
}

/**/
/*３段組み*/
.layout3_Block {
}
.layout3_Block .imgheader,.layout4_Block .imgheader {
margin-bottom:0px;
padding-left:1em;
text-indent:-1em;
line-height:1.2;
}
/*３段組み パターン系共通*/
.layout3_Block .layout3Box {
float:left;
margin-right:16px;
width:210px;
}
.layout3_Block .double .layout3_left,
.layout3_Block .double .layout3_center,
.layout3_Block .double .layout3_right {
margin-bottom:0;
}

.layout3_Block div.double {
float:left;
padding-bottom:25px;
margin-right:16px;
width:436px;
}

.layout3_Block .layout3_imgline {
margin-right:0;
padding-bottom:25px;
width:662px;
}
.layout3_Block .layout3_imgline p {
float:left;
margin-right:16px;
}


/*3 パターン2*/
.layout3_Block .pat2 {
margin-bottom:30px;
}
.layout3_Block .pat2 p {
padding-top:7px;
}
.layout3_Block .pat2 p.img {
margin-bottom:15px;
padding-top:0px;
}

/*3 パターン3 */
.layout3_Block .pat3 h4,.layout3_Block .pat3 h5 {
margin-bottom:15px;
}
.layout3_Block .pat3 p {
padding-top:0px;
}
.layout3_Block .pat3 p.img {
margin-bottom:15px;
padding-top:0px;
}
.layout3_Block .pat3 p.cocochiimg {
margin-bottom:15px;
padding-top:2px;
}

/*3 パターン4 */
.layout3_Block .pat4 {
margin-bottom:15px;
}

.layout3_Block .pat4 h4,.layout3_Block .pat4 h5 {
margin-bottom:15px;
}
.layout3_Block .pat4 p {
padding-top:0px;
}
.layout3_Block .pat4 p.img {
margin-bottom:15px;
padding-top:0px;
}


/*４段組み*/
/*４段組み パターン系共通*/
.layout4_Block {
}

.categoryTop .layout4_Block .bottomLine4 {
padding-bottom:1px;
background:url("/lineup/common/images/category_bg_04_b4.gif") no-repeat bottom left;
}
.categoryTop .layout4_Block .bottomLine4 .pat1 {
background:url("/lineup/common/images/category_bg_04_4.gif") repeat-y top left;
}
.categoryTop .layout4_Block .bottomLine3 {
padding-bottom:1px;
background:url("/lineup/common/images/category_bg_04_b3.gif") no-repeat bottom left;
}
.categoryTop .layout4_Block .bottomLine3 .pat1 {
background:url("/lineup/common/images/category_bg_04_3.gif") repeat-y top left;
}
.categoryTop .layout4_Block .bottomLine2 {
padding-bottom:1px;
background:url("/lineup/common/images/category_bg_04_b2.gif") no-repeat bottom left;
}
.categoryTop .layout4_Block .bottomLine2 .pat1 {
background:url("/lineup/common/images/category_bg_04_2.gif") repeat-y top left;
}
.categoryTop .layout4_Block .bottomLine1 {
padding-bottom:1px;
background:url("/lineup/common/images/category_bg_04_b1.gif") no-repeat bottom left;
}
.categoryTop .layout4_Block .bottomLine1 .pat1 {
background:url("/lineup/common/images/category_bg_04_1.gif") repeat-y top left;
}

/*
.categoryTop #contentsArea .layout4_Block .pat1 h4 ,.categoryTop #contentsArea .layout4_Block .pat1 h5{
border-top:solid 1px #e6e6e6;
margin:0;
padding:0 1px;
}*/

.categoryTop #contentsArea .layout4_Block .pat1 h4 ,.categoryTop #contentsArea .layout4_Block .pat1 h5{
border-top:none;
margin:0;
padding:0;
}
/**/

.categoryTop .layout4_Block {
margin-bottom:30px;
}

/*

.categoryTop .layout4_Block .pat1 div {
float:left;
width:210px;
margin-bottom:0;
margin-right:16px;
}

*/


.categoryTop .layout4_Block .pat1 div {
float:left;
width:208px;
margin-bottom:0;
margin-right:16px;
}

/* ----- */

/*
.categoryTop .layout4_Block .pat1 div .img {
border-bottom:solid 1px #e6e6e6;
border-top:solid 1px #e6e6e6;
margin:0;
padding:0 1px;
}*/

.categoryTop .layout4_Block .pat1 div .img {
border-bottom:solid 1px #e6e6e6;
border-top:solid 1px #e6e6e6;
margin:0;
padding:0;
}
/* --------------- 
.categoryTop .layout4_Block .pat1 div .txt {
padding:10px;
}*/

.categoryTop .layout4_Block .pat1 div .txt {
padding:10px;
}
/*------*/

.layout4_Block .pat1 div,
.layout4_Block .pat2 div,
.layout4_Block .pat3 div {
float:left;
width:154px;
margin-right:16px;
}
.layout4_Block .pat1 div.divcenter,.layout4_Block .pat2 div.divcenter {
width:153px;
}

.layout4_Block p {
padding-top:7px;
}
.layout4_Block p.img {
margin-bottom:15px;
padding-top:0px;
}


/*4 パターン2*/
.layout4_Block .pat2 {
margin-bottom:30px;
clear:left;
}

.layout4_Block .pat2 .double {
margin-right:16px;
width:322px;
}
.layout4_Block .pat2 .double h4 {
margin-bottom:16px;
}

.layout4_Block .pat2 .double div {
width:153px;
}

/**/

/*4 パターン3*/
.layout4_Block .pat3 {
margin-bottom:30px;
clear:left;
}

.layout4_Block .pat3 .double {
margin-right:16px;
width:323px;
}
.layout4_Block .pat3 .double h4 {
margin-bottom:16px;
}

.layout4_Block .pat3 .double div {
width:153px;
}

/**/

/*4 パターン4（スペックindex）*/
.layout4_Block .pat4 {
margin-bottom:30px;
clear:left;
}
.layout4_Block .pat4 div {
float:left;
width:210px;
margin-right:16px;
}

.layout4_Block .pat4 h4, .layout4_Block .pat4 h5 {
margin-bottom:0px;
}
.layout4_Block .pat4 div p {
padding:10px 5px 0;
}

/**/

/*4 パターン5*/
.layout4_Block .pat5 div  {
float:left;
width:210px;
margin-right:16px;
}
.layout4_Block .pat5 p {
padding-top:0px;
}



/*５段組み*/
/*5 パターン1*/
.layout5_Block .pat1 div {
float:left;
width:132px;
margin-bottom:30px;
margin-right:20px;
}
.layout5_Block .pat1 p.img {
margin-bottom:10px;
}
/**/
#general .mg_off {
margin:0;
padding:0;
}

#general .bottommg_off,
#general .layout3_Block .bottommg_off .layout3_left,
#general .layout3_Block .bottommg_off .layout3_center,
#general .layout3_Block .bottommg_off .layout3_right,
#general .layout4_Block .bottommg_off div {
margin-bottom:0;
padding-bottom:0;
}

#general .rightmg_off {
margin-right:0px;
}

/*グレーエリア（エンジン、環境仕様など）*/
.attention {
margin-top:8px;
}

.attention img {
float:left;
margin-right:8px;
margin-top:-2px;
}

.colorBox_Area {
padding-bottom:10px;
padding-top:10px;
background-color:#e6e6e6;

clear:both;
}
.grade .colorBox_Area {
background-color:#f5f5f5;
border:solid 1px #e6e6e6;

}
.colorBox_Area h4, .colorBox_Area h5 {
margin-bottom:15px;
}
.colorBox_Area h4.htxt, .colorBox_Area h5.htxt {
margin-bottom:5px;
}
.colorBox_Area .mainBox {
margin-left:10px;
margin-right:10px;
}
.colorBox_Area .mainBox dl {
clear:both;
}
.colorBox_Area .mainBox dt {
float:left;
width:130px;
}


.grade .colorBox_Area .mainBox dt {
float:left;
width:70px;
font-weight:bold;
}
.colorBox_Area .mainBox dd {
margin-left:130px;
}
.grade .colorBox_Area .mainBox dd {
margin-left:70px;
}

.grade .colorBox_Area .mainBox dl.spdl {
clear:none;
/*float:left;
width:320px;*/
}
.grade .colorBox_Area .mainBox dl.spdl dt {
clear:left;
float:left;
font-weight:normal;
}
.grade .colorBox_Area .mainBox dt.spdt1 {
width:4em;
width:4.4em;
}
.grade .colorBox_Area .mainBox dd.spdd1 {
margin-left:4em;
margin-left:4.4em;
}
.grade .colorBox_Area .mainBox dl.spdl dd {
margin-bottom:2px;
text-indent:-3px;
}
.grade .colorBox_Area .mainBox dl.spdl > dd {
text-indent:0;
}
.grade .colorBox_Area .mainBox dt.spdt2 {
width:6.4em;
}
.grade .colorBox_Area .mainBox dd.spdd2 {
margin-left:6.4em;
}

.grade .colorBox_Area .mainBox dt.spdt3 {
width:7.1em;
}
.grade .colorBox_Area .mainBox dl dd.spdd3 {
margin-left:7.1em;
}
.grade .colorBox_Area .mainBox dl > dt.spdt3 {
width:7.4em;
}
.grade .colorBox_Area .mainBox dl > dd.spdd3 {
margin-left:7.4em;
}

.grade .colorBox_Area .mainBox dt.spdt4 {
width:7.7em;
}
.grade .colorBox_Area .mainBox dd.spdd4 {
margin-left:7.7em;
}
.grade .colorBox_Area .mainBox dl > dt.spdt4 {
width:8.4em;
}
.grade .colorBox_Area .mainBox dl > dd.spdd4 {
margin-left:8.4em;
}

.grade .colorBox_Area .mainBox dt.spdt5 {
width:9.2em;
}
.grade .colorBox_Area .mainBox dd.spdd5 {
margin-left:9.2em;
}
.grade .colorBox_Area .mainBox dl > dt.spdt5 {
width:10.3em;
}
.grade .colorBox_Area .mainBox dl > dd.spdd5 {
margin-left:10.3em;
}

.grade .colorBox_Area .mainBox dt.spdt6 {
width:9.8em;
}
.grade .colorBox_Area .mainBox dd.spdd6 {
margin-left:9.8em;
}
.grade .colorBox_Area .mainBox dl > dt.spdt6 {
width:11.3em;
}
.grade .colorBox_Area .mainBox dl > dd.spdd6 {
margin-left:11.3em;
}

.grade .colorBox_Area .mainBox dt.spdt7 {
width:10.4em;
}
.grade .colorBox_Area .mainBox dd.spdd7 {
margin-left:10.4em;
}
.grade .colorBox_Area .mainBox dl > dt.spdt7 {
width:12.3em;
}
.grade .colorBox_Area .mainBox dl > dd.spdd7 {
margin-left:12.3em;
}

.grade .colorBox_Area .mainBox dt.spdt8 {
width:5em;
}
.grade .colorBox_Area .mainBox dd.spdd8 {
margin-left:5em;
}
.grade .colorBox_Area .mainBox dl > dt.spdt8 {
width:5.5em;
}
.grade .colorBox_Area .mainBox dl > dd.spdd8 {
margin-left:5.5em;
}



.colorBox_Area .rockford {
float:left;
margin-right:16px;
width:200px;
}

.colorBox_Area .layout2_Block .leftBox {
margin-right:16px;
width:313px;
}
.colorBox_Area .layout2_Block .rightBox {
width:313px;
}

.grade .colorBox_Area .mainBox ul {
float:left;
width:320px;
}

.grade .colorBox_Area .mainBox li {
list-style:none;
}


/* Option Accessory Catalogue */
.option .colorBox_Area .mainBox .acCatalogueLead {
margin-left:240px;
}
.option .colorBox_Area .mainBox .acCatalogueLead02 {
margin-left:160px;
}


.linkBox_Area {
padding-bottom:15px;
padding-top:15px;
width:888px;
background-color:#e6e6e6;
}
.linkBox_Area .linkBox,.linkBox_Area .accessory {
margin-left:15px;
margin-right:15px;
}
.linkBox_Area h4 {
width:400px;
}
.linkBox_Area .leftBox {
float:left;
width:663px;
}
.linkBox_Area .accessory .leftBox {
width:431px;
}
.linkBox_Area .leftBox p {
margin-top:5px;
line-height:1.5;
}
.linkBox_Area .rightBox {
float:left;
margin-top:0.7em;
width:175px;
}

.linkBox_Area .accessory .rightBox {
width:259px;
}


/* cocochi */
.layout2_Block .cocochi h5, .layout3_Block .cocochi h5 {
margin-bottom:5px;
}
.cocochi .lineBox {
padding:5px 4px;
border:solid 1px #d2d2d2;
}




/* グレード価格TOP */

.gradeTable {

}

.gradeTable h4, .gradeSelectTable h4 {
margin-bottom:1px;
padding:3px 0;
background-color:#333;
}
.gradeTable table {
width:888px;
margin-bottom:18px;
border:solid 1px #cccccc;
border-bottom:solid 2px #cccccc;
}
.gradeSelectTable table {
width:662px;
margin-bottom:18px;
border:solid 1px #cccccc;
border-bottom:solid 2px #cccccc;
}
.gradeTable table th,.gradeSelectTable table th {
border-left:solid 1px #fff;
font-weight:normal;
line-height:normal;
text-align:center;
}
.gradeTable table td, .gradeSelectTable table td {
border-left:dashed 1px #cccccc;
border-top:solid 2px #cccccc;
text-align:center;
}
.gradeTable table .secondLine td, .gradeSelectTable table .secondLine td {
border-top:solid 1px #cccccc;
}

.gradeTable table td.gradeName {
padding:0;
border-top:solid 2px #cccccc;
font-weight:bold;
}
.gradeSelectTable table td.gradeName {
padding:14px 0 12px 0;
border-top:solid 2px #cccccc;
font-weight:bold;
}
.gradeTable table td.gradePhoto {
padding-left:9px;
border-left:none;
background:none;
text-align:left;
}

.gradeSelectTable table td.gradePhoto {
border-left:none;
border-top:solid 2px #cccccc;
padding:14px 0 12px 5px;
background:none no-repeat center left;
text-align:left;
}


.gradeTable table .gradeName, .gradeSelectTable table .gradeName {
border-top:none;
border-left:none;
background:url(/lineup/common/images/pg_pt_05.gif) no-repeat center left;
}
.gradeTable table .gradeName span, .gradeSelectTable table .gradeName span {
display:block;
margin-left:12px;
}

/* グレード選択ナビ */
body.grade h4.othergradeTitle {
margin:30px 0 15px 0;
}


/* カラバリテーブル */

.colorTable h4 {
margin-bottom:1px;
padding:3px 0;
background-color:#333;
}
.colorTableLong table {
width:888px;
margin-bottom:18px;
border:solid 1px #cccccc;
border-bottom:solid 2px #cccccc;
}
.colorTable table {
width:662px;
margin-bottom:18px;
border:solid 1px #cccccc;
border-bottom:solid 2px #cccccc;
}
.colorTable table th ,.colorTableLong table th {
border-left:solid 1px #fff;
font-weight:normal;
line-height:normal;
}

.colorTable table td.leftborderoff, .colorTable table th.leftborderoff, .colorTableLong table td.leftborderoff, .colorTableLong table th.leftborderoff {
border-left:none;
}
 
.colorTable table td,.colorTableLong table td {
border-left:dashed 1px #cccccc;
border-top:solid 2px #cccccc;
text-align:center;
}
.colorTable table .secondLine td,.colorTableLong table .secondLine td {
border-top:solid 1px #cccccc;
}



/* グレード価格  */

.grade_Block {
margin-bottom:20px;
width:662px;
}
/*
.grade_Block .mainImgBox {
margin-bottom:1px;
}*/
.grade_Block .mainImgBox {
width:436px;
height:207px;
overflow:hidden;
margin-bottom:1px;
}

.grade_Block .mainImgBox p {
display:block;
}
.grade_Block .bodyColorBox {
margin-bottom:1px;
border-bottom:solid #ddd 1px;
border-top:solid #ddd 1px;
background:url(/lineup/common/images/gra_bg_01.gif) repeat-y top left;
}
.grade_Block .intColorBox {
margin-bottom:1px;
border-bottom:solid #ddd 1px;
border-top:solid #ddd 1px;
background:url(/lineup/common/images/gra_bg_02.gif) repeat-y top left;
}
.grade_Block .bodyColorBox, .grade_Block .intColorBox {
padding:7px 0 4px 0;
}
.grade_Block .half {
}

.grade_Block .gradeBoxLeft {
float:left;
margin-right:16px;
width:436px;
}
.grade_Block .gradeBoxRight {
float:left;
width:210px;
}
.grade_Block .inImgBox {
margin-bottom:1px;
}
.grade_Block .intColorBox .bcTitle {
float:left;
margin:0 8px 0 6px;
width:63px;
height:60px;
background:url(/lineup/common/images/gra_bg_05.gif) repeat-y top right;
}
.grade_Block .bodyColorBox .bcTitle {
float:left;
margin:0 8px 0 9px;
width:65px;
height:60px;
background:url(/lineup/common/images/gra_bg_05.gif) repeat-y top right;
}

.grade_Block .half .bcTitle {
height:33px;
}

.grade_Block .btBox p {
margin-bottom:3px;
}

.grade_Block ul {
margin-top:2px;
}
.grade_Block ul, .grade_Block li {
list-style:none;
}
.grade_Block li {
display:inline;
}

.grade_Block p.pr_anlink {
margin-top: 10px;
}


/* グレード価格　グレード装備詳細 */
.grade .specLinkBox_Area {
background-color:#f5f5f5;
border:solid 1px #e6e6e6;
padding:10px;
clear:both;
}

.grade .specLinkBox_Area .leftBox {
float:left;
}
.grade .specLinkBox_Area .rightBox {
float:none;
margin:0 0 0 177px;
}

/* グレード価格　装備一覧 */

.rowline {
float:left;
margin-right:16px;
width:210px;
}

.gradeEquipTitle {
margin-bottom:25px;
width:662px;
}

.gradeEquipTitle p.specbt {
float:right;
width:104px;
text-align:right;
}

.gradeEquipTitle h4 {
float:left;
margin-right:20px;
width:144px;
}

.gradeEquip {
width:662px;
}

.EquipBlock {
margin-bottom:20px;
background:url(/lineup/common/images/gra_bg_03.gif) repeat-y top left;
}

.EquipBase {
margin:0 10px;
}

#allbt {
float:left;
margin-top:2px;
}

.EquipBase div {
float:right;
margin:9px 0 0 0px;
}

.EquipBox p {
float:left;
margin:9px 0 0 0px;
}
.EquipBlock ul, .EquipBlock li {
margin:0;
list-style:none;
}
.EquipBlock li {
float:left;
width:210px;
padding:5px 0;
border-bottom:solid #eee 1px;
}
.EquipBlock li p {
margin:0 10px;
}

.EquipBox {
margin:0 1px;
height:33px;
background:url(/lineup/common/images/gra_bg_04.gif) no-repeat top left;
}

.eqlist {
display:none;
}

/*----*/
/*-- print --*/
.print {
cursor:pointer;
}


.lineBlock {
padding:10px;
border:solid 1px #d2d2d2;
}

.grade .lineBlock {
margin-bottom:15px;
}



/* redirect */
.redirectBlock {
padding:200px 50px;
text-align:center;
}


/* request */

.reqBlock div {
float:left;
margin-right:15px;
margin-bottom:15px;
width:286px;
}
.reqBlock div.btcenter {
width:285px;
}
.reqBlock div p {
padding:10px 5px 0;
}

/* color */
.clTableheader {
position:relative;
margin-bottom:15px;
}
.clTableheader h5 {
position:absolute;
top:0;
left:0;
}
.clTableheader p {
text-align:right;
}


/* boxover */
div.boxover {
border:1px solid #e6e6e6;
}
div.boxover:hover {
border-color:#ef0041;
cursor:pointer;
}
div.boxovero {
border:1px solid #ef0041;
cursor:pointer;
}

/* outerLink */
div#car_contents div.linkStd {
margin-top:5px;
clear:both;
}
div#car_contents div.linkStd p {
margin-top:3px;
}
div#car_contents div.linkStd p span {
display:block;
padding-left:14px;
background:url(/share/images/arrow04.gif) no-repeat 0 0.25em;
}
div#car_contents div.right p span {
float:right;
}
div#car_contents div.linkStd p a {
line-height:1.4;
}


/**/
th.clh {
background:#ccc;
}

td.clh {
background:#aaa;
border-right:1px solid #fff;
}


/* ecocar */


.ecocar_icon {
float:right;
margin-left:15px;
}

.ecoBlock .lineBlock{
border:solid 1px #006600 !important;
}


.eco_bg {
background:#DAEABC;
}


.newcl {
position:absolute;
top:4px;
left:4px;
}