

/* grade */

.ecocarIcon {
	vertical-align:middle;
	margin-right:5px;
}

.grade_cap {
	font-size: 70%;
}

/* performance */

span.point_num img {
	padding-right:1px;
	vertical-align:bottom;
}

span.battery_icon {
	font-size: 100%;
}

span.battery_icon img {
	padding-right: 5px;
	vertical-align: middle;
}


/* utility */

table.normal th.green {
	background:#3db270;
	color:#fff;
}

/* ----------------------------- */
/* block 2_a						*/
/* ----------------------------- */

.layoutBlock2_a {
margin-top:29px;
margin-right:-30px;
width:950px;
}

.layoutBlock2_a .box1 {
float:left;
margin-right:30px;
width:604px;
position:relative;
}
.layoutBlock2_a .box2 {
float:left;
margin-right:30px;
width:286px;
position:relative;
}
.layoutBlock2_a .httl {
margin:0 0 15px;
}
.layoutBlock2_a .boxTtl {
margin:0 0 17px !Important;
}
.layoutBlock2_a .boxTtl .httl {
margin:0;
}

/* ----------------------------- */
/* block 2_b                                            */
/* ----------------------------- */

.layoutBlock2_b {
margin-top:29px;
margin-right:-30px;
width:950px;
}

.layoutBlock2_b .box1 {
float:left;
margin-right:30px;
width: 97%;
position:relative;
}
.layoutBlock2_b .box2 {
float:left;
margin-right:30px;
width:300px;
position:relative;
}
.layoutBlock2_b .httl {
margin:0 0 15px;
}
.layoutBlock2_b .boxTtl {
margin:0 0 17px !Important;
}
.layoutBlock2_b .boxTtl .httl {
margin:0 20px 0 0;
}


.minHight0 {
        min-height: 0 !important;
}


#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#cboxOverlay{background:#000;}
#colorbox{}
#cboxContent{margin-top:32px; overflow:visible;}
.cboxIframe{background:#000;}
#cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{background:#000; padding:1px;}
        #cboxLoadingGraphic{background:url(/special/component/images/mmtv/loading.gif) no-repeat center center;}
        #cboxLoadingOverlay{background:#000;}
        #cboxTitle{position:absolute; top:-22px; left:0; color:#000;}
        #cboxCurrent{position:absolute; top:-22px; right:205px; text-indent:-9999px;}
        #cboxSlideshow, #cboxPrevious, #cboxNext, #cboxClose{text-indent:-9999px; width:20px; height:20px; position:absolute; top:-20px; background:url(/special/component/images/mmtv/controls.png) no-repeat 0 0;}
        #cboxPrevious{background-position:0px 0px; right:44px;}
        #cboxPrevious:hover{background-position:0px -25px;}
        #cboxNext{background-position:-25px 0px; right:22px;}
        #cboxNext:hover{background-position:-25px -25px;}
        #cboxClose{background-position:-50px 0px; right:0;}
        #cboxClose:hover{background-position:-50px -25px;}
        .cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious{right:66px;}
        .cboxSlideshow_on #cboxSlideshow{background-position:-75px -25px; right:44px;}
        .cboxSlideshow_on #cboxSlideshow:hover{background-position:-100px -25px;}
        .cboxSlideshow_off #cboxSlideshow{background-position:-100px 0px; right:44px;}
        .cboxSlideshow_off #cboxSlideshow:hover{background-position:-75px -25px;}
