<link type="text/css" href="/component/css/jquery.jscrollpane.css" rel="stylesheet" media="all" />
<script type="text/javascript" src="/announce/js/announce.js"></script>
<script type="text/javascript" src="/component/parts/navi_data.js"></script>
<script type="text/javascript" src="/component/parts/information_data.js"></script>
<div id="now_loading" style="text-align:center;margin-top:50px;">Now Loading･･･</div>
<div id="footer_container" style="display:none;">
	<p class="line"><img src="/component/images/line/bg_ft_naviLine.jpg" alt="" /></p>
<p style="margin:25px 0; text-align:center; font-size:125%; border-bottom:1px solid; padding-bottom:20px;">燃費不正問題について、多大なるご迷惑とご心配をお掛けしておりますことを深くお詫び申し上げます。<br />
最新のお知らせは<a href="http://www.mitsubishi-motors.com/important/detailg420_jp/index.html" target="_blank" style="color:#666; text-decoration:underline;">こちら</a>をご覧ください</p>
<p style="margin:25px 0; text-align:center; font-size:125%;">このたびの熊本で発生した地震により被災された皆様に、謹んでお見舞い申し上げます。</p>
	<ul id="ftNavi"></ul>
	<div class="ft_page_rssBox">
<div class="ft_announceBox" style="display:none;">
<p class="ft_announceImgTit"><img src="/component/images/title/ft_tit_notice.gif" alt="" width="44" height="12" /></p>
<ul>
<li id="announce_tt"></li>
<li style="display:none;" id="announce_tt2"></li>
<li style="display:none;" id="announce_tt3"></li>
</div>
		<div class="page_rssBox"><!--Need for News-->
			<p class="page_rssTit"><img src="/component/images/title/tit_release.gif" alt="プレスリリース" /><span><a href="/component/documents/news_releases.xml"><img src="/component/images/icon/icon_rss.gif" alt="RSS" width="12" height="12" border="0" /></a></span></p>
				<div class="top_frames"><p><ul id="release_info"></ul></p></div>
		</div><!--/page_rssBox-->
		<div class="page_rssBox"><!--Need for News-->
			<p class="page_rssTit"><img src="/component/images/title/tit_message.gif" alt="新着情報" /><span><a href="/component/documents/news_message.xml"><img src="/component/images/icon/icon_rss.gif" alt="RSS" width="12" height="12" border="0" /></a></span></p>
				<div class="top_frames"><p><ul id="message_info"></ul></p></div>
		</div><!--/page_rssBox-->
	</div><!--/ft_page_rssBox-->
	<div class="ft_jsBox">
		<div class="ft_infoImgBox">
			<p class="ft_infoImgTit"><img src="/component/images/title/ft_tit_information.gif" alt="インフォメーション" /></p>
			<div class="coda-slider-wrapper">
				<div class="coda-slider preload" id="coda-slider-1">
					<div class="panel">
						<div class="panel-wrapper" id="info_img1"></div>
					</div>
					<div class="panel">
						<div class="panel-wrapper" id="info_img2"></div>
					</div>
					<div class="panel">
						<div class="panel-wrapper" id="info_img3"></div>
					</div>
					<div class="panel">
						<div class="panel-wrapper" id="info_img4"></div>
					</div>
					<div class="panel">
						<div class="panel-wrapper" id="info_img5"></div>
					</div>
				</div><!-- .coda-slider -->
			</div><!-- .coda-slider-wrapper -->
		</div><!--/ft_infoImgBox-->
		<div class="ft_topicBox">
			<p class="ft_topicImgTit"><img src="/component/images/title/ft_tit_topic.gif" alt="トピックス" /></p>
			<div class="ft_topicBoxIn">
				<div class="coda-slider-wrapper">
					<div class="coda-slider preload" id="coda-slider-2">
						<div class="panel">
							<div class="panel-wrapper">
								<p><ul class="ft_topicList01" id="topic_img1"></ul></p>
							</div>
						</div>
						<div class="panel">
							<div class="panel-wrapper">
								<p><ul class="ft_topicList01" id="topic_img2"></ul></p>
							</div>
						</div>
						<div class="panel">
							<div class="panel-wrapper">
								<p><ul class="ft_topicList01" id="topic_img3"></ul></p>
							</div>
						</div>
						<div class="panel">
							<div class="panel-wrapper">
								<p><ul class="ft_topicList01" id="topic_img4"></ul></p>
							</div>
						</div>
					</div><!-- .coda-slider -->
				</div><!-- .coda-slider-wrapper -->
			</div><!--/ft_sitemapBoxIn-->
		</div><!--/ft_sitemapBox-->
		<div class="ft_accessBox">
			<p class="ft_accessImgTit"><img src="/component/images/title/ft_tit_access.gif" alt="アクセスランキング" width="94" height="12" /></p>
			<div class="ft_accessBoxIn">
				<div class="ft_accessList01">
					<div>
						<p><img src="/component/images/rank/ico_rank01.jpg" alt="rank1" width="21" height="34" /></p>
						<p><a href="http://www.mitsubishi-motors.co.jp/delica_d5/index.html?intcid2=p_to_na_la1_201610"><img src="/component/images/top/car_delicad5_s.jpg" alt="デリカD:5" width="136" height="34" /></a></p>
					</div>
					
					<div>
						<p><img src="/component/images/rank/ico_rank02.jpg" alt="rank2" width="21" height="34" /></p>
						<p><a href="http://www.mitsubishi-motors.co.jp/pajero/index.html?intcid2=p_to_na_la2_201610"><img src="/component/images/top/car_pajero_s.jpg" alt="パジェロ" width="136" height="34" /></a></p>
					</div>

					<div>
						<p><img src="/component/images/rank/ico_rank03.jpg" alt="rank3" width="21" height="34" /></p>
						<p><a href="http://www.mitsubishi-motors.co.jp/outlander_phev/index.html?intcid2=p_to_na_la3_201610"><img src="/component/images/top/car_outlanderphev_s.jpg" alt="アウトランダーPHEV" width="136" height="34" /></a></p>
					</div>

					<div>
						<p><img src="/component/images/rank/ico_rank04.jpg" alt="rank4" width="21" height="34" /></p>
						<p><a href="http://www.mitsubishi-motors.co.jp/outlander_gasoline/index.html?intcid2=p_to_na_la4_201610"><img src="/component/images/top/car_outlander_s.jpg" alt="アウトランダー" width="136" height="34" /></a></p>
					</div>

					<div>
						<p><img src="/component/images/rank/ico_rank05.jpg" alt="rank5" width="21" height="34" /></p>
						<p><a href="http://www.mitsubishi-motors.co.jp/delica_d2/index.html?intcid2=p_to_na_la5_201610"><img src="/component/images/top/car_delicad2_s.jpg" alt="デリカ:2" width="136" height="34" /></a></p>
					</div>
				</div>
				<p class="ft_accessCaption">対象期間 10/1～10/31</p>
			</div><!--/ft_accessIn-->
		</div><!--/ft_sitemapBox-->
	</div><!--/ft_jsBox-->
	
	<div class="ft_noticeBox">
			<p class="ft_noticeImgTit"><img src="/component/images/title/ft_tit_notice.gif" alt="お知らせ" width="44" height="12" /></p>
			<ul>
			<li style="background: url(/component/images/icon/ico_arrow01.gif) 14px 0.45em no-repeat;"><a href="/support/recall/information/" target="_blank"><span style="font-weight:bold;">タカタ製エアバッグリコールに関する大切なお知らせ（2016年11月30日）</span></a></li>
			<li style="background: url(/component/images/icon/ico_arrow01.gif) 14px 0.45em no-repeat;"><a href="http://www.mitsubishi-motors.co.jp/important_news/20160225/index.html" target="_blank"><span style="font-weight:bold;">12型i-MiEV、ミニキャブ・ミーブ バンと一部NEC製普通充電器の充電不具合について（2016年8月26日）</span></a></li>
			<li style="background: url(/component/images/icon/ico_arrow01.gif) 14px 0.45em no-repeat;"><span style="font-weight:bold;">ただ今、サーバーメンテナンスを行っています。その間、「愛着力サイト」など一部コンテンツはご利用いただけません。（2016年7月1日）</span></li>
			<li style="background: url(/component/images/icon/ico_arrow01.gif) 14px 0.45em no-repeat;"><a href="/important_news/20160613/index.html" target="_blank"><span style="font-weight:bold;">アウトランダーPHEV三菱リモートコントロールへの第三者によるアクセスに関するお知らせ（2016年6月13日）</span></a></li>
			</ul>
	</div><!--/ft_jsBox-->
    
<script type="text/javascript" src="/component/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/component/js/jquery.coda-slider-2.0.js"></script>
<script type="text/javascript" src="/component/js/jquery.coda-slider-2.0.2.js"></script>
<script type="text/javascript">
			$().ready(function() {
				$('#coda-slider-1').codaSlider();
			});
			$().ready(function() {
				$('#coda-slider-2').codaSlider_def();
			});
</script>
<script type="text/javascript" src="/component/js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="/component/js/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="/component/js/scroll.set.js"></script>
<script type="text/javascript" src="/component/js/ft_parts.js"></script>
	<div class="ft_copyright">
		<ul class="clearfix">
			<li><a href="/sitemap/">サイトマップ</a></li>
			<li><a href="/privacy/">個人情報保護方針</a></li>
			<li><a href="/privacy2/">特定個人情報基本方針</a></li>
			<li><a href="/usage/">サイトのご利用について</a></li>
			<li><a href="http://www.mitsubishi-motors.com/jp/corporate/recruit/" target="_blank">採用情報</a></li>
			<li><a href="/reference/index.html">お問い合わせ</a></li>
		</ul>
		<p>(c) Mitsubishi Motors Corporation. All rights reserved.</p>
	</div><!--/ft_copyright-->

</div><!--/footer_container-->
