<li><span>お知らせ</span><a href="/support/recall/information/" target="_blank">タカタ製エアバッグリコールに関する大切なお知らせ（2016年11月30日）</a></li>
<li><span>2016年11月24日</span><a href="http://recall.mitsubishi-motors.co.jp/Recall/displayselect.do?orderno=13935" target="_blank">デリカD:5、パジェロ、ランサー、アイ、i-MiEVの助手席用エアバッグについて</a></li>
<li><span>2016年11月24日</span><a href="http://recall.mitsubishi-motors.co.jp/Recall/displayselect.do?orderno=13936" target="_blank">RVRのテールゲートについて</a></li>
<li><span>2016年11月18日</span><a href="http://recall.mitsubishi-motors.co.jp/Recall/displayselect.do?orderno=SC173" target="_blank">ミニキャブ、タウンボックスのメンテナンスノートについて</a></li>
<li><span>2016年11月04日</span><a href="http://recall.mitsubishi-motors.co.jp/Recall/displayselect.do?orderno=13918" target="_blank">アウトランダー、アウトランダーPHEVのボデーについて</a></li>
<li><span>2016年11月04日</span><a href="http://recall.mitsubishi-motors.co.jp/Recall/displayselect.do?orderno=SC174" target="_blank">i-MiEVの助手席側ドアミラーについて</a></li>
<li><span>2016年11月01日</span><a href="http://recall.mitsubishi-motors.co.jp/Recall/displayselect.do?orderno=13926" target="_blank">アウトランダーのフロントワイパーについて</a></li>
<li><span>2016年11月01日</span><a href="http://recall.mitsubishi-motors.co.jp/Recall/displayselect.do?orderno=13927" target="_blank">RVRのフロントワイパーについて</a></li>
