<li><span>お知らせ</span><a href="http://www.mitsubishi-motors.co.jp/support/recall/others/detail/20.html" target="_blank">三菱自動車純正用品 MiEV power BOXの自主改善の実施について</a></li>
<li><span>お知らせ</span><a href="http://www.mitsubishi-motors-carlife.com/news/121201/recall_info_121201_02.html" target="_blank">｢リチャージブルLEDライト｣の自主改善の実施について</a></li>
<li><span>お知らせ</span><a href="http://www.mitsubishi-motors-carlife.com/news/121201/recall_info_121201_01.html" target="_blank">｢サイクルアタッチメント｣の自主改善の実施について</a></li>
<li><span>2016年05月20日</span><a href="http://www.mitsubishi-motors.co.jp/support/download/index.html">『ナビゲーション更新データ』の「楽曲情報ダウンロード」（MMCS/MMES  HDDナビゲーション）を更新しました。</a></li>
