<li><table style="border-style:none;margin-top:0;"><tr><td valign="top" style="width:9.5em;border-style:none;padding:0;">2015年03月12日</td><td style="border-style:none;padding:0;">コンセプトカー「MITSUBISHI Concept XR-PHEV II」を追加しました。</td></tr></table></li>
<li><table style="border-style:none;margin-top:0;"><tr><td valign="top" style="width:9.5em;border-style:none;padding:0;">2014年10月16日</td><td style="border-style:none;padding:0;">「パイクスピークチャレンジ2014 ダイジェスト動画」を追加しました。</td></tr></table></li>
<li><table style="border-style:none;margin-top:0;"><tr><td valign="top" style="width:9.5em;border-style:none;padding:0;">2014年09月16日</td><td style="border-style:none;padding:0;">「パイクスピークチャレンジ2012～2014 ダイジェスト動画」を追加しました。</td></tr></table></li>
<li><table style="border-style:none;margin-top:0;"><tr><td valign="top" style="width:9.5em;border-style:none;padding:0;">2014年08月08日</td><td style="border-style:none;padding:0;">「三菱自動車 パイクスピークチャレンジ2014 ダイジェスト動画とオンボードカメラ動画」を追加しました。</td></tr></table></li>
<li><table style="border-style:none;margin-top:0;"><tr><td valign="top" style="width:9.5em;border-style:none;padding:0;">2013年10月01日</td><td style="border-style:none;padding:0;">「アジアクロスカントリーラリー ハイライトムービー」を追加しました。</td></tr></table></li>
