<li class="new"><span>2015年07月17日</span><a href="http://www.mitsubishi-motors.co.jp/reference/inq_model.html">『車種別のお問い合わせ』 ランサーエボリューションファイナルエディションの情報を追加。</a></li>
<li class="new"><span>2015年07月16日</span><a href="http://www.mitsubishi-motors.co.jp/reference/inq_model.html">『車種別のお問い合わせ』 パジェロの情報を更新。</a></li>
<li><span>2015年06月18日</span><a href="http://www.mitsubishi-motors.co.jp/reference/inq_model.html">『車種別のお問い合わせ』 アウトランダーＰＨＥＶの情報を更新。</a></li>
<li><span>2015年06月18日</span><a href="http://www.mitsubishi-motors.co.jp/reference/inq_model.html">『車種別のお問い合わせ』 アウトランダーの情報を更新。</a></li>
<li><span>2015年05月29日</span><a href="http://www.mitsubishi-motors.co.jp/reference/vcfaq/cm/index.html">『一般的なお問い合わせ』 CMについて、デリカD:2とミラージュのCM情報を更新。</a></li>
