@charset "Shift_JIS";


/* ------------------------------------------------- */
/* shared setting */
/* ------------------------------------------------- */

div,
dl,dt,dd,
ul,ol,li,
h1,h2,h3,h4,h5,h6,
pre,a,
th,td {
	margin         : 0;
	padding        : 0;
	text-decoration: none;
	font-style     : normal;
}

ul li {
	list-style-type: none;
}

img {
	border         : none;
}

#contentsWrapper {
	text-align       : center;
}

#contentsBase {
	text-align       : left;
	margin           : 0 auto;
	width            : 920px;
	border-left      : 1px solid #dddddd;
	border-right     : 1px solid #dddddd;
	line-height      : 1.5;
}

h1 {
	position         : relative;
}

#mainContents {
	padding          : 0px 30px;
	width            : 860px;
}

* html #mainContents {
	width            : 920px;
}

#mainContents .ctn {
	margin-bottom    : 40px;
}

#mainContents .ctn p {
	padding-bottom    : 10px;
	color            : #333333;
	font-size        : 75%;
}


/* ------------------------------------------------- */
/* wallpaper */
/* ------------------------------------------------- */

#contentsBase .wallpaper {
	padding          : 65px 30px 40px;
	position         : relative;
}

#contentsBase .wallpaper .kawasemi {
	position         : absolute;
	top              : 0px;
	right            : 0px;
	z-index          : 10;
}

#contentsBase .wallpaper .download {
	padding          : 0 25px;
}

#contentsBase .wallpaper .download .wp01,
#contentsBase .wallpaper .download .wp02 {
	width            : 358px;
}

#contentsBase .wallpaper .download .wp01,
#contentsBase .wallpaper .download .btn .s {
	float            : left;
}

#contentsBase .wallpaper .download .wp02,
#contentsBase .wallpaper .download .btn .b {
	float            : right;
}

#contentsBase .wallpaper .download .sample {
	display          : block;
	margin-bottom    : 35px;
}

#contentsBase .wallpaper .download .btn .s,
#contentsBase .wallpaper .download .btn .b {
	width            : 169px;
	display          : block;
}

#contentsBase .wallpaper h3 {
	font-size        : 75%;
	margin-bottom    : 3px;
}

#contentsBase .wallpaper .ex {
	border           : 1px solid #e6e6e6;
	padding          : 15px 15px 0px;
	font-size        : 83%;
	margin-bottom    : 0;
}

#mainContents.wallpaper .ex p {
	padding-bottom    : 15px;
}

#mainContents.wallpaper .ex p strong {
	display          : block;
}

#mainContents.wallpaper .ex p span {
	display          : block;
	margin-left      : 1em;
	text-indent      : -1em;
}


/* clear ****************************************/

#contentsBase .wallpaper .download:after,
#contentsBase .wallpaper .download .btn:after
{content:" "; height:0px; clear:both; visibility:hidden; display:block;}

#contentsBase .wallpaper .download,
#contentsBase .wallpaper .download .btn
{display :inline-block;}

/*\*/
* html #contentsBase .wallpaper .download,
* html #contentsBase .wallpaper .download .btn
{height:1%;}

#contentsBase .wallpaper .download,
#contentsBase .wallpaper .download .btn
{display:block;}
/*/*/