

.ctrlBox .dl1 {
margin-bottom:15px;
font-size:80%;
}

.ctrlBox .dl1 dt {
clear:both;
float:left;
width:150px;
border:none;
}

.ctrlBox .dl1 dd {
margin-left:150px;
border:none;
}

.ctrlBox .dl2 {
font-size:80%;

}

.ctrlBox .dl2 dt {
clear:both;
float:left;
width:65px;
padding-left:15px;
}
.ctrlBox .dl2 .dt1 {
background:url(../images/r.gif) no-repeat center left;
}
.ctrlBox .dl2 .dt2 {
background:url(../images/c.gif) no-repeat center left;
}
.ctrlBox .dl2 .dt3 {
background:url(../images/f.gif) no-repeat center left;
}

.ctrlBox .dl2 dd {
margin-left:90px;
}

.timerBox .boxA {
float:left;
margin-right:10px;
width:205px;
background:url(../images/per04_im_09.gif) no-repeat top left;
}
.timerBox .boxC {
float:left;
width:205px;
background:url(../images/per04_im_10.gif) no-repeat top left;
}
.timerBox .boxB {
float:left;
margin-right:10px;
width:205px;
background:url(../images/per04_im_11.gif) no-repeat top left;
}
.timerBox h5,
.timerBox .boxA p,
.timerBox .boxB p,
.timerBox .boxC p {
padding-left:35px;
}

