@charset "utf-8";
/* =Default







-------------------------------------------------------------- */

/* ---------------------------------------------
	preset margin 
--------------------------------------------- */
.mt00 { margin-top:  0   !important;}
.mt05 { margin-top:  5px !important;}
.mt10 { margin-top: 10px !important;}
.mt12 { margin-top: 12px !important;}
.mt15 { margin-top: 15px !important;}
.mt20 { margin-top: 20px !important;}
.mt25 { margin-top: 25px !important;}
.mt30 { margin-top: 30px !important;}
.mt35 { margin-top: 35px !important;}
.mt40 { margin-top: 40px !important;}
.mt45 { margin-top: 45px !important;}
.mt50 { margin-top: 50px !important;}

.mr00 { margin-right:  0   !important;}
.mr05 { margin-right:  5px !important;}
.mr10 { margin-right: 10px !important;}
.mr12 { margin-right: 12px !important;}
.mr15 { margin-right: 15px !important;}
.mr20 { margin-right: 20px !important;}
.mr25 { margin-right: 25px !important;}
.mr30 { margin-right: 30px !important;}
.mr35 { margin-right: 35px !important;}
.mr40 { margin-right: 40px !important;}
.mr45 { margin-right: 45px !important;}
.mr50 { margin-right: 50px !important;}
.mr70 { margin-right: 70px !important;}
.mr80 { margin-right: 80px !important;}

.mb00 { margin-bottom:  0   !important;}
.mb05 { margin-bottom:  5px !important;}
.mb10 { margin-bottom: 10px !important;}
.mb12 { margin-bottom: 12px !important;}
.mb15 { margin-bottom: 15px !important;}
.mb18 { margin-bottom: 18px !important;}
.mb20 { margin-bottom: 20px !important;}
.mb25 { margin-bottom: 25px !important;}
.mb30 { margin-bottom: 30px !important;}
.mb35 { margin-bottom: 35px !important;}
.mb40 { margin-bottom: 40px !important;}
.mb45 { margin-bottom: 45px !important;}
.mb50 { margin-bottom: 50px !important;}
.mb60 { margin-bottom: 60px !important;}
.mb70 { margin-bottom: 70px !important;}

.ml00 { margin-left:  0   !important;}
.ml05 { margin-left:  5px !important;}
.ml10 { margin-left: 10px !important;}
.ml12 { margin-left: 12px !important;}
.ml15 { margin-left: 15px !important;}
.ml20 { margin-left: 20px !important;}
.ml25 { margin-left: 25px !important;}
.ml30 { margin-left: 30px !important;}
.ml35 { margin-left: 35px !important;}
.ml40 { margin-left: 40px !important;}
.ml45 { margin-left: 45px !important;}
.ml50 { margin-left: 50px !important;}
.ml60 { margin-left: 60px !important;}
.ml70 { margin-left: 70px !important;}


/* ---------------------------------------------
	preset padding 
--------------------------------------------- */
.pt00 { padding-top:  0   !important;}
.pt05 { padding-top:  5px !important;}
.pt10 { padding-top: 10px !important;}
.pt12 { padding-top: 12px !important;}
.pt15 { padding-top: 15px !important;}
.pt20 { padding-top: 20px !important;}
.pt25 { padding-top: 25px !important;}
.pt30 { padding-top: 30px !important;}
.pt35 { padding-top: 35px !important;}
.pt40 { padding-top: 40px !important;}
.pt45 { padding-top: 45px !important;}
.pt50 { padding-top: 50px !important;}

.pr00 { padding-right:  0   !important;}
.pr05 { padding-right:  5px !important;}
.pr10 { padding-right: 10px !important;}
.pr12 { padding-right: 12px !important;}
.pr15 { padding-right: 15px !important;}
.pr20 { padding-right: 20px !important;}
.pr25 { padding-right: 25px !important;}
.pr30 { padding-right: 30px !important;}
.pr35 { padding-right: 35px !important;}
.pr40 { padding-right: 40px !important;}
.pr45 { padding-right: 45px !important;}
.pr50 { padding-right: 50px !important;}

.pb00 { padding-bottom:  0   !important;}
.pb05 { padding-bottom:  5px !important;}
.pb10 { padding-bottom: 10px !important;}
.pb12 { padding-bottom: 12px !important;}
.pb15 { padding-bottom: 15px !important;}
.pb20 { padding-bottom: 20px !important;}
.pb25 { padding-bottom: 25px !important;}
.pb30 { padding-bottom: 30px !important;}
.pb35 { padding-bottom: 35px !important;}
.pb40 { padding-bottom: 40px !important;}
.pb45 { padding-bottom: 45px !important;}
.pb50 { padding-bottom: 50px !important;}

.pl00 { padding-left:  0   !important;}
.pl05 { padding-left:  5px !important;}
.pl10 { padding-left: 10px !important;}
.pl12 { padding-left: 12px !important;}
.pl15 { padding-left: 15px !important;}
.pl20 { padding-left: 20px !important;}
.pl25 { padding-left: 25px !important;}
.pl30 { padding-left: 30px !important;}
.pl35 { padding-left: 35px !important;}
.pl40 { padding-left: 40px !important;}
.pl45 { padding-left: 45px !important;}
.pl50 { padding-left: 50px !important;}


/* ---------------------------------------------
	inline align
--------------------------------------------- */
.inlineL { text-align: left;}
.inlineC { text-align: center;}
.inlineR { text-align: right;}


/* ---------------------------------------------
	vertical align
--------------------------------------------- */
.vlineT { vertical-align: top    !important;}
.vlineM { vertical-align: middle !important;}
.vlineB { vertical-align: bottom !important;}


/* ---------------------------------------------
	6 - preset width
--------------------------------------------- */
.wHalf  { width: 48%;}
.wTri   { width: 33%;}
.wQuart { width: 24%;}
.wFull  { width: 99.9%;}
.wMax   { width: 100%;}

/* table */
.tw03 { width:  3% !important;}
.tw05 { width:  5% !important;}
.tw10 { width: 10% !important;}
.tw13 { width: 13% !important;}
.tw15 { width: 15% !important;}
.tw20 { width: 20% !important;}
.tw25 { width: 25% !important;}
.tw30 { width: 30% !important;}
.tw35 { width: 35% !important;}
.tw40 { width: 40% !important;}
.tw45 { width: 45% !important;}
.tw50 { width: 50% !important;}


/* ---------------------------------------------
	5 - float
--------------------------------------------- */
.fltL {
	display: inline;
	float: left;
}
.fltR {
	display: inline;
	float: right;
}
.ft {
	overflow: hidden;
	zoom: 1;
}


/* ---------------------------------------------
	imgBox 
--------------------------------------------- */
.imgBoxL,
.imgBoxR {
	display: block;
	min-height: 1%;
}
.imgBoxL:after,
.imgBoxR:after {
	clear: both;
	content:".";
	display: block;
	height: 0;
	visibility: hidden;
}
* html .imgBoxL,
* html .imgBoxR {
	height: 1%;
	/*\*//*/
	height: auto;
	overflow: hidden;
	/**/
}
	.imgBoxL .fltImg {
		display: inline;
		float: left;
		margin-right: 10px;
	}
	.imgBoxR .fltImg {
		display: inline;
		float: right;
		margin-left: 10px;
	}


/* ---------------------------------------------
	4 - clearfix
--------------------------------------------- */
.clearfix {
	display: block;
	min-height: 1%;
}
.clearfix:after {
	clear: both;
	content:".";
	display: block;
	height: 0;
	visibility: hidden;
}
* html .clearfix {
	height: 1%;
	/*\*//*/
	height: auto;
	overflow: hidden;
	/**/
}


/* ---------------------------------------------
	block align
--------------------------------------------- */
.blockC { text-align: center;}
	.blockC .block {
		margin-right: auto;
		margin-left: auto;
		text-align: left;
	}
	/* ie 6 Fix */
	* html .blockC .block {
		margin-right: 0;
		margin-left: 0;
	}
.blockR { text-align: right;}
	.blockR .block {
		margin-left: auto;
		text-align: left;
	}
	/* ie 6 Fix */
	* html .blockR .block {
		margin-left: 0;
	}


/* ---------------------------------------------
	tools
--------------------------------------------- */
.clear { 
	clear: both;
}

.block  { display: block;}
.inline { display: inline;}
.hide   { display: none;}

.nobg {
	background: none !important;
}

.underLine { text-decoration: underline;}
.noLine    { text-decoration: none;}

/* ---------------------------------------------
	font Style
--------------------------------------------- */
.fNormal	{ font-weight: normal;} 
.fBold		{ font-weight: bold;}
.fItalic	{ font-style: italic;}

.fRed			{ color:#ff0000;}
.fS		{ font-size: 91%;}

/* ---------------------------------------------
	R[fBO}[J[
--------------------------------------------- */
.atode { border: 2px solid #9966CC; padding: 10px; text-align: center; background-color: #FF99FF; font-size: 30px; color: #FFF;}


/* ---------------------------------------------
	JavaScript Class
--------------------------------------------- */
.over            {/* [I[o[?ﾑ出p */}
.heightLine-     {/* heightLine.js?ﾑ出p */}
.png             {/* DD_belatedPNG.js?ﾑ出p */}

/* = a hover underline
-------------------------------------------------------------- */
.sectionLv1 a {
	text-decoration: underline !important;
}
.sectionLv1 a:hover {
	text-decoration: none !important;
}

/* = second level button
-------------------------------------------------------------- */
.box_type01_col1_list li,
.box_type01_col2_list li,
.box_type01_col3_list li {
	display: block;
	min-height: 1%;
}
.box_type01_col1_list li:after,
.box_type01_col2_list li:after,
.box_type01_col3_list li:after {
	clear: both;
	content:".";
	display: block;
	height: 0;
	visibility: hidden;
}
* html .box_type01_col1_list li:after,
* html .box_type01_col2_list li:after
* html .box_type01_col3_list li:after {
	height: 1%;
	/*\*//*/
	height: auto;
	overflow: hidden;
	/**/
}
.box_type01_col1 {
	padding-top: 1px;
	background: url(../images/box_type01_bg.jpg) 0 top no-repeat;
	margin-bottom: 10px;
	width: 256px;
}
	.box_type01_col1_inner {
		background: url(../images/box_type01_bg.jpg) 0 bottom no-repeat;
		width: 256px;
	}
		.box_type01_col1_list {
			width: 256px;
			overflow: hidden;
		}

.box_type01_col2 {
	padding-top: 1px;
	background: url(../images/box_type01_bg.jpg) 0 top no-repeat;
	margin-bottom: 10px;
	width: 514px;
}
	.box_type01_col2_inner {
		background: url(../images/box_type01_bg.jpg) 0 bottom no-repeat;
		width: 514px;
	}
		.box_type01_col2_list {
			width: 514px;
			overflow: hidden;
		}

.box_type01_col3 {
	padding-top: 1px;
	background: url(../images/box_type01_bg.jpg) 0 top no-repeat;
	margin-bottom: 10px;
}
	.box_type01_col3_inner {
		background: url(../images/box_type01_bg.jpg) 0 bottom no-repeat;
	}
		.box_type01_col3_list {
			width: 771px;
			overflow: hidden;
		}
			.box_type01_col1_list li,
			.box_type01_col2_list li,
			.box_type01_col3_list li {
				float: left;
				width: 246px;
				padding: 5px 6px 0 5px;
			}
				.box_type01_col1_list li img,
				.box_type01_col2_list li img,
				.box_type01_col3_list li img {
					margin-bottom: 10px;
				}
				
				
p.box_ttl {
	font-weight: bold;
	font-size: 108%;
	padding-bottom: 2px
}



.box_type02_col1 {
	padding-top: 6px;
	width: 390px;
	background: url(../images/box_type02_bg.jpg) 0 top no-repeat;
	margin-bottom: 10px;
}
	.box_type02_col1_inner {
		width: 390px;
		background: url(../images/box_type02_bg.jpg) 0 bottom no-repeat;
	}
		.box_type02_col1_list {
			_width: 390px;
			overflow: hidden;
		}
			.box_type02_col1_list li {
				float: left;
				width: 370px;
				_width: 384px;
				padding: 0px 7px 0 7px;
				margin-left: -1px;
				margin-right: 6px;
			}
				.box_type02_col1_list li img {
					margin-bottom: 10px;
				}

.box_type02_col2 {
	padding-top: 6px;
	background: url(../images/box_type02_bg.jpg) 0 top no-repeat;
	margin-bottom: 10px;
}
	.box_type02_col2_inner {
		background: url(../images/box_type02_bg.jpg) 0 bottom no-repeat;
	}
		.box_type02_col2_list {
			width: 780px;
			overflow: hidden;
		}
			.box_type02_col2_list li {
				float: left;
				width: 370px;
				_width: 384px;
				padding: 0px 7px 0 7px;
				margin-left: -1px;
				margin-right: 6px;
			}
				.box_type02_col2_list li img {
					margin-bottom: 10px;
				}
.box_type02_col2 a {
	text-decoration: none !important;
}
.box_type02_col2 li a:hover {
	text-decoration: none !important;
	color: #000;
}

.box_type04_col2 {
	padding-top: 6px;
	background: url(../images/box_type03_bg.jpg) 0 top no-repeat;
	margin-bottom: 10px;
}
	.box_type04_col2_inner {
		background: url(../images/box_type03_bg.jpg) 0 bottom no-repeat;
	}
		.box_type04_col2_list {
			width: 780px;
			overflow: hidden;
		}
			.box_type04_col2_list li {
				float: left;
				width: 370px;
				_width: 384px;
				padding: 0px 7px 0 7px;
				margin-left: -1px;
				margin-right: 6px;
			}
				.box_type04_col2_list li img {
					margin-bottom: 10px;
				}
.box_type04_col2 a {
	text-decoration: none !important;
}

.box_type02_col2_list li a .box_ttl{
	display: block;
	line-height: 125%;
}
.box_type02_col2_list li a .pb15{
	display: block;
	line-height: 150%;
}


/* = third level button
-------------------------------------------------------------- */
.sectionLv1 {
	margin-bottom:30px;
	/*line-height:1.2;*/
	line-height:1.4;
}

p.h1_basic00 {
	margin: 0 0 5px 0;
	border-left: 4px solid #cc0000;
	clear: both;
	height: 13px;
}

p.h1_basic00 {
	display: block;
	min-height: 1%;
}
p.h1_basic00:after {
	clear: both;
	content:".";
	display: block;
	height: 0;
	visibility: hidden;
}
* html p.h1_basic00 {
	height: 1%;
	/*\*//*/
	height: auto;
	overflow: hidden;
	/**/
}

p.h1_basic00 a {
	margin: 0 0 0 4px;
	_margin-left: 1px ;
	padding: 0;
	_padding-bottom: 1px;
	float: left;
}
p.h1_basic00 img {
	margin: 0;
	padding: 0;
	float: left;
}

	
.h1_basic01 {
	width:770px;
	background: url(/component/images/line/bg_h101.jpg) no-repeat left bottom;
	padding: 0 0 5px;
	font-size: 100%;
}

.main_img img {
	margin-top:1px;
}



.h2_basic01Box {
	clear: both;
	margin-top:15px;
}
.h2_basic01 {
	width:770px;
	height:26px;
	background:url(/component/images/line/bg_h201.jpg) left top no-repeat;
}
.h2_basic01 h2 {
	color:#3e3e3e;
	font-weight:bold;
	margin-left: 12px;
	padding-top: 5px;
	line-height: 1.5;
	font-size:100%;
}
.h2_basic01_c {
	width:770px;
	height:26px;
	background:url(/component/images/line/bg_h201.jpg) left top no-repeat;
}
.h2_basic01_c h2 {
	color:#3e3e3e;
	font-weight:bold;
	margin-left: 12px;
	padding-top: 2px;
	line-height: 1.5;
	font-size:100%;
}

.h4_basic01 {
	width:100%;
	background:url(/component/images/line/bg_h401.jpg) left top no-repeat;
	padding: 4px 0 4px 0;
}
.h4_basic01 h4 {
	color: #FFFFFF;
	font-weight:normal;
	padding-left: 10px;
	font-size:100%;
}
.sup_op{
	margin-top: -3px;
}

/*----------sec01----------*/
.sec01 {
	display: block;
	min-height: 1%;
}
.sec01:after {
	clear: both;
	content:".";
	display: block;
	height: 0;
	visibility: hidden;
}
* html .sec01 {
	height: 1%;
	/*\*//*/
	height: auto;
	overflow: hidden;
	/**/
}


.sec01 {
	clear: both;
	margin-top:11px;
}


.sec_leftBox {
	float: left;
	display: inline;
	margin-right: 10px;

}
.sec_rightBox {
	float: left;
	display: inline;
	width: 555px;
	margin-left: 10px;
}
.sec_rightBox p {
	font-size:100%;
}
.btn_basic01 {
	margin-top:13px;
	line-height:1.3;
}
.btn_basic01 a {
	display:block;
	float:left;
	width:auto;
	height:35px;
	padding-left:25px;	
	background:url(/component/images/btn/bg_btn01_01.jpg) no-repeat left top;
	text-decoration:none !important;
	cursor:pointer;
}
.btn_basic01 a span {
	display:block;
	float:left;
	width:auto;
	height:27px;
	_height:35px;
	padding-right:22px;
	padding-top:8px;
	background:url(/component/images/btn/bg_btn01_02.jpg) no-repeat right top;
	color:#000;
	font-weight:bold;
}
.btn_basic01 a:hover {
	background:url(/component/images/btn/bg_btn01_01_on.jpg) no-repeat left top;
}
.btn_basic01 a:hover span {
	background:url(/component/images/btn/bg_btn01_02_on.jpg) no-repeat right top;
}

.btn_basic02 {
	line-height:1.3;
	clear:both;
}
.btn_basic02 a {
	display:block;
	float:left;
	width:474px;
	_width:537px;
	height:35px;
	padding-left:25px;	
	background:url(/component/images/btn/bg_btn01_01.jpg) no-repeat left top;
	text-decoration:none !important;
	cursor:pointer;
	margin-bottom:5px;
	*margin-bottom:-5px;
}
.btn_basic02 a span {
	display:block;
	float:left;
	width:474px;
	_width:537px;
	height:27px;
	_height:35px;
	padding-right:62px;
	padding-top:8px;
	background:url(/component/images/btn/bg_btn02_02.jpg) no-repeat right top;
	color:#000;
	font-weight:bold;
}
.btn_basic02 a:hover {
	background:url(/component/images/btn/bg_btn01_01_on.jpg) no-repeat left top;
}
.btn_basic02 a:hover span {
	background:url(/component/images/btn/bg_btn02_02_on.jpg) no-repeat right top;
}

.btn_basic02_v {
	margin-top:13px;
	line-height:1.3;
}
.btn_basic02_v a {
	display:block;
	float:left;
	width:auto;
	height:35px;
	padding-left:25px;	
	background:url(/component/images/btn/bg_btn01_01.jpg) no-repeat left top;
	text-decoration:none !important;
	cursor:pointer;
}
.btn_basic02_v a span {
	display:block;
	float:left;
	width:auto;
	height:27px;
	_height:35px;
	padding-right:62px;
	padding-top:8px;
	background:url(/component/images/btn/bg_btn02_02.jpg) no-repeat right top;
	color:#000;
	font-weight:bold;
}
.btn_basic02_v a:hover {
	background:url(/component/images/btn/bg_btn01_01_on.jpg) no-repeat left top;
}
.btn_basic02_v a:hover span {
	background:url(/component/images/btn/bg_btn02_02_on.jpg) no-repeat right top;
}

.btn_basic04 {
	margin-top:13px;
	line-height:1.3;
}
*+html .btn_basic04 {
	line-height: 1.6;/*IE7*/
}
.btn_basic04 a {
	display:block;
	float:left;
	width:auto;
	height:35px;
	padding-left:25px;	
	background:url(/component/images/btn/bg_btn01_01.jpg) no-repeat left 0.2em;
	text-decoration:none !important;
	cursor:pointer;
}
.btn_basic04 a span {
	display:block;
	float:left;
	width:auto;
	height:27px;
	_height:35px;
	padding-right:22px;
	padding-top:8px;
	background:url(/component/images/btn/bg_btn01_02.jpg) no-repeat right  0.2em;
	color:#000;
	font-weight:bold;
}
.btn_basic04 a:hover {
	background:url(/component/images/btn/bg_btn01_01_on.jpg) no-repeat left  0.2em;
}
.btn_basic04 a:hover span {
	background:url(/component/images/btn/bg_btn01_02_on.jpg) no-repeat right  0.2em;
}

.btn_basicBL {
	margin-top:13px;
	line-height:1.3;
}
.btn_basicBL a {
	display:block;
	float:left;
	width:auto;
	height:35px;
	padding-left:25px;	
	background:url(/component/images/btn/bg_btnBL_01.jpg) no-repeat left top;
	text-decoration:none !important;
	cursor:pointer;
}
.btn_basicBL a span {
	display:block;
	float:left;
	width:auto;
	height:27px;
	_height:35px;
	padding-right:22px;
	padding-top:9px;
	background:url(/component/images/btn/bg_btnBL_02.jpg) no-repeat right top;
	color:#fff;
	font-weight:bold;
}
.btn_basicBL a:hover {
	background:url(/component/images/btn/bg_btnBL_01_on.jpg) no-repeat left top;
}
.btn_basicBL a:hover span {
	background:url(/component/images/btn/bg_btnBL_02_on.jpg) no-repeat right top;
}


.btn_basicBR {
	line-height:1.3;
	float: right;
	margin: 10px 0px 0px;
	padding: 0px;
	width: 320px;
}
.btn_basicBR a {
	display:block;
	float:right;
	width:280px;
	height:35px;
	background:url(/component/images/btn/bg_btnBL_03.jpg) no-repeat left top;
	text-decoration:none !important;
	cursor:pointer;
	padding-left: 25px;
}
.btn_basicBR a span {
	display:block;
	float:right;
	width:auto;
	height:27px;
	_height:35px;
	padding-right:18px;
	padding-top:10px;
	background:url(/component/images/btn/bg_btnBL_02.jpg) no-repeat right top;
	color:#fff;
	font-weight:bold;
	font-size: 12px;
}
.btn_basicBR a:hover {
	background:url(/component/images/btn/bg_btnBL_03_on.jpg) no-repeat left top;
}
.btn_basicBR a:hover span {
	background:url(/component/images/btn/bg_btnBL_02_on.jpg) no-repeat right top;
}


.h3_basic01 {
	clear:both;
	position:relative;
	width:770px;
	height:17px;
	margin-top:20px;
	background:url(/component/images/line/bg_h301.jpg) no-repeat left bottom;
}
.h3_basic02 {
	clear:both;
	position:relative;
	border-bottom: 1px solid #999999;
	height:17px;
	margin:20px 0 5px;
}
.h3_basic01 h3 {
	position:absolute;
	left:1px;
	top:0;
	color:#3e3e3e;
	font-size:100%;
	font-weight:bold;
}

/* araki 0208 sta
---------------------------------------------------------------*/
.accordion01_head {
	clear:both;
	position:relative;
	width:770px;
	height:19px;
	margin-top:20px;
	background:url(/component/images/line/bg_h302.jpg) no-repeat left bottom;
	cursor:pointer;
	line-height:1;
}
.accordion01_head p {
	position:absolute;
	left:0;
	top:0;
	height:15px;
	color:#3e3e3e;
	font-size:100%;
	font-weight:bold;
	padding-left:52px;
	background:url(/component/images/btn/bg_btn02.jpg) no-repeat 0 0;
	line-height:15px;
	padding-right: 10px;
	margin-top:1px;
	margin-bottom: 1px;
	vertical-align: middle;
}
.accordion01_head .accordion_downs {
	background:url(/component/images/btn/bg_btn02_down.jpg) no-repeat 0 0;
	line-height:15px;
	padding-right: 10px;
}
.accordionBox {
	clear:both;
	display:block;

}

.innerAccBox {
	margin:20px 0 25px 48px;
	width:695px;
}

/*.innerAccBox h4 {
	position:relative;
	height:21px;
	background:#e1e1e1;
	font-size:100%;
	line-height:1;
}
.innerAccBox h4 span {
	position:absolute;
	left:3px;
	top:3px;
}*/
.innerAccBox h4 {
	background:#e1e1e1;
	line-height: 1.7;
	padding-left: 6px;
}


.carImgBox01 {
	float:left;
	margin:5px 39px 0 0;
}
.ul_list_cat01 {
	float:left;
	margin-top:13px;
	width:267px;
}
.ul_list_cat01 h5 {
	_margin-bottom:4px;
	font-weight:bold;
}
.ul_list_cat01 ul {
	margin-bottom:10px;
}
.ul_list_cat01 .option {
	margin-bottom:2px;
}
.ul_list_cat01 ul li {
	padding-left:14px;
	background:url(/component/images/icon/ico_arrow02.gif) no-repeat left center;
}
.ul_list_cat01 ul li a.pdf {
	padding-right:18px;
	background:url(/component/images/icon/ico_adobeReader.jpg) no-repeat right center;

}
.innerAccBox02 {
	margin:11px 0 19px 0;
	width:770px;
}
.ul_list_cat02 {
	line-height: 1.5;
    list-style: disc outside none;
	margin-left:1em;
	_margin-left:1.5em;
    margin-bottom: 20px;
}
.pdf_notes{
	margin: 0px 0px 10px;
	padding: 0px;
	font-size: 96%;
}
/* araki 0208 end
---------------------------------------------------------------*/

/* = ??L
-------------------------------------------------------------- */

.carNavi {
	display: block;
	min-height: 1%;
	width: 100%;
}
.carNavi:after {
	clear: both;
	content:".";
	display: block;
	height: 0;
	visibility: hidden;
}
* html .carNavi:after {
	height: 1%;
	/*\*//*/
	height: auto;
	overflow: hidden;
	/**/
}
	.carNavi li {
		float: left;
	}

.ul_col06 {
	display: block;
	min-height: 1%;
	width: 100%;
}
.ul_col06:after {
	clear: both;
	content:".";
	display: block;
	height: 0;
	visibility: hidden;
}
* html .ul_col06:after {
	height: 1%;
	/*\*//*/
	height: auto;
	overflow: hidden;
	/**/
}
	.ul_col06 li {
	float: left;
	width: 124px;
	text-align: center;
	margin: 0 2px 10px;
	_margin: 0 4px 0 3px;
	padding-top: 12px;
	font-size:91%;
	}
		.ul_col06 li.ico_test {
			background:url(../images/icon/ico_car01.gif) no-repeat left 3px;
		}
		.ul_col06 li.ico_new {
			background:url(../images/icon/ico_new02.gif) no-repeat left top;
		}
		.ul_col06 li span {
			display: block;
		}

.ul_col04 {
	display: block;
	min-height: 1%;
}
.ul_col04:after {
	clear: both;
	content:".";
	display: block;
	height: 0;
	visibility: hidden;
}
* html .ul_col04:after {
	height: 1%;
	/*\*//*/
	height: auto;
	overflow: hidden;
	/**/
}
.ul_col04 {
	width: 770px;
	overflow: hidden;
}
	.ul_col04 li {
		float: left;
		width: 173px;
		padding-left: 10px;
		background:url(../../purchase/component/images/ico_arrow.gif) no-repeat left 50%;
		margin: 0 9px 10px 0;
	}
	.ul_col04 li.first {
		background: none;
	}
	.ul_col04 li.last {
		margin-bottom: 0px;
	}



.ul_basic {
}
.ul_basic li {
	background: url(../images/icon/ico_dot01.gif) no-repeat 0.1em 0.6em;
	padding-left: 0.8em;
}
	
/*------ imgBorder ------*/
.imgBorder {
	border:1px solid #d6d6d6;
}


/* ============================================
	gNavi
============================================ */
.headCaption {
	margin: 4px 0 5px 0;
}

#gNavi {
	position: relative;
	width: 770px;
	height: 43px;
	overflow: hidden;
}
	#gNavi li {
		position: absolute;
		top: 0;
		height: 43px;
		overflow: hidden;
	}
	#gNavi li.gNav01 {
		left: 0;
	}
	#gNavi li.gNav02 {
		left: 58px;
	}
	#gNavi li.gNav03 {
		left: 112px;
	}
	#gNavi li.gNav04 {
		left: 220px;
	}
	#gNavi li.gNav05 {
		left: 298px;
	}
	#gNavi li.gNav06 {
		left: 403px;
	}
	#gNavi li.gNav07 {
		left: 477px;
	}
	#gNavi li.gNav08 {
		left: 550px;
	}
	#gNavi li.gNav09 {
		left: 628px;
	}
		#gNavi li a {
			display: block;
			width: 770px;
			height: 129px;
		}
		#gNavi li.gNav02 a { margin-left: -58px;}
		#gNavi li.gNav03 a { margin-left: -112px;}
		#gNavi li.gNav04 a { margin-left: -220px;}
		#gNavi li.gNav05 a { margin-left: -298px;}
		#gNavi li.gNav06 a { margin-left: -403px;}
		#gNavi li.gNav07 a { margin-left: -477px;}
		#gNavi li.gNav08 a { margin-left: -550px;}
		#gNavi li.gNav09 a { margin-left: -628px;}
		#gNavi li a:hover {
			margin-top: -43px;
		}

/* --------------------------------------------
	gNavi active -
-------------------------------------------- */
		#gNavi li.gCur a,
		#gNavi li.gCur a:hover {
			margin-top: -86px;
		}

/* ============================================
	gNavi02
============================================ */
.headCaption {
	margin: 4px 0 5px 0;
}

#gNavi02 {
	position: relative;
	width: 770px;
	height: 43px;
	overflow: hidden;
}
	#gNavi02 li {
		position: absolute;
		top: 0;
		height: 43px;
		overflow: hidden;
	}
	#gNavi02 li.gNav01 {
		left: 0;
	}
	#gNavi02 li.gNav02 {
		left: 80px;
	}
	#gNavi02 li.gNav03 {
		left: 155px;
	}
	#gNavi02 li.gNav04 {
		left: 285px;
	}
	#gNavi02 li.gNav05 {
		left: 383px;
	}
	#gNavi02 li.gNav06 {
		left: 507px;
	}
	#gNavi02 li.gNav07 {
		left: 606px;
	}
		#gNavi02 li a {
			display: block;
			width: 770px;
			height: 129px;
		}
		#gNavi02 li.gNav02 a { margin-left: -80px;}
		#gNavi02 li.gNav03 a { margin-left: -155px;}
		#gNavi02 li.gNav04 a { margin-left: -285px;}
		#gNavi02 li.gNav05 a { margin-left: -383px;}
		#gNavi02 li.gNav06 a { margin-left: -507px;}
		#gNavi02 li.gNav07 a { margin-left: -606px;}
		#gNavi02 li a:hover {
			margin-top: -43px;
		}

/* --------------------------------------------
	gNavi02 active -
-------------------------------------------- */
		#gNavi02 li.gCur a,
		#gNavi02 li.gCur a:hover {
			margin-top: -86px;
		}

/* ============================================
	gNavi03
============================================ */
.headCaption {
	margin: 4px 0 5px 0;
}

#gNavi03 {
	position: relative;
	width: 770px;
	height: 43px;
	overflow: hidden;
}
	#gNavi03 li {
		position: absolute;
		top: 0;
		height: 43px;
		overflow: hidden;
	}
	#gNavi03 li.gNav01 {
		left: 0;
	}
	#gNavi03 li.gNav02 {
		left: 183px;
	}
	#gNavi03 li.gNav03 {
		left: 361px;
	}
	#gNavi03 li.gNav04 {
		left: 527px;
	}
	#gNavi03 li.gNav05 {
		left: 655px;
	}
		#gNavi03 li a {
			display: block;
			width: 770px;
			height: 129px;
		}
		#gNavi03 li.gNav02 a { margin-left: -183px;}
		#gNavi03 li.gNav03 a { margin-left: -361px;}
		#gNavi03 li.gNav04 a { margin-left: -527px;}
		#gNavi03 li.gNav05 a { margin-left: -655px;}
		#gNavi03 li a:hover {
			margin-top: -43px;
		}


#gNavi03_2 {
	position: relative;
	width: 770px;
	height: 43px;
	overflow: hidden;
}
	#gNavi03_2 li {
		position: absolute;
		top: 0;
		height: 43px;
		overflow: hidden;
	}
	#gNavi03_2 li.gNav01 {
		left: 0;
	}
	#gNavi03_2 li.gNav02 {
		left: 189px;
	}
	#gNavi03_2 li.gNav03 {
		left: 347px;
	}
	#gNavi03_2 li.gNav04 {
		left: 515px;
	}
	#gNavi03_2 li.gNav05 {
		left: 647px;
	}

		#gNavi03_2 li a {
			display: block;
			width: 770px;
			height: 129px;
		}
		#gNavi03_2 li.gNav02 a { margin-left: -189px;}
		#gNavi03_2 li.gNav03 a { margin-left: -347px;}
		#gNavi03_2 li.gNav04 a { margin-left: -515px;}
		#gNavi03_2 li.gNav05 a { margin-left: -647px;}
		#gNavi03_2 li a:hover {
			margin-top: -43px;
		}



/* --------------------------------------------
	gNavi active -
-------------------------------------------- */
		#gNavi03 li.gCur a,
		#gNavi03 li.gCur a:hover {
			margin-top: -86px;
		}
		#gNavi03_2 li.gCur a,
		#gNavi03_2 li.gCur a:hover {
			margin-top: -86px;
		}

/* ============================================
	gNavi04
============================================ */
.headCaption {
	margin: 4px 0 5px 0;
}

#gNavi04 {
	position: relative;
	width: 770px;
	height: 43px;
	overflow: hidden;
}
	#gNavi04 li {
		position: absolute;
		top: 0;
		height: 43px;
		overflow: hidden;
	}
	#gNavi04 li.gNav01 {
		left: 0;
	}
	#gNavi04 li.gNav02 {
		left: 154px;
	}
	#gNavi04 li.gNav03 {
		left: 308px;
	}
	#gNavi04 li.gNav04 {
		left: 462px;
	}
	#gNavi04 li.gNav05 {
		left: 616px;
	}
		#gNavi04 li a {
			display: block;
			width: 770px;
			height: 129px;
		}
		#gNavi04 li.gNav02 a { margin-left: -154px;}
		#gNavi04 li.gNav03 a { margin-left: -308px;}
		#gNavi04 li.gNav04 a { margin-left: -462px;}
		#gNavi04 li.gNav05 a { margin-left: -616px;}
		#gNavi04 li a:hover {
			margin-top: -43px;
		}

/* --------------------------------------------
	gNavi active -
-------------------------------------------- */
		#gNavi04 li.gCur a,
		#gNavi04 li.gCur a:hover {
			margin-top: -86px;
		}

/* ============================================
	gNavi05
============================================ */
.headCaption {
	margin: 4px 0 5px 0;
}

#gNavi05 {
	position: relative;
	width: 770px;
	height: 43px;
	overflow: hidden;
}
	#gNavi05 li {
		position: absolute;
		top: 0;
		height: 43px;
		overflow: hidden;
	}
	#gNavi05 li.gNav01 {
		left: 0;
	}
	#gNavi05 li.gNav02 {
		left: 142px;
	}
	#gNavi05 li.gNav03 {
		left: 282px;
	}
	#gNavi05 li.gNav04 {
		left: 461px;
	}
		#gNavi05 li a {
			display: block;
			width: 770px;
			height: 129px;
		}
		#gNavi05 li.gNav02 a { margin-left: -142px;}
		#gNavi05 li.gNav03 a { margin-left: -282px;}
		#gNavi05 li.gNav04 a { margin-left: -461px;}
		#gNavi05 li a:hover {
			margin-top: -43px;
		}

/* --------------------------------------------
	gNavi active -
-------------------------------------------- */
		#gNavi05 li.gCur a,
		#gNavi05 li.gCur a:hover {
			margin-top: -86px;
		}
	


/*------ subNavi ------*/
.ul_primary,
.ul_secondary {
	display: block;
	min-height: 1%;
	width: 100%;
}
.ul_primary:after,
.ul_secondary:after {
	clear: both;
	content:".";
	display: block;
	height: 0;
	visibility: hidden;
}
* html .ul_primary:after,
* html .ul_secondary:after {
	height: 1%;
	/*\*//*/
	height: auto;
	overflow: hidden;
	/**/
}

.subNavi {
	margin-bottom: 20px;
}
/*IE67*/
.subNavi, {
	margin-bottom: 10px;
}
	.subNavi_primary {
		background:url(/component/images/bg_sub01.jpg) no-repeat left top;
		width: 770px;
		padding-top: 5px;
	}
	.subNavi_primary02 {
		background:url(/component/images/bg_sub01_02.jpg) no-repeat left top;
		width: 770px;
		padding-top: 8px;
	}
		.subNavi_primary_inner {
			background:url(/component/images/bg_sub01.jpg) no-repeat left bottom;
			width: 770px;
			/padding-bottom: 9px;
		}
		.subNavi_primary_inner02 {
			background:url(/component/images/bg_sub01_02.jpg) no-repeat left bottom;
			width: 770px;
			padding-bottom: 3px;
		}

			.ul_primary {
				margin-left: 12px;
				width: 758px;
				overflow: hidden;
			}
				.ul_primary li {
					float: left;
					margin: 2px 2px 9px -2px;
					padding-left: 3px;
					background:url(/component/images/bg_btn_sub.jpg) no-repeat 1px 50%;
				}
				
	.subNavi_secondary {
		position: relative;
		margin-top: -8px;
		background:url(/component/images/bg_sub02.jpg) no-repeat left top;
		width: 770px;
		padding: 12px 0 7px 0;
	}
	.subNavi_secondary02 {
		position: relative;
		margin-top: -8px;
		background:url(/component/images/bg_sub02_02.jpg) no-repeat left top;
		width: 770px;
		padding: 12px 0 7px 0;
	}
		.ul_secondary {
				margin-left: 18px;
		}
				.ul_secondary li {
					float: left;
					margin-right: 11px;
				}
					.ul_secondary li a {
						display: block;
						padding-bottom: 4px;
						background: none;
					}
					.ul_secondary li a:hover {
						background: url(/component/images/bg_second_on.jpg) repeat-x left bottom;
					}
					.ul_secondary li a.secondary_current {
						background: url(/component/images/bg_secand_c.jpg) repeat-x left bottom;
					}

.secondary_option li {
					padding-right: 8px;
				}

/*----- border3px -----*/
.tit_common_heartyrun {
	border-left: 3px solid #000000;
	font-weight: bold;
	padding-left: 5px;
	line-height: 1.3;
}
/* IE6 */
*html .tit_common_heartyrun { padding-top: 2px; }
/* IE7 */
*:first-child+html .tit_common_heartyrun { padding-top: 3px; }


.table_type101 {
	border-top: 1px solid #666666;
	border-left: 1px solid #666666;
}
	.table_type101 th,
	.table_type101 td {
		border-right: 1px solid #666666;
		border-bottom: 1px solid #666666;
	}
		.table_type101 th td,
		.table_type101 td td {
			border-right: none;
			border-bottom: none;
		}
	.table_type101 th div,
	.table_type101 td div {
		margin: 2px 4px 2px 4px;
	}
	.table_type101 th {
		background-color: #999999;
		color: #FFFFFF;
		text-align: center;
	}

/*----- icon -----*/
.icon_window {
	background: url(/component/images/icon/icon_window01.gif) right 10% no-repeat;
	padding-right: 1.0em;
}

.icon_wrench {
	background: url(/component/images/icon/icon_wrench01.gif) no-repeat left 3px;
	padding-left: 1.3em;
}


/*----- getAdobe -----*/
.getAdobe_area {
	padding-top: 5px;
	background: url(/component/images/line/bg_gradation_line.jpg) right top no-repeat;
}

/*----- Page Top -----*/
.pageTop {
	width: 769px;
	margin-top: 15px;
	background: url(/component/images/line/bg_gradation_line.jpg) right bottom no-repeat;
}
	.pageTop p {
		text-align: right;
		padding-bottom: 1px;
	}

/*new*/
.box_type02_col0 {
	padding-top: 6px;
	width: 770px;
	background: url(../images/box_type00_bg.jpg) 0 top no-repeat;
	margin-bottom: 10px;
}
	.box_type02_col0_inner {
		width: 770px;
		background: url(../images/box_type00_bg.jpg) 0 bottom no-repeat;
	}
		.box_type02_col0_list {
			_width: 770px;
			overflow: hidden;
		}
			.box_type02_col0_list li {
				float: left;
				width: 750px;
				_width: 764px;
				padding: 0px 7px 0 7px;
				margin-left: -1px;
				margin-right: 6px;
			}
				.box_type02_col0_list li img {
					margin-bottom: 10px;
				}


/*螟夜Κ繝ｪ繝ｳ繧ｯ逕ｨ豎守畑繝懊ち繝ｳ*/
.btn_basic03 {
	margin-top:13px;
	line-height:1.3;
}
.btn_basic03 a {
	display:block;
	float:left;
	width:auto;
	height:35px;
	padding-left:25px;	
	background:url(/component/images/btn/bg_btn01_03.jpg) no-repeat left top;
	text-decoration:none !important;
	cursor:pointer;
}
.btn_basic03 a span {
	display:block;
	float:left;
	width:auto;
	height:27px;
	_height:35px;
	padding-right:22px;
	padding-top:8px;
	background:url(/component/images/btn/bg_btn01_02.jpg) no-repeat right top;
	color:#000;
	font-weight:bold;
}
.btn_basic03 a:hover {
	background:url(/component/images/btn/bg_btn01_03_on.jpg) no-repeat left top;
}
.btn_basic03 a:hover span {
	background:url(/component/images/btn/bg_btn01_02_on.jpg) no-repeat right top;
}


.btn_basic03_b {
	line-height:1.3;
	clear: left;
}
.btn_basic03_b a {
	margin-top:0px;
	display:block;
	float:left;
	width:auto;
	height:35px;
	padding-left:25px;	
	background:url(/component/images/btn/bg_btn01_03.jpg) no-repeat left top;
	text-decoration:none !important;
	cursor:pointer;
}
.btn_basic03_b a span {
	display:block;
	float:left;
	width:auto;
	height:27px;
	_height:35px;
	padding-right:22px;
	padding-top:8px;
	background:url(/component/images/btn/bg_btn01_02.jpg) no-repeat right top;
	color:#000;
	font-weight:bold;
}
.btn_basic03_b a:hover {
	background:url(/component/images/btn/bg_btn01_03_on.jpg) no-repeat left top;
}
.btn_basic03_b a:hover span {
	background:url(/component/images/btn/bg_btn01_02_on.jpg) no-repeat right top;
}


/*外部リンク用汎用ボタン*/
.btn_basic03_c {
	margin-top:13px;
	line-height:1.3;
}
.btn_basic03_c a {
	display:block;
	float:left;
	width:auto;
	height:35px;
	padding-left:25px;	
	background:url(/component/images/btn/bg_btn01_03.jpg) no-repeat left top;
	text-decoration:none !important;
	cursor:pointer;
}
.btn_basic03_c a span {
	display:block;
	float:left;
	width:auto;
	height:32px;
	_height:35px;
	padding-right:22px;
	padding-top:3px;
	background:url(/component/images/btn/bg_btn01_02.jpg) no-repeat right top;
	color:#000;
	font-weight:bold;
	line-height: 20px;
}
.btn_basic03_c a:hover {
	background:url(/component/images/btn/bg_btn01_03_on.jpg) no-repeat left top;
}
.btn_basic03_c a:hover span {
	background:url(/component/images/btn/bg_btn01_02_on.jpg) no-repeat right top;
}


.btn_basic01_c {
	margin-top:13px;
	line-height:1.3;
}
.btn_basic01_c a {
	display:block;
	float:left;
	width:auto;
	height:35px;
	padding-left:25px;	
	background:url(/component/images/btn/bg_btn01_01.jpg) no-repeat left top;
	text-decoration:none !important;
	cursor:pointer;
}
.btn_basic01_c a span {
	display:block;
	float:left;
	width:auto;
	height:32px;
	_height:35px;
	padding-right:22px;
	padding-top:3px;
	background:url(/component/images/btn/bg_btn01_02.jpg) no-repeat right top;
	color:#000;
	font-weight:bold;
	line-height: 20px;
}
.btn_basic01_c a:hover {
	background:url(/component/images/btn/bg_btn01_01_on.jpg) no-repeat left top;
}
.btn_basic01_c a:hover span {
	background:url(/component/images/btn/bg_btn01_02_on.jpg) no-repeat right top;
}

.option_link {
	background: url(/component/images/icon_menuA.gif) no-repeat left 2px;
	padding-left: 20px;
	line-height: 17px;
	font-weight: bold;
	padding-bottom: 3px;
	padding-top: 3px;
	text-decoration: none;
}
.option_link a{
	color: #333;
	text-decoration: none;
}
.option_link a:visited {
	color: #666;
	text-decoration: none;
}

/* --------------------------------------------
	sitemap
-------------------------------------------- */
.sitemap_sideL {
	width: 380px;
	float: left;
}
.sitemap_sideR {
	width: 380px;
	float: right;
}
.h2_basic02Box {
	clear: both;
	margin-top:15px;
}
.h2_basic02 {
	width:380px;
	height:26px;
	background:url(/component/images/line/bg_h203.jpg) left top no-repeat;
}
	.h2_basic02 h2 {
		color:#3e3e3e;
		font-weight:bold;
		margin-left: 12px;
		padding-top: 4px;
		line-height: 1.5;
		font-size:100%;
	}
	
.ul_sitemap01 {
	line-height: 1.7;
	margin-bottom: 20px;
}
.ul_sitemap01 li {
}
	.ul_sitemap01 a {
		text-decoration: none !important;
		display: block;
		background: url(../images/icon/ico_arrow03.gif) 3px center no-repeat;
		padding-left: 11px;
	}
	
	.ul_sitemap01 span {
		padding-left: 11px;
	}
		.ul_sitemap01 li p {
			border-bottom: 1px solid #ccc;
		}
			.ul_sitemap01 li ul li {
				margin-left: 80px;
			}
				.ul_sitemap01 li ul li ul li {
					margin-left: 60px;
				}

.sitemap_sideL li a:hover {
	text-decoration: none !important;
	background: #CCC;
	}
.sitemap_sideR li a:hover {
	text-decoration: none !important;
	background: #CCC;
	}
.sitemap_sideR li a:active {
	text-decoration: none !important;
	background: #CCC;
	color: #000;
	}

/*scroll*/

.top_frames
			{
	width: 467px;
	height: 120px;
	overflow: auto;
			}
.jspContainer
{
	overflow: hidden;
	position: relative;
}

.jspPane
{
	position: absolute;
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 0;
	width: 5px;
	height: 100%;
	background: red;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
	margin: 0;
	padding: 0;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	background: #E3E3E3;
	position: relative;
}

.jspDrag
{
	background: #ADADAD;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow
{
	height: 16px;
}

.jspHorizontalBar .jspArrow
{
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

* html .jspCorner
{
	margin: 0 -3px 0 0;
}

#smtfoneTop{
display:none;
visibility: hidden;
margin: 0 10px;
}


/* ---------------------------------------------
	About topjs
--------------------------------------------- */

.topbanner_under{
	position: absolute;
	right: 20px;
	top: 380px;
}

.topbanner_01{
	position: absolute;
	right: 20px;
	top: 15px;
}
.topbanner_02{
	position: absolute;
	right: 20px;
	top: 65px;
}


#fade_menus{
	position:relative; 
	z-index:5; 
	*margin-left:0px;
}
.fadeie6{
	display: none;
	_display:block;
	position:absolute;
	left: 8px;
	top: 445px;
}
.fade_menusie{
	display: none;
	_display:block;
	position: relative;
	zoom: 1;
	width: 950px;
	margin-left: 10px;
	height: 475px;
}

.flex-container a,
.maintop a,
.flex-container a:active,
.maintop a:active,
.flex-container a:focus,
.maintop a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}
.maintop {margin: 0; padding: 0;}
.maintop .slides > li {display: none; -webkit-backface-visibility: hidden;} 
.maintop .slides img {max-width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}
.no-js .slides > li:first-child {display: block;}
.maintop {
	position: relative;
	zoom: 1;
	width: 950px;
	margin-left: 10px;
	height: 475px;
	_display:none;
}
.maintop .slides {zoom: 1;}
.maintop .slides > li {position: relative;}
.flex-container {zoom: 1; position: relative;}
.flex-direction-nav { height: 0; }
.flex-control-nav {
	width: 100%;
	position: absolute;
	text-align: center;
	bottom: 10px;
	z-index: 200;
	_height: 11px;
	_overflow: hidden;
}
.flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav a {
	width: 13px;
	height: 13px;
	display: block;
	background: url(/component/topimages/bg_control_nav.png) no-repeat;
	cursor: pointer;
	text-indent: -999em;
}
.flex-control-nav a:hover {background-position: 0 -13px;}
.flex-control-nav a.flex-active {background-position: 0 -26px; cursor: default;}
