
<div id="mesheader">
<p id="titleimg"><img src="/lineup/common/images/movie_tx_01.gif" alt="CM / MOVIE" width="122" height="47"></p>
</div>


<p><img src="/lineup/common/images/mes_bg_01.gif" alt="" width="800" height="3"></p>

<div id="voiceArea">

<h3 class="txtCenter"><img src="/i-miev/movie/images/movie_h3_02.gif" alt="TVCM" width="768" height="17"></h3>

<div class="voiceBlock clearfix">
<div class="voiceBox">
<div class="voiceLead">
<p class="boxend">「電気自動車のひと、増えてます」篇</p>
<p><a href="http://www.mitsubishi-motors.co.jp/special/entertainment/cm/cmstory/index.html">CM撮影秘話はこちら</a></p>
<!-- /voiceLead --></div>
<div class="voiceImg">
<p><a href="http://youtu.be/VuIUchwpTKM" class="imglink movie" target="_blank"><img src="/i-miev/movie/images/movie01_im_06.jpg" alt="「電気自動車と暮らす」篇" height="78" width="108"></a></p>
<!-- /voiceImg --></div>
<!-- /voiceBox --></div>


<!-- /voiceBlock --></div>

</div>


<iframe src="common/log/movie.html" style="display:none;"></iframe>
